//
// Breadcrumbs
// --------------------------------------------------
.breadcrumb {
  padding: 0;
  border: 1px solid #b6b6b6;
  .border-radius(~"~"0 4px 4px / 0 3px 3px"");
  .background-image(~"linear-gradient(bottom, #e3e3e3 0%, #fff 99.49%, #fff 100%)");
  > li {
    padding: 8px 15px 8px 20px;
    display: inline-block;
    &+li:before {
      content: "";
    }
    &:after {
      content: "";
      background: url(images/breadcrumb-arrow.png) no-repeat;
      padding: 0;
      position: absolute;
      width: 15px;
      height: 36px;
      margin-top: -8px;
      margin-left: 19px;
    }

    a {
      color: #656565;
      font-weight: bold;
      text-shadow: 0 1px 0 #fff;
      &:hover {
        text-decoration: none;
      }
    }
  }
  > .active {
    color: #454545;
    text-shadow: 0 -1px 0 rgba(255,255,255,.54);
    background: url(images/breadcrumb-bg-active.png) repeat-x;
    &:after {
      content: "";
      background-image: url(images/breadcrumb-arrow-active.png);
      margin-left: 15px;
      width: 16px;
    }
  }
}

