//
// Cornerstone List
// --------------------------------------------------
.list-group-cornerstone {
  margin: -15px;
}

.panel-group {
  > .panel {
    margin-bottom: 0;
    border-radius: 0;
  }
  > .panel:first-child {
    border-radius: @panel-border-radius @panel-border-radius 0 0;
  }
  > .panel:last-child {
    margin-bottom: 20px;
    border-radius: 0 0 @panel-border-radius @panel-border-radius;
  }

  .panel-sub-heading {
    font-size: (@font-size-base * 1.1);
  }
}

.list-group-item {
  .glyphicon {
    &.pull-right {
      margin-right: -15px;
    }
  }
}