//
// Cornerstone List
// --------------------------------------------------
.panel .list-group-cornerstone {
  margin: -15px;
}

.panel-group {
  .panel + .panel {
    margin-top: 0;
  }
  & > .panel {
    margin-bottom: 0;
    border-radius: 0;
  }

  .panels {
    border-radius: 5px;
    .box-shadow(~"0 3px 2px rgba(0, 0, 0, 0.18)");
    & > .panel:first-child {
      border-radius: @panel-border-radius @panel-border-radius 0 0;
      .list-group-item:last-child {
        padding: 10px 15px 18px 15px;
      }
      margin-bottom: -4px;
    }
    & > .panel:last-child {
      margin-bottom: 20px;
      border-radius: 0 0 @panel-border-radius @panel-border-radius;
    }
  }

  .panel {
    .box-shadow(none);
    border: none;
  }

  .list-group-item:first-child {
    border-radius: 0;
  }

  .panel-heading, .panel-sub-heading {
    border-right: 1px solid #CCC;
    border-radius: 5px 0 0 0;
  }

  .panel-sub-heading {
    font-size: (@font-size-base * 0.95);
  }
}
