//
// Jumbotron
// --------------------------------------------------

.jumbotron {
  border: 1px solid #b6b6b6;
  border-radius: 5px;
  background-color: #fff;
  .background-image(~"linear-gradient(bottom, rgba(227,227,227,1) 0%, rgba(255,255,255,.55) 99.49%, rgba(255,255,255,.55) 100%)");
}