//
// NavBar
// --------------------------------------------------
.navbar {
  padding-right: 5px;
  padding-left: 5px;
  border: 1px solid #b6b6b6;
  .box-shadow(~"0 3px 2px rgba(0,0,0,.18)");
  .background-image(~"linear-gradient(bottom, #e3e3e3 0%, #fff 99.49%, #fff 100%)");
}

.navbar-nav {
  & > li {
    & > a {
      &:hover, &:focus {
        color: #1f8fb9;
        text-shadow: 0 0 2px #fff;
        font-weight: bold;
      }
      &:active {
        .navbar-nav-active();
      }
    }
  }
  & > .active {
    & > a,
    & > a:hover,
    & > a:focus {
      .navbar-nav-active();
    }
  }
}

.navbar-nav {
  & > li > a > .glyphicon {
    position: relative;
    top: 2px;
    right: 1px;
    display: block;
    float: left;
    font-size: 16px;
  }
}

.navbar-icon {
  li {
    > a {
      font-size: 0;
      & > .glyphicon {
        line-height: 0;
      }
    }
  }

  .dropdown-menu {
    li {
      > a {
        font-size: @font-size-base;
      }
    }
  }

  .navbar-search {
    .search-query {
      margin: 3px 0 0 0;
    }
  }
}

@media screen and (min-width: 768px) {
  .navbar-brand {
    margin-left: 0;
  }

  .navbar-nav:not(.pull-right) > li > a {
    border-right: 1px solid #b6b6b6;
  }
}

@media (max-width: @screen-phone-max) {
  .navbar-icon {
    li {
      & > a {
        font-size: @font-size-base;
      }
    }
  }
}

.navbar-form, .navbar-collapse {
  border: none;
}

.navbar-toggle {
  &:hover, &:focus {
    background-color: transparent;
  }
}

.navbar-mobile {
  .flex-box();
  overflow: hidden;
  margin: 0;
  padding: 0;
  min-height: 68px;
  width: 100%;
  border: none;
  background: none;
  box-shadow: none;

  & > .active,
  & > li:active,
  & > a:active {
    background-color: #2d95bb;
    .box-shadow(~"inset 0 2px 7px rgba(0,0,0,.55)");
    .background-image(~"linear-gradient(top, #308ab6, #46b3e8)");
    a, span, .glyphicon {
      color: @text-color-inverse;
    }
  }

  & > li,
  & > a {
    display: block;
    border: 1px solid #a8a8a8;
    list-style-type: none;
    .navbar-mobile-list-style();
    .box-shadow(~"0 3px 2px rgba(0,0,0,.18)");
    .background-image(~"linear-gradient(bottom, #e3e3e3 0%, #fff 99.49%, #fff 100%)");
    &:first-child {
      border-radius: 5px 0 0 5px;
    }
    &:last-child {
      border-radius: 0 5px 5px 0;
    }

    &:not(:first-child) {
      border-left: none;
    }
  }

  a {
    color: @navbar-link-color;
    text-decoration: none;
    > .glyphicon {
      display: block;
      margin-bottom: -5px;
      padding: 10px 0 0 0;
      font-size: (@font-size-base * 1.5);
    }

    &:hover:not(.active), &:focus:not(.active) {
      color: #1f8fb9;
    }
  }

  span.text {
    padding: 0 2px;
    .ellipsis();
  }

  &.navbar-mobile-primary {
    & > li,
    & > a {
      border: 1px solid #24749c;
      color: @text-color-inverse;
      .navbar-mobile-list-style();
      .box-shadow(~"0 3px 2px rgba(0,0,0,.09), inset 0 0 2px 0 #fff");
      .background-image(~"linear-gradient(bottom, #2a81ac, #3b9bc9)");
    }

    a {
      &:hover:not(.active), &:focus:not(.active) {
        background-color: #fff;
        color: @text-color-inverse;
        .background-image(~"linear-gradient(top, #46b3e8, #308ab6)");
      }
    }

    & > .active,
    & > li:active,
    & > a:active {
      background-color: #2d95bb;
      .box-shadow(~"inset 0 2px 7px rgba(0,0,0,.55)");
      .background-image(~"linear-gradient(top, #308ab6, #46b3e8)");
    }
  }
}

// Fixed Navbar안의 Dropdown UI
@media (max-width: 768px) {
  .navbar[class*=navbar-fixed-] {
    .dropdown-menu {
      position: relative;
      background: transparent;
      box-shadow: none;
      border: none;
      padding-left: 30px;
      float: none;
      & > li {
        width: 100%;
        & > a {
          padding: 3px 20px 3px 5px;

          &:hover, &:active {
            color: @navbar-link-hover-color;
            background: @navbar-link-hover-bg;
          }
        }
      }

      > li > a {
        color: @navbar-link-color;
        border-radius: @border-radius-base;
      }
      > li > a:hover,
      > li > a:focus {
        color: @navbar-link-hover-color;
        background-color: @navbar-link-hover-bg;
      }
      > .active > a,
      > .active > a:hover,
      > .active > a:focus {
        color: @navbar-link-active-color;
        background-color: @navbar-link-active-bg;
      }
      > .disabled > a,
      > .disabled > a:hover,
      > .disabled > a:focus {
        color: @navbar-link-disabled-color;
        background-color: @navbar-link-disabled-bg;
      }

    }
  }
}

// Placeholder
// --------------------------------------------------
.navbar-mobile-list-style() {
  text-align: center;
  padding: 3px 0 0 0;
  width: 100%;
  .flex();
}

.navbar-nav-active() {
  color: #454545;
  font-weight: bold;
  text-shadow: 0 -1px 0 rgba(255, 255, 255, .54);
  .box-shadow(~"inset 0 0 7px rgba(0,0,0,.55)");
  .background-image(~"linear-gradient(bottom, rgba(216,216,216,.72) 36.36%, rgba(216,216,216,.72) 36.88%, rgba(202,202,202,.72) 49.08%, rgba(166,166,166,.72) 106.51%, rgba(48,48,48,.72) 122.08%, rgba(48,48,48,.72) 136.36%)");
}