//
// NavBar
// --------------------------------------------------
@navbar-border: 1px solid #b6b6b6;
@navbar-background: "";
@navbar-background-image: "";
@navbar-shadow: ~"0 3px 2px rgba(0,0,0,.18)";
@navbar-text-color: "";

.navbar {
  padding-right: 5px;
  padding-left: 5px;
  .cs-property(border, @navbar-border);
  .cs-property(background, @navbar-background);
  .cs-mixin(background-image, @navbar-background-image);
  .cs-mixin(box-shadow, @navbar-shadow);
  .cs-property(color, @navbar-text-color);
}

.navbar-nav {
  .open {
    & > a {
      .navbar-nav-active();
    }
  }
  a {
    color: @navbar-default-link-color;
    &:hover, &:focus {
      color: @navbar-default-link-color;
    }
    &:active {
      .navbar-nav-active();
    }

    &:hover, &:focus, &:active {
      .caret {
        border-top-color: @navbar-default-link-color;
        border-bottom-color: @navbar-default-link-color;
      }
    }
  }
  & > .active {
    & > a,
    & > a:hover,
    & > a:focus {
      .navbar-nav-active();
    }
  }

  & > li >.dropdown-menu {
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
  }
  & > li > a > .glyphicon {
    position: relative;
    top: 2px;
    right: 1px;
    display: block;
    float: left;
    font-size: 16px;
  }
}

.navbar-icon {
  li {
    > a {
      font-size: 0;
      & > .glyphicon {
        line-height: 0;
      }
    }
  }

  .dropdown-menu {
    li {
      > a {
        font-size: @font-size-base;
      }
    }
  }

  .navbar-search {
    .search-query {
      margin: 3px 0 0 0;
    }
  }
}

@media screen and (min-width: 768px) {
  .navbar-brand {
    color: @text-color;
    margin-left: 0;
  }
}

@media (max-width: @screen-sm-max) {
  .navbar-icon {
    li {
      & > a {
        font-size: @font-size-base;
      }
    }
  }
}

.navbar-form, .navbar-collapse {
  border: none;
}
.navbar-default .navbar-toggle {
  &:hover, &:focus {
    background-color: transparent;
  }
  &.active, &:active {
    background-color: #DDD;
  }
}

.navbar-mobile {
  a {
    & > .glyphicon {
      display: block;
      padding: 10px 0 0 0;
      font-size: (@font-size-base * 1.5);
    }
  }
}

// Placeholder
// --------------------------------------------------
.navbar-nav-active() {
  color: #454545;
  text-shadow: 0 -1px 0 rgba(255, 255, 255, .54);
  .box-shadow(~"inset 0 0 7px rgba(0,0,0,.55)");
  .background-image(~"linear-gradient(bottom, rgba(216,216,216,.72) 36.36%, rgba(216,216,216,.72) 36.88%, rgba(202,202,202,.72) 49.08%, rgba(166,166,166,.72) 106.51%, rgba(48,48,48,.72) 122.08%, rgba(48,48,48,.72) 136.36%)");
}