//
// Pager pagination
// --------------------------------------------------

// TODO : hover, active 스타일 필요
.pager {
  li {
    > a,
    > span {
      display: inline-block;
      padding: 10px 15px;
      border: 1px solid #b6b6b6;
      border-radius: 5px;
      color: #6a6a6a;
      font-weight: bold;
      text-shadow: 0 1px 0 #fff;
      background-color: #fff;
      .background-image(~"linear-gradient(bottom, #e3e3e3 0%, #fff 99.49%, #fff 100%)");

      & > .glyphicon:before {
        position: relative;
        top: 2px;
      }
    }

    > a:hover,
    > a:focus {
      color: #1f8fb9;
    }

    &:not(.disabled) > a:active {
      color: #6a6a6a;
      text-shadow: 0 -1px 0 rgba(255, 255, 255, .54);
      background-color: #fff;
      .box-shadow(~"0 3px 2px rgba(0,0,0,.11), inset 0 0 4px rgba(0,0,0,.55)");
      .background-image(~"linear-gradient(bottom, rgba(216,216,216,.72) 36.36%, rgba(216,216,216,.72) 36.88%, rgba(202,202,202,.72) 49.08%, rgba(166,166,166,.72) 106.51%, rgba(48,48,48,.72) 122.08%, rgba(48,48,48,.72) 136.36%)");
    }
  }

  .next {
    > a,
    > span {
      float: right;
    }
  }

  .previous {
    > a,
    > span {
      float: left;
    }
  }

  .disabled {
    > a,
    > a:hover,
    > a:focus,
    > span {
      opacity: .5;
      color: #6a6a6a;
      font-weight: bold;
      text-shadow: 0 1px 0 #fff;
      border: 1px solid #c3c3c3;
      background-color: #fff;
      .background-image(~"linear-gradient(bottom, #e3e3e3 0%, #fff 99.49%, #fff 100%)");

      cursor: not-allowed;
    }
  }

}
