.pager {
  li {
    > a,
    > span {
      display: inline-block;
      padding-left: 25px;
      padding-right: 25px;
      border-color: #b6b6b6;
      background-color: #FFF;
      color: #6a6a6a;
      font-weight: bold;

      & > .glyphicon:before {
        position: relative;
        top: 2px;
      }
    }

    > a:hover,
    > a:focus {
      color: #1f8fb9;
    }

    &:not(.disabled) > a:active {
      background-color: #fff;
      color: #6a6a6a;
      text-shadow: 0 -1px 0 rgba(255, 255, 255, .54);
      .box-shadow(~"0 3px 2px rgba(0,0,0,.11), inset 0 0 4px rgba(0,0,0,.55)");
    }
  }

  .next {
    > a,
    > span {
      float: right;
    }
  }

  .previous {
    > a,
    > span {
      float: left;
    }
  }

  .disabled {
    > a,
    > a:hover,
    > a:focus,
    > span {
      opacity: .5;
      color: #6a6a6a;
      font-weight: bold;
      text-shadow: 0 1px 0 #fff;
      border: 1px solid #c3c3c3;
      background-color: #fff;
      cursor: not-allowed;
    }
  }

}
