doctype 5
html
	head
		title Welcome to T-Tris!
		meta(http-equiv='Content-Type', content='text/html', charset='utf-8')
		meta(name='viewport', content='width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')
		meta(name='apple-mobile-web-app-capable', content='yes')
		meta(names='apple-mobile-web-app-status-bar-style', content='black-translucent')
		link(rel='stylesheet', href='/stylesheets/reset.css')
		link(rel='stylesheet', href='/stylesheets/layout.css')
		link(rel='stylesheet', href='/stylesheets/mobile.css')
		script(type='text/javascript', src='/javascripts/libs/prototype/prototype.js')
		script(type='text/javascript')
			var socket = null;
		script(type='text/javascript', src='/javascripts/libs/require/require.js', data-main='/javascripts/main')
	body
		#contents
			h1 loading...