body {
  padding-top: 50px;
  padding-bottom: 50px;
}

#footer {
  position: fixed;
  bottom: 0;
  height: 45px;
  width: 100%;
  padding: 0 10px;
}

.the-icons {
  padding-bottom: 1px;
  margin-left: 0;
  list-style: none;
  margin-bottom: 20px;
  overflow: hidden;
}

.the-icons li {
  float: left;
  width: 100px;
  height: 110px;
  padding: 10px;
  border: 1px solid #DDD;
  font-size: 12px;
  line-height: 1.25;
  text-align: center;
  margin: 0 -1px -1px 0;
}

.the-icons .glyphicon {
  display: block;
  vertical-align: middle;
  font-size: 24px;
}

.scrollspy-example {
  position: relative;
  height: 200px;
  margin-top: 10px;
  overflow: auto;
}

.demo-tooltips {
  text-align: center;
  margin: 0 0 10px;
  list-style: none;
}

.demo-tooltips li {
  display: inline;
  padding: 0 10px;
}

#rangeInput {
  .col {
    margin: 10px 0;
  }
}

.demo-scroll-view {
  .col-12 {
    height: 300px;
  }
}