body {
    padding-top: 50px;
    padding-bottom: 50px;
}

.label-new > a {
    text-align: center;
}

.nav a.w3c-html5 img {
    width: 49px;
}

#footer {
    position: fixed;
    bottom: 0;
    height: 45px;
    width: 100%;
    padding: 0 10px;
    z-index: 100;
}

.the-icons {
    padding-bottom: 1px;
    margin-left: 0;
    list-style: none;
    margin-bottom: 20px;
    overflow: hidden;
}

.the-icons li {
    float: left;
    width: 110px;
    height: 100px;
    padding: 10px;
    border: 1px solid #DDD;
    font-size: 12px;
    line-height: 1.25;
    text-align: center;
    margin: 0 -1px -1px 0;
}

.the-icons .glyphicon {
    display: block;
    vertical-align: middle;
    font-size: 24px;
}

.scrollspy-example {
    position: relative;
    height: 200px;
    margin-top: 10px;
    overflow: auto;
}

.demo-tooltips {
    text-align: center;
    margin: 0 0 10px;
    list-style: none;
}

.demo-tooltips li {
    display: inline;
    padding: 0 10px;
}

#rangeInput .col {
    margin: 10px 0;
}

.demo-scroll-view .col-12 {
    height: 200px;
}

#scrollView4 {
    overflow: hidden;
    margin-top: -50px;
    width: 300px;
    height: 100px;
}

.list-view-wrapper {
    height: 200px;
}

.panel .mejs-container {
    margin: 0 auto;
}

@media (max-width: 320px) {
    .the-icons li {
        width: 95px;
    }
}

/* Images */
.bs-example > .img-circle,
.bs-example > .img-rounded,
.bs-example > .img-thumbnail {
    margin: 5px;
}

/* Buttons */
.bs-example > .btn,
.bs-example > .btn-group {
    margin-top: 5px;
    margin-bottom: 5px;
}
.bs-example > .btn-toolbar + .btn-toolbar {
    margin-top: 10px;
}

/* Forms */
.bs-example-control-sizing select,
.bs-example-control-sizing input[type="text"] + input[type="text"] {
    margin-top: 10px;
}
.bs-example-form .input-group {
    margin-bottom: 10px;
}
.bs-example > textarea.form-control {
    resize: vertical;
}

/* List groups */
.bs-example > .list-group {
    max-width: 400px;
}

/* Navbars */
.bs-example .navbar:last-child {
    margin-bottom: 0;
}
.bs-navbar-top-example,
.bs-navbar-bottom-example {
    z-index: 1;
    padding: 0;
    overflow: hidden; /* cut the drop shadows off */
}
.bs-navbar-top-example .navbar-header,
.bs-navbar-bottom-example .navbar-header {
    margin-left: 0;
}
.bs-navbar-top-example .navbar-fixed-top,
.bs-navbar-bottom-example .navbar-fixed-bottom {
    position: relative;
    margin-left: 0;
    margin-right: 0;
}
.bs-navbar-top-example {
    padding-bottom: 45px;
}
.bs-navbar-top-example:after {
    top: auto;
    bottom: 15px;
}
.bs-navbar-top-example .navbar-fixed-top {
    top: -1px;
}
.bs-navbar-bottom-example {
    padding-top: 45px;
}
.bs-navbar-bottom-example .navbar-fixed-bottom {
    bottom: -1px;
}
.bs-navbar-bottom-example .navbar {
    margin-bottom: 0;
}
@media (min-width: 768px) {
    .bs-navbar-top-example .navbar-fixed-top,
    .bs-navbar-bottom-example .navbar-fixed-bottom {
        position: absolute;
    }
    .bs-navbar-top-example {
        border-radius: 0 0 4px 4px;
    }
    .bs-navbar-bottom-example {
        border-radius: 4px 4px 0 0;
    }
}

/* Pagination */
.bs-example .pagination {
    margin-top: 10px;
    margin-bottom: 10px;
}

/* Pager */
.bs-example > .pager {
    margin-top: 0;
}

/* Example modals */
.bs-example-modal {
}
.bs-example-modal .modal {
    position: relative;
    top: auto;
    right: auto;
    left: auto;
    bottom: auto;
    z-index: 1;
    display: block;
}
.bs-example-modal .modal-dialog {
    left: auto;
    margin-left: auto;
    margin-right: auto;
}

/* Example dropdowns */
.bs-example > .dropdown > .dropdown-menu {
    position: static;
    display: block;
    margin-bottom: 5px;
}

/* Example tabbable tabs */
.bs-example-tabs .nav-tabs {
    margin-bottom: 15px;
}

/* Tooltips */
.bs-example-tooltips {
    text-align: center;
}
.bs-example-tooltips > .btn {
    margin-top: 5px;
    margin-bottom: 5px;
}

/* Popovers */
.bs-example-popover {
    padding-bottom: 24px;
    background-color: #f9f9f9;
}
.bs-example-popover .popover {
    position: relative;
    display: block;
    float: left;
    width: 260px;
    margin: 20px;
}

/* Scrollspy demo on fixed height div */
.scrollspy-example {
    position: relative;
    height: 200px;
    margin-top: 10px;
    overflow: auto;
}

.bs-example {
    position: relative;
    padding: 45px 15px 15px;
    margin: 0 -15px 15px;
    box-shadow: inset 0 3px 6px rgba(0, 0, 0, .05);
    border-color: #e5e5e5 #eee #eee;
    border-style: solid;
    border-width: 1px 0;
}

/* Echo out a label for the example */
.bs-example:after {
    content: "Example";
    position: absolute;
    top: 15px;
    left: 15px;
    font-size: 12px;
    font-weight: bold;
    color: #bbb;
    text-transform: uppercase;
    letter-spacing: 1px;
}

/* Tweak display of the code snippets when following an example */
.bs-example + .highlight {
    margin: -15px -15px 15px;
    border-radius: 0;
    border-width: 0 0 1px;
}

/* Make the examples and snippets not full-width */
@media screen and (min-width: 768px) {
    .bs-example {
        margin-left: 0;
        margin-right: 0;
        border-width: 1px;
        border-color: #ddd;
        border-radius: 4px 4px 0 0;
        box-shadow: none;
    }

    .bs-example + .highlight {
        margin-top: -16px;
        margin-left: 0;
        margin-right: 0;
        border-width: 1px;
        border-bottom-left-radius: 4px;
        border-bottom-right-radius: 4px;
    }
}

/* Tweak content of examples for optimum awesome */
.bs-example > p:last-child,
.bs-example > ul:last-child,
.bs-example > ol:last-child,
.bs-example > blockquote:last-child,
.bs-example > .form-control:last-child,
.bs-example > .table:last-child,
.bs-example > .navbar:last-child,
.bs-example > .jumbotron:last-child,
.bs-example > .alert:last-child,
.bs-example > .panel:last-child,
.bs-example > .list-group:last-child,
.bs-example > .well:last-child,
.bs-example > .progress:last-child,
.bs-example > .table-responsive:last-child > .table {
    margin-bottom: 0;
}

.bs-example > p > .close {
    float: none;
}