@charset "utf-8";

/* Common */
* {-webkit-tap-highlight-color: rgba(0,0,0,0);}
html, body { width:100%; height:100%; }
body,input,textarea,select,button,table{
	font-size:14px; line-height:18px;
	font-family:
	/* AppleSDGothicNeo,AppleGothic,Droid Sans,*/
	"Helvetica Neue", Helvetica, Arial, sans-serif;}

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address,
cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section,
summary, time, mark, audio, video { margin:0; padding:0; border:0; outline:0;
background:transparent; -webkit-text-size-adjust:none; -webkit-text-size-adjust - auto | none | N% (default auto); }
h1, h2, h3, h4, h5, h6 { font-size:14px; text-align:left; font-weight:normal;}
img, fieldset, iframe { border:0 none; }
ul, li, ol { list-style-type: none;}
legend, caption { display: none; }
table {border-collapse:collapse;}
em,address {font-style:normal;}
a {color:inherit;text-decoration:none; cursor:pointer;}
textarea {height: auto; resize:none;}


/* 스타일 초기화 */
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"] {
    margin:3px 0;
    height: auto;
    display: inline-block;
    padding: 6px;
    font-size: 14px;
    line-height: 18px;
    color: #333;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid #aaa;
    box-sizing: border-box;
	-moz-box-sizing:border-box; /* Firefox */
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.3), 0 1px 1px rgba(255,255,255,.27);
    -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,.3), 0 1px 1px rgba(255,255,255,.27);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.3), 0 1px 1px rgba(255,255,255,.27);
    vertical-align: top;
}
textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    background: #fff;
    border: 1px solid #3356A8;
}

select {
	display: inline-block;
	width: 100%; height: 32px;
    margin:3px 0; padding: 5px;
    color:#333;
    border: 1px solid #aaa;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.3), 0 1px 1px rgba(255,255,255,.27);
    -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,.3), 0 1px 1px rgba(255,255,255,.27);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.3), 0 1px 1px rgba(255,255,255,.27);
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    cursor: pointer;
    background:#fff url('images/bg_select.svg') right 10px no-repeat;
}
select:focus {
  outline: 1px solid #3356A8;
}

form {margin: 0px;}

/* disabled */
input[disabled],
select[disabled],
textarea[disabled],
input[readonly],
select[readonly],
textarea[readonly] {
  cursor: not-allowed;
  background-color: #eeeeee;
}

input[type="radio"][disabled],
input[type="checkbox"][disabled],
input[type="radio"][readonly],
input[type="checkbox"][readonly] {
  background-color: #eeeeee;
}

input[readonly].hasDatepicker,
select[readonly].hasDatepicker,
input[readonly].hasMonthpicker,
select[readonly].hasMonthpicker {
	cursor:pointer;
	background-color:#fff;
}

input[readonly].hasDatepicker:disabled,
input[readonly].hasMonthpicker:disabled {
  background-color: #eeeeee;
}