@charset "utf-8";

/* table */
.table-wrap { margin:3px 0 10px;}

/* table 등록 수정 화면 div로 만든 table 01 */
.table-type1 {
    display:table; margin:0px;
    width:100%; max-height:0px;
    border-collapse: collapse; 
	background:#fff;
}
.table-type1 .control-group-wrap { display:table-row-group;}
.table-type1 .control-group,
.table-type1 .input-append { margin-bottom:0px; padding:0px;}

.table-type1 .control-group:before,
.table-type1 .control-group:after {display: none; line-height: 0; content: "";}
.table-type1 .control-group {
    display:table-row; 
    border-bottom:1px solid #ccc; border-left:1px solid #ccc;
    border-top:1px solid #ccc; border-right:1px solid #ccc;
}
.table-type1 .control-group .control-label {
    position: relative; display:table-cell;
    height:100%; padding:13px 15px 11px 1px;
    color:#fff; font-weight:bold;
    text-align:right; background-color:#6F91D3;
}
.table-type1 .control-group .control-label label {font-weight:bold;}
.table-type1 .control-group .control-label .radio span { position: absolute; left:10px; top:11px;}
.table-type1 .control-group .controls {
    display:table-cell; margin-left:0px;
    padding:1px 15px 1px 15px; vertical-align: middle;	
}
/*
.table-type1 .control-group .control-label input[type="radio"],
.table-type1 .control-group .control-label input[type="checkbox"] { position: absolute; left:10px; top:11px;}
.table-type1 .control-group .controls input[type="radio"],
.table-type1 .control-group .controls input[type="checkbox"] {margin:-2px 0px 0px;}
.table-type1 .control-group .controls .radio { display: inline-block; padding:14px 5px 10px 2px; }
.table-type1 .control-group .controls .checkbox { display: inline-block; padding:14px 10px 10px 5px; }
*/

.table-type1 .control-group .controls div {display:inline-block; vertical-align: middle;}
.table-type1 .control-group .controls div.block {display:block; vertical-align: middle;}
.table-type1 .control-group .controls span { margin-right:5px;}
.table-type1 .control-group .controls .mid {
    display: inline-block;
    height: 18px; min-width: 16px;
	margin-right:0px;
    padding: 10px 0px;
    font-size: 14px; font-weight: normal;
    line-height: 18px; text-align: center;
}

/* table 리스트 화면 02 * Make Grid */
.table-type2 {width: 100%; font-size: 14px; border-collapse: collapse; border: 1px solid #aaa; background:#fff; }
.table-type2 th, .table-type2 td { padding:8px 0.28em; border-bottom: 1px solid #aaa; text-align:center; white-space:nowrap;}
.table-type2 td a { color: #08C; }
.table-type2 th a, 
.table-type2 thead th a,
.table-type2 tbody th a { color: #AADAFF; }
.table-type2 thead th { color:#fff; font-weight:bold; border-bottom: 1px solid #aaa; background-color:#5B7DBC;}
.table-type2 tbody th {}
.table-type2 tbody td { color:#111;}
.table-type2 tbody tr:nth-child(odd) th,
.table-type2 tbody tr:nth-child(odd) {background-color: #F4F4F4;}
.table-type2 th.left, .table-type2 td.left { text-align:left; padding-left:0.48em;}
.table-type2 th.right, .table-type2 td.right { text-align:right; padding-right:0.48em;}

/* table 게시판 03 notice list */
.table-bbs-type3 {width: 100%; font-size: 14px; border-collapse: collapse; background:#fff; }
.table-bbs-type3 th, .table-bbs-type3 td { padding:8px 0.28em; border-bottom: 1px dashed #A5A5A5; text-align:center;}
.table-bbs-type3 thead th {padding:0px 0.28em 8px; color:#030303; font-weight:bold; border-bottom: 1px solid #222; border-right: 1px solid #222; }
.table-bbs-type3 thead th:last-of-type {border-right:none;}
.table-bbs-type3 tbody tr:last-child th,
.table-bbs-type3 tbody tr:last-child td { border-bottom:none;}
.table-bbs-type3 tbody th {}
.table-bbs-type3 tbody td {color: #333;}
.table-bbs-type3 tbody td div {padding:10px;}
.table-bbs-type3 tbody td p { margin:0px 0 5px 0;}
.table-bbs-type3 th.left,
.table-bbs-type3 td.left {text-align:left; padding:8px 0.28em 8px 0.83em;}
.table-bbs-type3 th.right,
.table-bbs-type3 td.right {text-align:right;}
.table-bbs-type3 th.no {width:24px;}
.table-bbs-type3 th.date {width:84px;}

/* table 게시판 04 notice view */
.table-bbs-type4 {width: 100%; font-size: 14px; border-collapse: collapse; background:#fff; }
.table-bbs-type4 th, .table-bbs-type4 td { padding:8px 0.28em; border-bottom: 1px dashed #A5A5A5; text-align:center; }
.table-bbs-type4 thead th { padding:0px 0.28em 8px; color:#030303; font-weight:bold; border-bottom: 1px solid #222; border-right: 1px solid #222; }
.table-bbs-type4 thead th:last-of-type {border-right:none;}
.table-bbs-type4 tbody tr:last-child th, .table-bbs-type4 tbody tr:last-child td { border-bottom:none;}
.table-bbs-type4 tbody th {}
.table-bbs-type4 tbody td {color: #333;}
.table-bbs-type4 tbody td div {margin:0px; padding:10px 0 0;}
.table-bbs-type4 tbody td p {margin:0px; padding:0 0 5px;}
.table-bbs-type4 th.left, .table-bbs-type4 td.left {text-align:left; padding:8px 0.28em 8px 0.83em;}
.table-bbs-type4 th.right, .table-bbs-type4 td.right {text-align:right;}

/* table 게시판 05 data tab */
.table-type5 {width: 100%; font-size: 14px; border-collapse: collapse; border: 1px solid #aaa; background:#fff; }
.table-type5 th, .table-type5 td { padding:8px 0.28em;  border: 1px solid #aaa; text-align:center; white-space:nowrap;}
.table-type5 thead th { color:#fff; font-weight:bold; border-bottom: 1px solid #aaa; background-color:#5B7DBC; }
.table-type5 tbody th { color:#fff; background-color:#5B7DBC; }
.table-type5 tbody td { background-color:#C5C5C5; }
.table-type5 tbody tr:nth-child(odd) td {background-color: #F4F4F4;}
.table-type5 th.left, .table-type5 td.left { text-align:left; padding-left:5px;}
.table-type5 th.right, .table-type5 td.right { text-align:right; padding-right:5px;}

/* div로 만든 table 06 * type01의 변형 * th가 회색배경 */
.table-type6 { display:table; margin:0px 0px 10px; width:100%; max-height:0px; border-collapse: collapse; background:#fff;}
.table-type6 .control-group,
.table-type6 .input-append { margin-bottom:0px; padding:0px;}
.table-type6 .control-group:before,
.table-type6 .control-group:after {content: ""; display: none; line-height: 0;}
.table-type6 .control-group {display:table-row; border-bottom:1px solid #ccc; border-left:1px solid #ccc; border-top:1px solid #ccc; border-right:1px solid #ccc;}
.table-type6 .control-group .control-label {
   position: relative; display:table-cell;
   height:100%; padding:13px 15px 11px 1px;
   color:#fff; font-weight:bold; text-align:right;
   background-color:#727272;
}
.table-type6 .control-group .control-label .radio span { position: absolute; left:10px; top:11px;}
.table-type6 .control-group .control-label label {font-weight:bold;}
.table-type6 .control-group .controls {display:table-cell; margin-left:0px; padding:1px 15px 1px 15px; vertical-align: middle; }

.table-type6 .control-group .controls .input-append .add-on {border:none;}
.table-type6 .control-group .controls div {display:inline-block; vertical-align: top;}
.table-type6 .control-group .controls .mid {
    display: inline-block;
    height: 18px; min-width: 16px;
	margin-right:0px;
    padding: 10px 0px;
    font-size: 14px; font-weight: normal;
    line-height: 18px; text-align: center;
}

/* modal안 div로 만든 table07 * border:none; * 퀵서치 */
.table-type7 { display:table; margin:0px; width:100%; max-height:0px; border-collapse: collapse; background:#fff;}

.table-type7 .control-group,
.table-type7 .input-append { margin-bottom:0px; padding:0px;}
.table-type7 .control-group:before,
.table-type7 .control-group:after {display: none; line-height: 0; content: "";}
.table-type7 .control-group {}
.table-type7 .control-group .control-label {
	position: relative; display:table-cell;
	padding:13px 15px 11px 1px;
	height:100%; 
	color:#fff; font-weight:bold; text-align:right;
	background-color:#6F91D3;
}
.table-type7 .control-group .control-label input[type="radio"] { position: absolute; left:10px; top:11px;}
.table-type7 .control-group .control-label label {font-weight:bold;}

.table-type7 .control-group .controls {margin-left:0px; padding:1px 15px 1px 15px; vertical-align: middle; }
.table-type7 .control-group .controls .input-append .add-on {border:none;}
.table-type7 .control-group .controls div {display:inline-block; vertical-align: top;}
.table-type7 .control-group .controls .mid {
    display: inline-block;
    height: 18px; min-width: 16px;
	margin-right:0px;
    padding: 10px 0px;
    font-size: 14px; font-weight: normal;
    line-height: 18px; text-align: center;
}

/* 보고서 table08 * table-type2의 변형 */
.table-type8 {width: 100%; font-size: 14px; border-collapse: collapse; border: 1px solid #aaa; background:#fff; }
.table-type8 th, .table-type8 td { 
    padding:8px 0.48em;
    border-right: 1px solid #aaa;
    border-bottom: 1px solid #aaa;
    text-align:center;
    white-space:nowrap;}
.table-type8 th a, .table-type8 thead th a, .table-type8 tbody th a { color: #AADAFF; cursor:pointer; }
.table-type8 td a { color: #08C; }
.table-type8 thead th { color:#fff; font-weight:bold; border-bottom: 1px solid #aaa;}
.table-type8 thead tr:nth-child(1) { background-color:#5B7DBC;}
.table-type8 thead tr:nth-child(2) { background-color:#777777;}
.table-type8 thead tr:nth-child(3) { background-color:#57595A;}
.table-type8 tbody th {color:#fff; background-color:#777777;}
.table-type8 tbody td { color:#111;}
.table-type8 tbody tr:nth-child(odd) {background-color: #F4F4F4;}
.table-type8 th.left, .table-type8 td.left { text-align:left;}
.table-type8 th.right, .table-type8 td.right { text-align:right;}
.table-type8 th.red {background-color:#E0363F;}

/* 보고서 table09 * table-type8의 변형 */
.table-type9 {width: 100%; font-size: 14px; border-collapse: collapse; border: 1px solid #aaa; background:#fff; }
.table-type9 th, .table-type9 td { 
    padding:8px 0.48em;
    border-right: 1px solid #aaa;
    border-bottom: 1px solid #aaa;
    text-align:center;
    white-space:nowrap;}
.table-type9 th a, .table-type9 thead th a, .table-type9 tbody th a { color: #AADAFF; }
.table-type9 td a { color: #08C; }
.table-type9 thead th { color:#fff; font-weight:bold; border-bottom: 1px solid #aaa;}
.table-type9 thead tr:nth-child(1) { background-color:#5B7DBC;}
.table-type9 thead tr:nth-child(2) { background-color:#777777;}
.table-type9 thead tr:nth-child(3) { background-color:#57595A;}
.table-type9 tbody th { color:#fff; background-color:#777777;}
.table-type9 tbody td { color:#111;}
.table-type9 th.left, .table-type9 td.left { text-align:left;}
.table-type9 th.right, .table-type9 td.right { text-align:right;}


/* pagination */
/* 
.pagination {
    text-align:center; 
    margin:20px 0 0px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
.pagination ul {
	display: inline-block;
	*display: inline;
	*zoom: 1;
	margin: 0 auto;
}
.pagination ul > li {
	display: inline-block;
	margin-left: -4px;
	padding: 0 4px 0 1px;
	color:#555;
	text-align: center;
	vertical-align: middle;
}
.pagination ul > li:first-child { margin-right: 6px; }
.pagination ul > li:last-child { margin-left: 2px; }
.pagination ul > li > a,
.pagination ul > li > span,
.pagination ul > li > a:hover,
.pagination ul > li > a:active,
.pagination ul > li > a:focus {
	color: #b0b0b0;
	line-height: 18px;
	padding: 7px 8px;
	background-color: #ffffff;
	border: 0;
	vertical-align: middle;
	display: block;
}
.pagination ul > li > a:active,
.pagination ul > li.active > a {
	color: #000000;
	text-decoration: none;
	padding: 7px 8px; 
	border-top: none;
	background-color: #ffffff;
}
.pagination ul > li:first-child > a,
.pagination ul > li:last-child > a {
	width: auto;
	height: auto;
	padding: 7px 8px;
	background: none;
	border: none;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}
.pagination ul > li:first-child > a:active,
.pagination ul > li:last-child > a:active {
	margin: 0;
	text-decoration: none;
	background-color: #b0b0b0;
}
.pagination ul > li:first-child > a span,
.pagination ul > li:last-child > a span {

	display: block;
	position: relative;
	width: 22px; height: 22px;
	padding: 0;
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	border-radius: 50px;
	background-color: #b0b0b0;
	border: none;
}
.pagination ul > li:first-child > a:active span,
.pagination ul > li:last-child > a:active span {
	margin: 0 auto;
	display: block;
	position: relative;
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	border-radius: 50px;
	border: none;
	background-color: #000000;
	vertical-align: middle;
	box-shadow: none;
}
.pagination ul > li:first-child > a span:after,
.pagination ul > li:last-child > a span:after {
	content: "";
	position: absolute;
	top: 4px; left: -3px;
	width: 0px ! important;
	height: 0px ! important;
	border-color: transparent #ffffff transparent transparent;
	border-style: solid;
	border-width: 7px 9px 7px 9px;
	background: none ! important;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	box-shadow: none;
}
.pagination ul > li:first-child > a:active span:after,
.pagination ul > li:last-child > a:active span:after {
	content: "";
	position: absolute;
	top: 4px; left: -3px;
	width: 0px ! important;
	height: 0px ! important;
	border-color: transparent #5aafc4 transparent transparent;
	border-style: solid;
	border-width: 7px 9px 7px 9px;
	background: none ! important;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	box-shadow: none;
}
.pagination ul > li:last-child > a span:after {
	position: absolute;
	top: 4px; left: 8px;
	border-color: transparent transparent transparent #ffffff;
}
.pagination ul > li:last-child > a:active span:after {
	position: absolute;
	top: 4px; left: 8px;
	border-color: transparent transparent transparent #5aafc4;
}
.pagination ul > li.disabled > a,
.pagination ul > li.disabled > a:hover,
.pagination ul > li.disabled > a:active,
.pagination ul > li.disabled > a:focus {
	display: block;
	color: #b0b0b0;
	line-height: 18px;
	font-weight: normal;
	padding: 7px 8px;
	vertical-align: middle;
}
.pagination ul > li.disabled > a span,
.pagination ul > li.disabled > a:hover span,
.pagination ul > li.disabled > a:active span,
.pagination ul > li.disabled > a:focus span {

}
.pagination ul > li:first-child > a span:after,
.pagination ul > li:last-child > a span:after,
.pagination ul > li:first-child > a:active span:after,
.pagination ul > li:last-child > a:active span:after {
    content: "";
    background:inherit;
    clear: both;
}
*/

/* 리스트 위에 떠 있는 pagination */
.float-page {
    position: fixed;
    top: 90%;
	width: 100%;
    text-align:center;
	z-index:990;
}
.float-page ul {
    display: inline-block;
    margin: 0 auto;
}
.float-page ul > li {
    display: inline-block;
    padding: 0 3px 0 3px;
    text-align: center;
    vertical-align: middle;
}
.float-page ul > li:first-child {
    margin-right: 3px;
}
.float-page ul > li:last-child {
    margin-left: 3px;
}
.float-page ul > li > a,
.float-page ul > li > span {
    display: block; padding: 6px 9px;
    color: #ffffff;
    font-size: 16px; line-height: 20px;
    text-align: center; vertical-align: middle;
    cursor: pointer;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.7);

    background-color: #4c4f54;
    background-image: -moz-linear-gradient(top, #56595e, #3d4146);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#56595e), to(#3d4146));
    background-image: -webkit-linear-gradient(top, #56595e, #3d4146);
    background-image: -o-linear-gradient(top, #56595e, #3d4146);
    background-image: linear-gradient(to bottom, #56595e, #3d4146);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#56595e', endColorstr='#3d4146', GradientType=0);

    border: 1px solid rgba(0, 0, 0, 0.9);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(255,255,255,.2), inset 0 1px 1px rgba(255,255,255,.4), inset -1px 0 1px rgba(0,0,0,.1), 0 4px 3px rgba(0,0,0,.4);
    -moz-box-shadow: inset 0 1px 1px rgba(255,255,255,.2), inset 0 1px 1px rgba(255,255,255,.4), inset -1px 0 1px rgba(0,0,0,.1), 0 4px 3px rgba(0,0,0,.4);
    box-shadow: inset 0 1px 1px rgba(255,255,255,.2), inset 0 1px 1px rgba(255,255,255,.4), inset -1px 0 1px rgba(0,0,0,.1), 0 4px 3px rgba(0,0,0,.4);
}
.float-page ul > li > a:hover {
    color: #82e6ff;
    text-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
    text-decoration: none;
    background-color: #25272a;
}
.float-page ul > li > a:active {
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.7);
    text-decoration: none;
    border: 1px solid #004C85;
    background-color: #156AAA;
    background-image:none;    
    -webkit-box-shadow: inset 0 2px 3px rgba(0,0,0,.5), 0 0 1px rgba(255,255,255,.15);
    -moz-box-shadow: inset 0 2px 3px rgba(0,0,0,.5), 0 0 1px rgba(255,255,255,.15);
    box-shadow: inset 0 2px 3px rgba(0,0,0,.5), 0 0 1px rgba(255,255,255,.15);
}
.float-page ul > li.active > a {
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.7);
    font-weight:bold;
    text-decoration: none;
    border: 1px solid #004C85;
    background-color: #156AAA;
    background-image:none;
    -webkit-box-shadow: inset 0 1px 1px rgba(255,255,255,.2), inset 0 1px 1px rgba(255,255,255,.4),  0 4px 3px rgba(0,0,0,.4);
    -moz-box-shadow: inset 0 1px 1px rgba(255,255,255,.2), inset 0 1px 1px rgba(255,255,255,.4),  0 4px 3px rgba(0,0,0,.4);
    box-shadow: inset 0 1px 1px rgba(255,255,255,.2), inset 0 1px 1px rgba(255,255,255,.4),  0 4px 3px rgba(0,0,0,.4);
}
.float-page ul > li:first-child > a,
.float-page ul > li:last-child > a {
    width: auto;
    height: auto;
    padding: 7px;
}
.float-page ul > li:first-child > a span,
.float-page ul > li:last-child > a span {
    display: block;
    position: relative;
    padding: 0;
    width: 22px; height: 22px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
	border: none;
    background-color: #242424;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,1), 0 1px 1px rgba(255,255,255,0.4);
    -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,1), 0 1px 1px rgba(255,255,255,0.4);
    box-shadow: inset 0 1px 1px rgba(0,0,0,1), 0 1px 1px rgba(255,255,255,0.4);
}
.float-page ul > li:first-child > a:active,
.float-page ul > li:last-child > a:active {
    margin: 0;
    text-decoration: none;
    border-top: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);
    background-color: #282b2e;
    -webkit-box-shadow: inset 0 2px 3px rgba(0,0,0,.5), 0 0 1px rgba(255,255,255,.15);
    -moz-box-shadow: inset 0 2px 3px rgba(0,0,0,.5), 0 0 1px rgba(255,255,255,.15);
    box-shadow: inset 0 2px 3px rgba(0,0,0,.5), 0 0 1px rgba(255,255,255,.15);
}
.float-page ul > li:first-child > a:active span,
.float-page ul > li:last-child > a:active span {
    margin: 0 auto;
    display: block;
    position: relative;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    border: none;
    vertical-align: middle;
    box-shadow: none;
    background-color: #28C2F3;
}
.float-page ul > li:first-child > a span:after,
.float-page ul > li:first-child > a:active span:after {
    content: "";
    position: absolute;
    top: 4px; left: -3px;
    width: 0px ! important;
    height: 0px ! important;
    border-color: transparent #dcddde transparent transparent;
    border-style: solid;
    border-width: 7px 9px 7px 9px;

    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    box-shadow: none;
}
.float-page ul > li:last-child > a span:after,
.float-page ul > li:last-child > a:active span:after {
    content: "";
    position: absolute;
    top: 4px; left: 8px;
    width: 0px ! important;
    height: 0px ! important;
    border-color: transparent transparent transparent #dcddde;
    border-style: solid;
    border-width: 7px 9px 7px 9px;

    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    box-shadow: none;
}
.float-page ul > li.disabled > a,
.float-page ul > li.disabled > a:hover,
.float-page ul > li.disabled > a:active,
.float-page ul > li.disabled > a:focus {
    display: block;
	padding: 7px 8px;
    color: #ffffff;
    line-height: 22px; font-weight: normal;
    vertical-align: middle;
    background: #42464b;
    border: 1px solid rgba(0, 0, 0, 0.9);

    border-top: 1px solid rgba(255, 255, 255, 0.2);
    border-bottom: 0;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(255,255,255,.2), inset 0 1px 1px rgba(255,255,255,.4), inset -1px 0 1px rgba(0,0,0,.1), 0 4px 3px rgba(0,0,0,.4);
    -moz-box-shadow: inset 0 1px 1px rgba(255,255,255,.2), inset 0 1px 1px rgba(255,255,255,.4), inset -1px 0 1px rgba(0,0,0,.1), 0 4px 3px rgba(0,0,0,.4);
    box-shadow: inset 0 1px 1px rgba(255,255,255,.2), inset 0 1px 1px rgba(255,255,255,.4), inset -1px 0 1px rgba(0,0,0,.1), 0 4px 3px rgba(0,0,0,.4);
}
.float-page ul > li.disabled:first-child > a span:after,
.float-page ul > li.disabled:first-child > a:active span:after {
	border-color: transparent #4c4f54 transparent transparent;
}
.float-page ul > li.disabled:last-child > a span:after,
.float-page ul > li.disabled:last-child > a:active span:after {
    border-color: transparent transparent transparent #4c4f54;
}

/* 페이지에 고정된 pagination */
.float-page2 {
    margin:20px 0;
    text-align:center;
}
.float-page2 ul {
    display: inline-block;
    margin: 0 auto;
	padding-right:42px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
}
.float-page2 ul > li {
    display: inline-block;
    padding: 0 3px 0 3px;
    text-align: center;
    vertical-align: middle;
}
.float-page2 ul > li:first-child {
    margin-right: 3px;
}
.float-page2 ul > li:last-child {
    margin-left: 3px;
}
.float-page2 ul > li > a,
.float-page2 ul > li > span {
    display: block; padding: 6px 9px;
    color: #ffffff;
    font-size: 16px; line-height: 20px;
    text-align: center; vertical-align: middle;
    cursor: pointer;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.7);

    background-color: #4c4f54;
    background-image: -moz-linear-gradient(top, #56595e, #3d4146);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#56595e), to(#3d4146));
    background-image: -webkit-linear-gradient(top, #56595e, #3d4146);
    background-image: -o-linear-gradient(top, #56595e, #3d4146);
    background-image: linear-gradient(to bottom, #56595e, #3d4146);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#56595e', endColorstr='#3d4146', GradientType=0);

    border: 1px solid rgba(0, 0, 0, 0.9);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(255,255,255,.2), inset 0 1px 1px rgba(255,255,255,.4), inset -1px 0 1px rgba(0,0,0,.1), 0 4px 3px rgba(0,0,0,.4);
    -moz-box-shadow: inset 0 1px 1px rgba(255,255,255,.2), inset 0 1px 1px rgba(255,255,255,.4), inset -1px 0 1px rgba(0,0,0,.1), 0 4px 3px rgba(0,0,0,.4);
    box-shadow: inset 0 1px 1px rgba(255,255,255,.2), inset 0 1px 1px rgba(255,255,255,.4), inset -1px 0 1px rgba(0,0,0,.1), 0 4px 3px rgba(0,0,0,.4);
}
.float-page2 ul > li > a:hover {
    color: #82e6ff;
    text-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
    text-decoration: none;
    background-color: #25272a;
}
.float-page2 ul > li > a:active {
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.7);
    text-decoration: none;
    border: 1px solid #004C85;
    background-color: #156AAA;
    background-image:none;    
    -webkit-box-shadow: inset 0 2px 3px rgba(0,0,0,.5), 0 0 1px rgba(255,255,255,.15);
    -moz-box-shadow: inset 0 2px 3px rgba(0,0,0,.5), 0 0 1px rgba(255,255,255,.15);
    box-shadow: inset 0 2px 3px rgba(0,0,0,.5), 0 0 1px rgba(255,255,255,.15);
}
.float-page2 ul > li.active > a {
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.7);
    font-weight:bold;
    text-decoration: none;
    border: 1px solid #004C85;
    background-color: #156AAA;
    background-image:none;
    -webkit-box-shadow: inset 0 1px 1px rgba(255,255,255,.2), inset 0 1px 1px rgba(255,255,255,.4),  0 4px 3px rgba(0,0,0,.4);
    -moz-box-shadow: inset 0 1px 1px rgba(255,255,255,.2), inset 0 1px 1px rgba(255,255,255,.4),  0 4px 3px rgba(0,0,0,.4);
    box-shadow: inset 0 1px 1px rgba(255,255,255,.2), inset 0 1px 1px rgba(255,255,255,.4),  0 4px 3px rgba(0,0,0,.4);
}
.float-page2 ul > li:first-child > a,
.float-page2 ul > li:last-child > a {
    width: auto;
    height: auto;
    padding: 7px;
}
.float-page2 ul > li:first-child > a span,
.float-page2 ul > li:last-child > a span {
    display: block;
    position: relative;
    padding: 0;
    width: 22px; height: 22px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
	border: none;
    background-color: #242424;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,1), 0 1px 1px rgba(255,255,255,0.4);
    -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,1), 0 1px 1px rgba(255,255,255,0.4);
    box-shadow: inset 0 1px 1px rgba(0,0,0,1), 0 1px 1px rgba(255,255,255,0.4);
}
.float-page2 ul > li:first-child > a:active,
.float-page2 ul > li:last-child > a:active {
    margin: 0;
    text-decoration: none;
    border-top: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);
    background-color: #282b2e;
    -webkit-box-shadow: inset 0 2px 3px rgba(0,0,0,.5), 0 0 1px rgba(255,255,255,.15);
    -moz-box-shadow: inset 0 2px 3px rgba(0,0,0,.5), 0 0 1px rgba(255,255,255,.15);
    box-shadow: inset 0 2px 3px rgba(0,0,0,.5), 0 0 1px rgba(255,255,255,.15);
}
.float-page2 ul > li:first-child > a:active span,
.float-page2 ul > li:last-child > a:active span {
    margin: 0 auto;
    display: block;
    position: relative;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    border: none;
    vertical-align: middle;
    box-shadow: none;
    background-color: #28C2F3;
}
.float-page2 ul > li:first-child > a span:after,
.float-page2 ul > li:first-child > a:active span:after {
    content: "";
    position: absolute;
    top: 4px; left: -3px;
    width: 0px ! important;
    height: 0px ! important;
    border-color: transparent #dcddde transparent transparent;
    border-style: solid;
    border-width: 7px 9px 7px 9px;

    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    box-shadow: none;
}
.float-page2 ul > li:last-child > a span:after,
.float-page2 ul > li:last-child > a:active span:after {
    content: "";
    position: absolute;
    top: 4px; left: 8px;
    width: 0px ! important;
    height: 0px ! important;
    border-color: transparent transparent transparent #dcddde;
    border-style: solid;
    border-width: 7px 9px 7px 9px;

    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    box-shadow: none;
}
.float-page2 ul > li.disabled > a,
.float-page2 ul > li.disabled > a:hover,
.float-page2 ul > li.disabled > a:active,
.float-page2 ul > li.disabled > a:focus {
    display: block;
	padding: 7px 8px;
    color: #ffffff;
    line-height: 22px; font-weight: normal;
    vertical-align: middle;
    background: #42464b;
    border: 1px solid rgba(0, 0, 0, 0.9);

    border-top: 1px solid rgba(255, 255, 255, 0.2);
    border-bottom: 0;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(255,255,255,.2), inset 0 1px 1px rgba(255,255,255,.4), inset -1px 0 1px rgba(0,0,0,.1), 0 4px 3px rgba(0,0,0,.4);
    -moz-box-shadow: inset 0 1px 1px rgba(255,255,255,.2), inset 0 1px 1px rgba(255,255,255,.4), inset -1px 0 1px rgba(0,0,0,.1), 0 4px 3px rgba(0,0,0,.4);
    box-shadow: inset 0 1px 1px rgba(255,255,255,.2), inset 0 1px 1px rgba(255,255,255,.4), inset -1px 0 1px rgba(0,0,0,.1), 0 4px 3px rgba(0,0,0,.4);
}
.float-page2 ul > li.disabled:first-child > a span:after,
.float-page2 ul > li.disabled:first-child > a:active span:after {
	border-color: transparent #4c4f54 transparent transparent;
}
.float-page2 ul > li.disabled:last-child > a span:after,
.float-page2 ul > li.disabled:last-child > a:active span:after {
    border-color: transparent transparent transparent #4c4f54;
}

/* tab 메뉴 */
.nav {
	margin: 0;
	list-style: none;
    background:#E7E1E1;
    border-bottom: 7px solid #196AAB;
}
.nav > li > a { display: block; }
.nav > .disabled > a { color: #b0b0b0; }
.nav > .disabled > a:hover {
	text-decoration: none;
	background-color: transparent;
	cursor: default;
}
.nav-tabs {
    -webkit-border-radius: 5px 5px 0 0;
    -moz-border-radius: 5px 5px 0 0;
    border-radius: 5px 5px 0 0;
}
.nav-tabs:before,
.nav-tabs:after {
	display: table;
	content: "";
	line-height: 0;
}
.nav-tabs:after { clear: both; }
.nav-tabs > li {
	float: left;
    margin:0; padding: 0;
	text-align:center;
    -webkit-border-radius: 5px 5px 0 0;
    -moz-border-radius: 5px 5px 0 0;
    border-radius: 5px 5px 0 0;
    background:#717171;
}
.nav-tabs > li > a {
	overflow: hidden;
}
.nav-tabs > li > a,
.nav-tabs > li > a:hover,
.nav-tabs > li > a:active,
.nav-tabs > li > a:focus {
	cursor: default;
    color: #DCDCDC;
	font-size:18px;
    margin-right:0px;
    padding:14px 0.83em 10px;

    border-right:1px solid #474747;
    border-left:1px solid #AFAFAF;
    border-bottom: 1px solid #8BB4D4;
    border-top: none;
	background:#717171;

    -webkit-border-radius: 5px 5px 0 0;
    -moz-border-radius: 5px 5px 0 0;
    border-radius: 5px 5px 0 0;}
/*
.nav > li > a:hover {
  text-decoration: none;
  background-color: #717171;
}
*/
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:active,
.nav-tabs > li.active > a:focus {
    color: #fff; font-weight:bold;
    cursor: default;
    border: none;
    border-bottom: 1px solid #196AAB;
    -webkit-border-radius: 5px 5px 0 0;
    -moz-border-radius: 5px 5px 0 0;
    border-radius: 5px 5px 0 0;

	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#0DAADF), color-stop(0.53, #0691C8), color-stop(0.53, #1568AA), to(#196AAB));
	background-image: -webkit-linear-gradient(top, #0DAADF, #0691C8 53%, #0691C8 53%, #196AAB);
	background-image: -moz-linear-gradient(top, #0DAADF, #0691C8 53%, #0691C8 53%, #196AAB);
	background-image: -ms-linear-gradient(top, #0DAADF, #0691C8 53%, #0691C8 53%, #196AAB);
	background-image: -o-linear-gradient(top, #0DAADF, #0691C8 53%, #0691C8 53%, #196AAB);
	background-image: linear-gradient(to bottom, #0DAADF, #0691C8 53%, #0691C8 53%, #196AAB);

	-moz-box-shadow:
        inset 0px 1px 2px rgba(255,255,255,0.5);
    -webkit-box-shadow:
        inset 0px 1px 2px rgba(255,255,255,0.5);
    box-shadow:
        inset 0px 1px 2px rgba(255,255,255,0.5); 
}
.nav-tabs > li:last-of-type > a {
    border-right:none;
}
.tab-content {
	position: relative;
	z-index: 10;
	padding: 20px;
	overflow: auto;
	-webkit-overflow-scrolling: touch;
    color:#505771; background:#fff;
    border: 1px solid #D1D1D1;
    border-top:none;
    -webkit-border-radius: 0 0 5px 5px;
    -moz-border-radius: 0 0 5px 5px;
    border-radius: 0 0 5px 5px;
}
.tab-content > .tab-pane { display: none; }
.tab-content > .active { display: block; }

.tab-view {
    background:#fff; margin:20px 0 0; padding:20px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: inset 0 1px 3px rgba(0,0,0,.5), 0 1px 3px rgba(255,255,255,0.4);
    -moz-box-shadow: inset 0 1px 3px rgba(0,0,0,.5), 0 1px 3px rgba(255,255,255,0.4);
    box-shadow: inset 0 1px 3px rgba(0,0,0,.5), 0 1px 3px rgba(255,255,255,0.4);
}


/* 버튼 */
.btn {
	-webkit-appearance:none; /* Safari and Chrome */
	-moz-appearance:none; /* Firefox */
	appearance:none;
}

/* btn-group*/
.btn-group { text-align:right; width:100%; margin:10px 0;}
.btn-group .btn {
    margin-left:5px;
	-webkit-appearance:none;
	-moz-appearance:none;
	appearance:none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
.btn-group > .btn:first-child {margin-left:0px;}


/* big btn */
/* 활성(blue) */
.btn-bigtype01 {
    color:#fff; font-weight:bold;
    padding:10px 50px;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.5);
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    border: 1px soild #3356A8;
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#5C9CF3), color-stop(0.50, #2F81ED), color-stop(0.50, #156FE9), to(#1471EA));
	background-image: -webkit-linear-gradient(top, #5C9CF3, #2F81ED 50%, #156FE9 50%, #1471EA);
	background-image: -moz-linear-gradient(top, #5C9CF3, #2F81ED 50%, #156FE9 50%, #1471EA);
	background-image: -ms-linear-gradient(top, #5C9CF3, #2F81ED 50%, #156FE9 50%, #1471EA);
	background-image: -o-linear-gradient(top, #5C9CF3, #2F81ED 50%, #156FE9 50%, #1471EA);
	background-image: linear-gradient(to bottom, #5C9CF3, #2F81ED 50%, #156FE9 50%, #1471EA);
}
.btn-bigtype01:hover,
.btn-bigtype01:active,
.btn-bigtype01:focus {
    background: #136FEA;
    -webkit-box-shadow: inset 1px 1px 5px rgba(0,0,0,.5);
    -moz-box-shadow: inset 1px 1px 5px rgba(0,0,0,.5);
    box-shadow: inset 1px 1px 5px rgba(0,0,0,.5);
}

/* 비활성(gray) */
.btn-bigtype02 {
    color:#333; font-weight:bold;
    padding:10px 50px;
    text-shadow: 0 -1px 1px rgba(244, 244, 244, 0.5);
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    border: 1px soild #C6C4C7;
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ffffff), color-stop(0.50, #FEFEFE), color-stop(0.50, #F4F4F6), to(#E4E9ED));
	background-image: -webkit-linear-gradient(top, #ffffff, #FEFEFE 50%, #F1F2F6 50%, #E4E9ED);
	background-image: -moz-linear-gradient(top, #ffffff, #FEFEFE 50%, #F1F2F6 50%, #E4E9ED);
	background-image: -ms-linear-gradient(top, #ffffff, #FEFEFE 50%, #F1F2F6 50%, #E4E9ED);
	background-image: -o-linear-gradient(top, #ffffff, #FEFEFE 50%, #F1F2F6 50%, #E4E9ED);
	background-image: linear-gradient(to bottom, #ffffff, #FEFEFE 50%, #F1F2F6 50%, #E4E9ED);
}
.btn-bigtype02:hover,
.btn-bigtype02:active,
.btn-bigtype02:focus {
    background: #E6E9EE;
    -webkit-box-shadow: inset 1px 1px 5px rgba(0,0,0,.5);
    -moz-box-shadow: inset 1px 1px 5px rgba(0,0,0,.5);
    box-shadow: inset 1px 1px 5px rgba(0,0,0,.5);
}

/* 강조(red) */
.btn-bigtype03 {
    color:#fff; font-weight:bold;
    padding:10px 50px;
    text-shadow: 0 -1px 0 rgba(136, 1, 5, 0.5);
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    border: 1px soild #E0363F ;
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#FE797E), color-stop(0.50, #F44147),  color-stop(0.50, #E4010C), to(#C8060F));
	background-image: -webkit-linear-gradient(top, #FE797E, #F44147 50%, #E4010C 50%, #C8060F);
	background-image: -moz-linear-gradient(top, #FE797E, #F44147 50%, #E4010C 50%, #C8060F);
	background-image: -ms-linear-gradient(top, #FE797E, #F44147 50%, #E4010C 50%, #C8060F);
	background-image: -o-linear-gradient(top, #FE797E, #F44147 50%, #E4010C 50%, #C8060F);
	background-image: linear-gradient(to bottom, #FE797E, #F44147 50%, #E4010C 50%, #C8060F);
}

.btn-bigtype03:hover,
.btn-bigtype03:active,
.btn-bigtype03:focus {
    background: #E2000B;
    -webkit-box-shadow: inset 1px 1px 5px rgba(0,0,0,.5);
    -moz-box-shadow: inset 1px 1px 5px rgba(0,0,0,.5);
    box-shadow: inset 1px 1px 5px rgba(0,0,0,.5);
}

/* middle btn */
/* 활성(black) */
.btn-midtype01 {
    margin:3px 0 3px 3px; padding:6px 15px;
    color:#fff; font-size:14px; font-weight:bold;
    vertical-align: middle;
    text-shadow: 0 -1px 0 rgba(136, 1, 5, 0.5);
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    border: 1px soild #525252;
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#858585), color-stop(0.50, #4B4B4B),  color-stop(0.50, #3A3A3A), to(#373737));
	background-image: -webkit-linear-gradient(top, #858585, #4B4B4B 50%, #3A3A3A 50%, #373737);
	background-image: -moz-linear-gradient(top, #858585, #4B4B4B 50%, #3A3A3A 50%, #373737);
	background-image: -ms-linear-gradient(top, #858585, #4B4B4B 50%, #3A3A3A 50%, #373737);
	background-image: -o-linear-gradient(top, #858585, #4B4B4B 50%, #3A3A3A 50%, #373737);
	background-image: linear-gradient(to bottom, #858585, #4B4B4B 50%, #3A3A3A 50%, #373737);

}
.btn-midtype01:hover,
.btn-midtype01:active,
.btn-midtype01:focus {
    background: #373737;
    -webkit-box-shadow: inset 1px 1px 5px rgba(0,0,0,.5);
    -moz-box-shadow: inset 1px 1px 5px rgba(0,0,0,.5);
    box-shadow: inset 1px 1px 5px rgba(0,0,0,.5);
}

/* 테이블 위 (black) */
.btn-midtype02 {
    padding:6px 15px;
    color:#fff; font-size:14px; font-weight:bold;
    vertical-align: middle;
    text-shadow: 0 -1px 0 rgba(136, 1, 5, 0.5);
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    border: 1px soild #525252;
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#858585), color-stop(0.50, #4B4B4B),  color-stop(0.50, #3A3A3A), to(#373737));
	background: -webkit-linear-gradient(top, #858585, #4B4B4B 50%, #3A3A3A 50%, #373737);
	background: -moz-linear-gradient(top, #858585, #4B4B4B 50%, #3A3A3A 50%, #373737);
	background: -ms-linear-gradient(top, #858585, #4B4B4B 50%, #3A3A3A 50%, #373737);
	background: -o-linear-gradient(top, #858585, #4B4B4B 50%, #3A3A3A 50%, #373737);
	background-image: linear-gradient(to bottom, #858585, #4B4B4B 50%, #3A3A3A 50%, #373737);

}
.btn-midtype02:hover,
.btn-midtype02:active,
.btn-midtype02:focus {
    background: #373737;
    -webkit-box-shadow: inset 1px 1px 5px rgba(0,0,0,.5);
    -moz-box-shadow: inset 1px 1px 5px rgba(0,0,0,.5);
    box-shadow: inset 1px 1px 5px rgba(0,0,0,.5);
}

/* datepicker-trigger */
.ui-monthpicker-trigger,
.ui-datepicker-trigger,
button.ui-monthpicker-trigger,
button.ui-datepicker-trigger{
    display: inline-block;
	margin: 0px 0 1px 5px;
	padding:0;
    width: 32px; height:32px;
	vertical-align: bottom;
	background: url('images/ico_calendar_on.svg') 0 0 no-repeat;
    border: none;
}
.ui-monthpicker-disabled,
.ui-datepicker-disabled,
button[disabled].ui-monthpicker-trigger,
button[disabled].ui-datepicker-trigger {
    display: inline-block;
	margin: 0px 0 1px 5px;
	padding:0;
    width: 32px; height:32px;
	vertical-align: bottom;
    background: url('images/ico_calendar_off.svg') 0 0 no-repeat;
    border: none;
}

.ui-datepicker td span,
.ui-datepicker td a {padding: 0.44em;}
.ui-datepicker .ui-datepicker-title select { padding: 6px; line-height: 18px;}
.ui-datepicker .ui-datepicker-prev span,
.ui-datepicker .ui-datepicker-next span {margin-top: -8px;}
.ui-datepicker .ui-datepicker-year,
.ui-datepicker .ui-datepicker-month {
    color:#333;
    border: 1px solid #aaa;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.3), 0 1px 1px rgba(255,255,255,.27);
    -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,.3), 0 1px 1px rgba(255,255,255,.27);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.3), 0 1px 1px rgba(255,255,255,.27);
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    cursor: pointer;
    background:#fff url('images/bg_select.svg') right 10px no-repeat;
}
.ui-datepicker .ui-datepicker-prev, .ui-datepicker .ui-datepicker-next {
	top: 3px;
	width: 2.2em;
	height: 2.2em;
}
.ui-icon-circle-triangle-e {
	background-position:0 0;
}
.ui-icon.ui-icon-circle-triangle-e {
	width: 16px;
	height: 16px;
	background:url('images/ico_arrow_right.svg') 0 0 no-repeat;
}
.ui-icon.ui-icon-circle-triangle-w {
	width: 16px;
	height: 16px;
	background:url('images/ico_arrow_left.svg') 0 0 no-repeat;
}


/* radio & checkbox */
input[type="radio"],
input[type="checkbox"] {
	width: auto;
	line-height: normal;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}
/*
select:focus,
input[type="file"]:focus,
input[type="radio"]:focus,
input[type="checkbox"]:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
*/

.radio,
.checkbox {
	display: inline-block;
	vertical-align: bottom;
	min-height: 20px;
}
.checkbox {margin: 3px 0;}
.radio + .radio,
.checkbox + .checkbox {
	margin-right: 12px;
}
.controls > .radio:first-child,
.controls > .checkbox:first-child {
	margin-right: 12px;
}
.checkbox input[type="checkbox"],
.radio input[type="radio"] {
	position: absolute;
	left: -100000px;
}
.checkbox span {
	display: inline-block;
	margin: 0; padding: 0;
	width: 18px; height: auto;
	cursor: pointer;
	vertical-align: middle;
}
.checkbox span:after {
	content: "";
	display: inline-block;
	margin: 0; padding: 0;
	width:17px; height: 17px;
	cursor: pointer;
	background:#fff url('images/check_blue.svg') no-repeat;
	background-position: -100px 0;
	vertical-align: middle;
	border:1px solid #b0b0b0;;;
}
.checkbox span.disabled:after {
	background:#eeeeee;
}
.checkbox span.check:after {
	background-position: -80px 0;
}
.checkbox .checkBtn:checked:active + .checkbox span:active {
	background-position: -80px 0;
}
.radio span {
	display: inline-block;
	margin: 0; padding: 0;
	width:18px; height: auto;
	cursor: pointer;
	vertical-align: middle;
}
.radio span:after {
	content: "";
	display: inline-block;
	margin: 0; padding: 0;
	width:18px; height: 18px;
	cursor: pointer;
	background:#fff url('images/check_blue.svg') no-repeat;
	background-position: -100px 0;
	vertical-align: middle;
	border:1px solid #b0b0b0;;
	border-radius: 15px; 
}
.radio span.disabled:after { 
	background:#eeeeee;
}
input:checked + .inp-check:after {
	background-position: -40px 0;
}
input:checked + .inp-radio:after {
	background-position: -140px 0;
}
input:checked + .inp-check.disabled:after {
	background:#eee url('images/check_blue.svg') no-repeat;
	background-position: -80px 0;
}
input:checked + .inp-radio.disabled:after {
	background:#eee url('images/check_blue.svg') no-repeat;
	background-position: -180px 0;
}


/* font color */
.red { color:#E0363F;}
.blue { color:#1C6EAA;}
.red12 { font-size:12px; color:#E0363F;}
.blue12 { font-size:12px; color:#1C6EAA;}


/* font size */
.f12 { font-size:12px; }
.f14 { font-size:14px; }
.f16 { font-size:16px; }
.f18 { font-size:18px; }
.f20 { font-size:20px; }
.f24 { font-size:24px; }
.f28 { font-size:28px; }

/* margin & padding */
.pad-top-15 { padding-top:15px;} 
.pad-top-17 { padding-top:17px;} /* 오른쪽 버튼&텍스트 일때 왼쪽 1줄일때 적용*/
.pad-top-25 { padding-top:25px;} /* 왼쪽text 3줄일때 오른쪽에 적용 */
.mar-top-10 { margin-top: 10px;}
.mar-top-15 { margin-top: 15px;} /* badge 누를때 */


/* 글자 말줄임 */

.memo-view {
    width:30px;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
}
.text-ellipsis {
    overflow: hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
}

/* alert */
.alert { margin-bottom:3px; }
        
/* badge 뱃지*/
.badge {
	border:1px solid #ccc;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
.badge-wrap { display:inline-block; margin: 0px 5px 0 0;}
.badge-wrap span.badge { display:inline-block; margin-right:5px; height: 14px;}

.badge-no1 { background-color:#0F90FD; } /*출고 정산*/
.badge-no2 { background-color:#FFCDCD; } /*불량재고*/
.badge-no3 { background-color:#FFFFCC; } /*분실재고*/
.badge-no4 { background-color:#90D133; } /*60일 경과*/
.badge-no5 { background-color:#FF82C8; } /*90일 경과*/
.badge-no6 { background-color:#90D133; } /*(모델검색)60일 경과*/
.badge-no7 { background-color:#FF82C8; } /*(모델검색)90일 경과*/
.badge-no8 { background-color:#0F90FD; } /**/
.badge-no9 { background-color:#dfe1ff; } /*교품완료*/
.badge-no10 { background-color:#daffda; } /*현금환불*//*ACC판매*/

