@charset "utf-8";
/* 전체공통 */

@import url('ui.css');
@import url('base.css');
@import url('common.css');

/* 전체공통 */
body {position: relative; margin:0px; padding:0px; width:100%; height:100%; background:#f0efef url('images/bg_body.png') top left no-repeat;}

/* 상단메뉴 navi  */
.navbar {
	position: fixed;
	top: 0; left: 0;
	width: 100%;
	z-index: 1030;
	/* overflow: visible; */
	height:47px;
    background:url('images/bg_header_wrap.png') top left repeat-x;
    background-size:auto 47px;
}
.navbar .btn, .navbar .btn-group { margin-top:0px;}
.navbar-inner {
    position: relative; height:47px;
    border-bottom:none;
    background:url('images/bg_header.png') top center no-repeat;
    background-size:auto 47px;
}
.navbar-inner .toptitle {
    position: absolute;
	top:15px; left:0;
	text-align:center;
    /*margin:0 auto; padding-top:15px;*/
    width:100%; 
	color:#fff; 
    /* height:42px; */
	font-weight:bold;
    text-shadow: 0 2px 3px rgba(0, 0, 0, 0.25);
	z-index:0;
}
.navbar-inner .toptitle h1 {
	display:inline-block;
	font-size: 20px;
	font-weight:bold;
}
.navbar .navbar-inner ul {
    position: absolute;
	top:5px; left:0px;
	width:100%;
    list-style: none;
    /*margin: 5px 0 0 0;
    min-height:47px;*/
	z-index:10;
}
.navbar-inner ul:after { contents:""; display:block; clear: both;}
.navbar-inner .menu-btn { float:left;}
.navbar-inner .home { float:right;}
.navbar-inner li {}
.navbar-inner li input.btn,
.navbar-inner li input.btn:hover,
.navbar-inner li input.btn:active,
.navbar-inner li input.btn:focus {
    padding:0; width:36px; height:36px;
    border-color:#9EAFBC;
    -moz-box-shadow:inset 0px 1px 2px rgba(000,000,000,0.5);
    -webkit-box-shadow:inset 0px 1px 2px rgba(000,000,000,0.5);
    box-shadow:inset 0px 1px 2px rgba(000,000,000,0.5);
}
/* navi 아이콘 */
.navbar-inner li input.ico-home { background:#fff url('images/ico_home.png') no-repeat 0 1px; background-size:32px 32px; }
.navbar-inner li input.ico-menu { background:#fff url('images/ico_menu.png') no-repeat 0 2px; background-size:32px 32px; }
.navbar-inner li input.ico-search { background:#fff url('images/ico_search.png') no-repeat 0 1px; background-size:32px 32px; }

/* back btn */
.btn-back {
    display:none;
    position: relative; margin: 0px 0 0 12px;
    width: 50px; height: 34px;
    border: 1px solid rgba(0,0,0, 0.4);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background: #fff;
    -moz-box-shadow:inset 0px 1px 2px rgba(000,000,000,0.5);
    -webkit-box-shadow:inset 0px 1px 2px rgba(000,000,000,0.5);
    box-shadow:inset 0px 1px 2px rgba(000,000,000,0.5);
}
.btn-back div {
	position: absolute;
	z-index: 1;
	top: 4px;
	left: -11px;
	transform:rotate(45deg);
	-ms-transform:rotate(45deg); /* IE 9 */
	-moz-transform:rotate(45deg); /* Firefox */
	-webkit-transform:rotate(45deg); /* Safari and Chrome */
	-o-transform:rotate(45deg); /* Opera */
}
.btn-back span {
    display: block;
    width: 23px; height: 24px;
    background: #fff;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
    border: 1px solid rgba(0,0,0, 0.4);
    border-right: 0; border-top: 0;
    -moz-box-shadow:inset 2px 0px 1px rgba(000,000,000,0.5);
    -webkit-box-shadow:inset 2px 0px 1px rgba(000,000,000,0.5);
    box-shadow:inset 2px 0px 1px rgba(000,000,000,0.5);

	transform:skew(0deg);
	-ms-transform:skew(0deg); /* IE 9 */
	-moz-transform:skew(0deg); /* Firefox */
	-webkit-transform:skew(0deg); /* Safari and Chrome */
	-o-transform:skew(0deg); /* Opera */
}
.btn-back input ,
.btn-back input :hover,
.btn-back input :active,
.btn-back input :focus {
    display:inline-block;
    position: absolute; z-index: 2;
    top: 3px; left: 6px;
    margin: 0; padding: 0;
    padding:6px 2px 3px 5px;
    color:#156AAA;
    font-size: 14px; font-weight: bold;
    background: #fff; border:none;
    text-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

/* 본문 * 47+20px */
.container-fluid {
    min-height: 100%;
	min-width:100%;
	/*margin:-47px 0 -68px;*/
	margin:0 0 -68px;
	padding:0;
}
.container-fluid:after {
	contents:"";
	display:block;
	clear: both;
}
.contents {
	position: relative;
	padding:67px 20px 68px;
	/*overflow: auto;
	-webkit-overflow-scrolling: touch;*/
}


/* footer */
.footer {
	/*position:fixed;
	bottom: 0;
	left: 0; */
	padding:35px 0px 15px;
	width:100%;
    font-size: 14px; font-weight: bold;
    color: #6D6D6D; text-shadow: none;
    text-align: center; background: none;
}
.footer p {margin:0px;}
.footer span {color:#1569A9;}


/* inner-box */
.inner-wrap {
    padding:20px;
    background-color:#fff;
    border:1px solid #aaa;
    -webkit-box-shadow: inset 0px 1px 3px rgba(0,0,0,.3);
    -moz-box-shadow: inset 0px 1px 3px rgba(0,0,0,.3);
    box-shadow: inset 0px 1px 3px rgba(0,0,0,.3);
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}
.inner-wrap .inner-title {
    color:#1C6EAA;
	font-size:16px;
    font-weight:bold;
	margin-bottom:5px;
}

/* table-list */
.list-wrap { display:table; width:100%; padding-bottom:50px;}
.list-wrap:after { content: ""; display:table; clear: both; }

/* list table 상단 */
.tbl-top-wrap { margin:0 0 5px; vertical-align:bottom; }
.tbl-top-wrap:after { content: ""; display:block; clear: both; }

.tbl-top-wrap .top-inner { margin:0 0 5px 0; min-width:830px; }
.tbl-top-wrap .top-inner:after { content: ""; display:block; clear: both; }

.tbl-top-wrap .left-top { float: left; text-align:left;}
.tbl-top-wrap .left-top p {margin:1px 0 0 3px;}
.tbl-top-wrap .right-top { float: right; text-align:right;}
.tbl-top-wrap .right-top p {margin:1px 3px 0 0;}

.tbl-top-wrap .left-txt-top { float: left; display:inline-block; margin: 10px 0px 0 0px; vertical-align:bottom; }
.tbl-top-wrap .right-txt-top { float: right; display:inline-block; margin: 10px 0px 0 0px; vertical-align:bottom; }

.tbl-top-wrap span.txt { display:inline-block; margin: 5px 0px 0 0px; vertical-align:bottom; }


/* 정렬순서 */
.list-order { display:inline-block; margin:3px 10px 3px 0; }
.list-order p {
    display:inline-block;
    margin:0px;
    color: #176BAB; font-weight:bold;
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}
.list-order ul {
    display:inline-block; list-style: none;
    margin:0px;
    padding:4px 10px 2px 10px;
    background: #fff;
    border: 1px solid #ccc;
    -webkit-box-shadow: inset 0px 1px 2px rgba(0,0,0,.5);
    -moz-box-shadow: inset 0px 1px 2px rgba(0,0,0,.5);
    box-shadow: inset 0px 1px 2px rgba(0,0,0,.5);
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    border-radius: 15px;
}
.list-order ul li {
    display:inline-block;
    padding:3px 10px;
    border-right:1px solid #aaa;
}
.list-order ul li:last-of-type {
   /* padding:0 5px 0 5px;*/
    border-right:none;
}
.list-order ul li a { color:#333; cursor:pointer; }


/* modal */
.modal-header {
    padding: 8px 15px;
    font-weight:bold;
    border-bottom: none;
    -webkit-border-radius: 6px 6px 0 0;
    -moz-border-radius: 6px 6px 0 0;
    border-radius: 6px 6px 0 0;
    background:url('images/bg_header.png') top center no-repeat;
    background-size:auto 47px;
}
.modal-header h3 { font-size: 20px; color:#fff; text-align:center;}
.modal-header .close {margin-top: 5px; vertical-align:top;}
.modal-body { padding:30px 20px; background:#F4F3F3; }
.modal-body .innerbox {
    padding:20px; background-color:#fff;
    -webkit-box-shadow: inset 1px 2px 3px rgba(0,0,0,.5), 0 3px 3px rgba(255,255,255,.5);
    -moz-box-shadow: inset 1px 2px 3px rgba(0,0,0,.5), 0 3px 3px rgba(255,255,255,.5);
    box-shadow: inset 1px 2px 3px rgba(0,0,0,.5), 0 3px 3px rgba(255,255,255,.5);
    border:1px solid #ccc;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}
.modal-body .table-type1 .control-group .control-label {}
.modal .table-type1 .control-group .controls textarea {witdh:100%}
.modal-footer {
    border-top:none; background:#F4F3F3;
    text-align:center;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

/* modal-QuickSearch */
#divPopQuickSearch .table-type7 .control-group .controls select { width: 100%;}
#divPopQuickSearch .table-type7 .control-group .controls input[type="text"],
#divPopQuickSearch .table-type7 .control-group .controls input[type="number"],
#divPopQuickSearch .table-type7 .control-group .controls input[type="tel"]{ width: 100%;}


/* 각 페이지별 */
/* menu */
.menu {
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    border-radius: 7px;
}
.menu a:hover, .menu a:active, .menu a:focus { text-decoration:none; }
.menu p {
    display:block;
    margin:0;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    padding:10px 0 10px 30px;
    font-size: 20px; line-height: 1.4em;
    color:#fff; font-weight: bold;
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#0EB4E6), color-stop(0.50, #0788C1), color-stop(0.50, #146BAB), to(#1569AA));
	background-image: -webkit-linear-gradient(top, #0EB4E6, #0788C1 50%, #146BAB 50%, #1569AA);
	background-image: -moz-linear-gradient(top, #0EB4E6, #0788C1 50%, #146BAB 50%, #1569AA);
	background-image: -ms-linear-gradient(top, #0EB4E6, #0788C1 50%, #146BAB 50%, #1569AA);
	background-image: -o-linear-gradient(top, #0EB4E6, #0788C1 50%, #146BAB 50%, #1569AA);
	background-image: linear-gradient(to bottom, #0EB4E6, #0788C1 50%, #146BAB 50%, #1569AA);

    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    border-radius: 7px;
    border:1px solid #0FA1D3;
    text-shadow:1px 1px 3px rgba(000,000,000,0.5);
}
.menu p a { display:block; color:#fff; font-weight: bold;}

.menu ul { margin: 0px; list-style: none;}
.menu ul li {
    display:block;
    position:relative;
    font-size: 18px;
    font-weight: bold;
    line-height: 1.4em;
}
.menu ul li a {
    display:block;
    padding:10px 0 10px 40px;
    color: #fff;
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#c2c2c2), color-stop(0.50, #A6A5A3), color-stop(0.50, #777777), to(#555555));
	background-image: -webkit-linear-gradient(top, #c2c2c2, #A6A5A3 50%, #777777 50%, #555555);
	background-image: -moz-linear-gradient(top, #c2c2c2, #A6A5A3 50%, #777777 50%, #555555);
	background-image: -ms-linear-gradient(top, #c2c2c2, #A6A5A3 50%, #777777 50%, #555555);
	background-image: -o-linear-gradient(top, #c2c2c2, #A6A5A3 50%, #777777 50%, #555555);
	background-image: linear-gradient(to bottom, #c2c2c2, #A6A5A3 50%, #777777 50%, #555555);

    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    border-radius: 7px;
    border:none;
    text-shadow:1px 1px 2px rgba(000,000,000,0.5);
}
.menu ul li.on a {
    background:#777;
    -moz-box-shadow:inset 3px 5px 3px rgba(000,000,000,0.3);
    -webkit-box-shadow:inset 3px 5px 3px rgba(000,000,000,0.3);
    box-shadow:inset 3px 5px 3px rgba(000,000,000,0.3);
    text-shadow:-1px -1px 2px rgba(000,000,000,0.5);
}
.menu ul li ul,
.menu ul li.on ul {
    list-style: disc;
    list-style-position: inside;
}
.menu ul li ul li,
.menu ul li.on ul li {
    font-size: 16px;
}
.menu ul li ul li a,
.menu ul li.on ul li a {
    padding:12px 0 9px 55px;
    color:#444;
    background:#fff url('images/bul_2depth_off.png') 45px 22px;
    background-repeat:no-repeat;
    border: 1px solid #C8C8C8;
    border-top:none;
    -moz-border-radius: 0 0 5px 5px;
    -webkit-border-radius: 0 0 5px 5px;
    border-radius: 0 0 5px 5px;

    -moz-box-shadow:none;
    -webkit-box-shadow:none;
    box-shadow:none;
    text-shadow:none;
}
.menu ul li.on  ul li a:hover,
.menu ul li.on  ul li a:active,
.menu ul li.on  ul li a:focus,
.menu ul li ul li a:hover,
.menu ul li ul li a:active,
.menu ul li ul li a:focus {
    color:#E47138;
    background:#fff url('images/bul_2depth_on.png') 45px 22px;
    background-repeat:no-repeat;
}


/* 토글아이콘 */
.menu ul li em {
    position: absolute; top:11px; right:20px;
    display:block;
    width: 24px; height: 24px;
    background-image: url('images/ico_arrow1_down.svg');
    background-position:3px 3px;
    background-repeat:no-repeat;

    -moz-border-radius: 12px;
    -webkit-border-radius: 12px;
    border-radius: 12px;
    -moz-box-shadow: 0px 1px 5px rgba(000,000,000,0.5), inset 0px 5px 10px rgba(255,255,255,0.5) ;
    -webkit-box-shadow: 0px 1px 5px rgba(000,000,000,0.5), inset 0px 5px 10px rgba(255,255,255,0.5);
    box-shadow: 0px 1px 5px rgba(000,000,000,0.5), inset 0px 5px 10px rgba(255,255,255,0.5);
}
.menu ul li.on em {
    top:12px;
    background:#949494;
    background-image: url('images/ico_arrow1_up.svg');
    background-position:4px 4px;
    background-size:16px 16px;
    background-repeat:no-repeat;

    -moz-box-shadow:inset 0px 2px 5px rgba(000,000,000,0.7);
    -webkit-box-shadow:inset 0px 2px 5px rgba(000,000,000,0.7);
    box-shadow:inset 0px 2px 5px rgba(000,000,000,0.7);
}

/* main */
.main { position: relative;}
.main .todo {
    position: relative;
    float: right;
    padding:15px 15px 15px 35px;
    background:#fff;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -moz-box-shadow:inset 0px 1px 5px rgba(000,000,000,0.7);
    -webkit-box-shadow:inset 0px 1px 5px rgba(000,000,000,0.7);
    box-shadow:inset 0px 1px 5px rgba(000,000,000,0.7);
}
.main .todo p.intitle {
    position:absolute;
    top: 77px; left: -31px;
    margin:0; padding:0;

    color:#1C6EAA;
    font-size: 18px;
    font-weight:bold;
    text-align:center;

	-ms-transform:rotate(270deg); /* IE 9 */
	-moz-transform:rotate(270deg); /* Firefox */
	-webkit-transform:rotate(270deg); /* Safari and Chrome */
	-o-transform:rotate(270deg); /* Opera */
}
.main .middle-tab { margin:0px 0 10px; padding-top: 200px;}
.main .middle-tab .tab-content {min-height:161px;}
.main .bottom-tab {}
.main .bottom-tab .nav-tabs {}
.main .bottom-tab .tab-content {}


/* notice */
.notice .table-bbs-type4 thead #subject {text-align:left; padding-left:15px; }


/* 게시판 새글 아이콘 */
.tab-content .label { margin-right:5px;}


/* 게시판 새글표지 */
/*.icon-new {
    display: inline-block;
    margin-right: 5px;
    width:16px; height:16px;
    background: url('images/ico_new.svg') no-repeat;} */




/*flexible-menu*/
.flex-menu {
    position: fixed;
    top: 25%; left: 0;
    z-index: 999;
}
.flex-menu .btn-group {}
.flex-menu .btn-group:after {
    content: "";
    display:block;
    clear: both;
}
.flex-menu .btn-group p {
    margin:0; padding:0;
    float:left;
}
.flex-menu .btn-group p a {
    float:left;
    margin:1px 0 0 0; padding:0;
    width:35px; height:68px;
    background:#EC703C;
    -webkit-border-radius: 0 34px 34px 0;
    -moz-border-radius: 0 34px 34px 0;
    border-radius: 0 34px 34px 0;
    border: none;
    -webkit-box-shadow: inset 0 0px 1px rgba(255,255,255,.2), inset 0 0px 1px rgba(255,255,255,.4), inset -1px 0 1px rgba(0,0,0,.1), 1px 2px 3px rgba(0,0,0,.4);
    -moz-box-shadow: inset 0 0px 1px rgba(255,255,255,.2), inset 0 0px 1px rgba(255,255,255,.4), inset -1px 0 1px rgba(0,0,0,.1), 1px 2px 3px rgba(0,0,0,.4);
    box-shadow: inset 0 0px 1px rgba(255,255,255,.2), inset 0 0px 1px rgba(255,255,255,.4), inset -1px 0 1px rgba(0,0,0,.1), 1px 2px 3px rgba(0,0,0,.4);  
}
.flex-menu .flex-btn {
    display: none;
    margin:0; padding:0;
    float:left;
}
.flex-menu .flex-btn:after {
    content: "";
    display:block;
    clear: both;
}
.flex-menu .flex-btn li {
    float: left;
    margin:0; padding:0;
    text-align:center;
    background-color:transparent;
    border-top: 1px solid #DCDBD9;
    border-right: 1px solid #55595A;
    border-left: 1px solid #fff;
    border-bottom: 1px solid #777;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#C0BFBD), to(#888888));
	background-image: -webkit-linear-gradient(top, #C0BFBD 0%, #888888);
	background-image: -moz-linear-gradient(top, #C0BFBD 0%, #888888);
	background-image: -ms-linear-gradient(top, #C0BFBD 0%, #888888);
	background-image: -o-linear-gradient(top, #C0BFBD 0%, #888888);
	background-image: linear-gradient(top, #C0BFBD 0%, #888888);
	
	-webkit-box-shadow: inset 0 0px 1px rgba(255,255,255,.2), inset 0 0px 1px rgba(255,255,255,.4), inset -1px 0 1px rgba(0,0,0,.1), 1px 2px 3px rgba(0,0,0,.4);
    -moz-box-shadow: inset 0 0px 1px rgba(255,255,255,.2), inset 0 0px 1px rgba(255,255,255,.4), inset -1px 0 1px rgba(0,0,0,.1), 1px 2px 3px rgba(0,0,0,.4);
    box-shadow: inset 0 0px 1px rgba(255,255,255,.2), inset 0 0px 1px rgba(255,255,255,.4), inset -1px 0 1px rgba(0,0,0,.1), 1px 2px 3px rgba(0,0,0,.4); 
}
.flex-menu .flex-btn li a.btn {
    display:inline-block;
    margin:0; padding:0;
    width:68px; height:68px;
    color:#F8F8F8; font-weight:bold;
	text-shadow: none;
    border: none;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}

.flex-menu .flex-btn li.mymenu01 a.btn {background:url('mymenu/mymenu01.svg') center 5px no-repeat;}
.flex-menu .flex-btn li.mymenu02 a.btn {background:url('mymenu/mymenu02.svg') center 5px no-repeat;}
.flex-menu .flex-btn li.mymenu03 a.btn {background:url('mymenu/mymenu03.svg') center 5px no-repeat;}
.flex-menu .flex-btn li.mymenu04 a.btn {background:url('mymenu/mymenu04.svg') center 5px no-repeat;}
.flex-menu .flex-btn li.mymenu05 a.btn {background:url('mymenu/mymenu05.svg') center 5px no-repeat;}
.flex-menu .flex-btn li.mymenu06 a.btn {background:url('mymenu/mymenu06.svg') center 5px no-repeat;}
.flex-menu .flex-btn li.mymenu07 a.btn {background:url('mymenu/mymenu07.svg') center 5px no-repeat;}
.flex-menu .flex-btn li.mymenu08 a.btn {background:url('mymenu/mymenu08.svg') center 5px no-repeat;}
.flex-menu .flex-btn li.mymenu09 a.btn {background:url('mymenu/mymenu09.svg') center 5px no-repeat;}
.flex-menu .flex-btn li.mymenu10 a.btn {background:url('mymenu/mymenu10.svg') center 5px no-repeat;}
.flex-menu .flex-btn li.mymenu11 a.btn {background:url('mymenu/mymenu11.svg') center 5px no-repeat;}
.flex-menu .flex-btn li.mymenu12 a.btn {background:url('mymenu/mymenu12.svg') center 5px no-repeat;}
.flex-menu .flex-btn li.mymenu13 a.btn {background:url('mymenu/mymenu13.svg') center 5px no-repeat;}
.flex-menu .flex-btn li.mymenu14 a.btn {background:url('mymenu/mymenu14.svg') center 5px no-repeat;}
.flex-menu .flex-btn li.mymenu15 a.btn {background:url('mymenu/mymenu15.svg') center 5px no-repeat;}
.flex-menu .flex-btn li.mymenu16 a.btn {background:url('mymenu/mymenu16.svg') center 5px no-repeat;}
.flex-menu .flex-btn li.mymenu17 a.btn {background:url('mymenu/mymenu17.svg') center 5px no-repeat;}
.flex-menu .flex-btn li.mymenu18 a.btn {background:url('mymenu/mymenu18.svg') center 5px no-repeat;}
.flex-menu .flex-btn li.mymenu19 a.btn {background:url('mymenu/mymenu19.svg') center 5px no-repeat;}
.flex-menu .flex-btn li.mymenu20 a.btn {background:url('mymenu/mymenu20.svg') center 5px no-repeat;}


.flex-menu .flex-btn li:first-of-type {
    background:none; border-left: none;
}
.flex-menu .flex-btn li:first-of-type a.btn{
    margin:0; padding:0;
    width:40px; height:68px;
    background:#4D4D4D url('images/main_setting.svg');
    background-repeat:no-repeat;
    background-position:center 10px;
}
.flex-menu .flex-btn li:first-of-type a span { width:auto;}

.flex-menu .flex-btn li a span {
    display: inline-block;
    margin-top:45px;
	width:60px;
	text-overflow:ellipsis; white-space: nowrap;
    overflow: hidden;
	font-size: 12px;
}

.mymenu-icon {text-align:center; }
.mymenu-icon ul { display:inline-block; }
.mymenu-icon ul:after { content: ""; display:block; clear:both;}
.mymenu-icon li { float:left; margin:10px 9px; width:40px; }
.mymenu-icon li span {display:block; text-align:center;}


/* responsive width */
@media (max-width : 479px) {
    .contents {padding:67px 5px 68px;}
    /*.navbar-inner ul {padding:0 5px;} */
	.navbar-inner .menu-btn { margin-left:5px;}
	.navbar-inner .btn-back {margin-left:17px;}
    .navbar-inner .home { margin:0 5px 0 3px;}
    .navbar-inner .toptitle h1 {
		padding-right:10px; width:50%;
		text-align:center;
        text-overflow:ellipsis; white-space: nowrap;
        overflow:hidden;
	}
	.list-wrap {padding-right: 5px;}

    .table-type1 .control-group {display:block;}
    .table-type1 .control-group .control-label { display:block; width:auto; padding:13px 1px 11px 35px; text-align:left;}
    .table-type1 .control-group .controls { display:block; padding:2px 0 2px 25px; width:auto; min-height:42px;}
    .table-type1 .control-group .controls select { width: 170px;}
    .table-type1 .control-group .controls input[type="text"],
	.table-type1 .control-group .controls input[type="number"],
	.table-type1 .control-group .controls input[type="tel"],
	.table-type1 .control-group .controls textarea {width: 170px;}
	.table-type1 .control-group .controls .radio,
	.table-type1 .control-group .controls .checkbox {margin-top:10px;}

	.modal { width:310px; left:87%;} 
	.modal .control { padding:0;}
	.modal.fade.in {top:55%;}
	.modal-header .close {margin-top: -5px;}
	
	/* .table-type1 .control-group .controls {padding:0;} */
	/* .table-type1 .control-group .control-label {witdh:100%} */
	.modal .table-type1 .control-group .control-label { padding:13px 1px 11px 35px; text-align:left;}
	.modal .table-type1 .control-group .controls {padding: 2px 0 2px 15px;}

	.table-type6 .control-group {display:block;}
    .table-type6 .control-group .control-label { display:block; width:auto; padding:13px 1px 11px 25px; text-align:left;}
    .table-type6 .control-group .controls { display:block; padding:2px 0 2px 25px; width:auto; min-height:42px;}
    .table-type6 .control-group .controls select { width: 170px;}
    .table-type6 .control-group .controls input[type="text"],
	.table-type6 .control-group .controls input[type="number"],
	.table-type6 .control-group .controls input[type="tel"],
	.table-type6 .control-group .controls textarea { width: 170px;}

    .table-type7 .control-group .controls select { width: 210px;}
    .table-type7 .control-group .controls input[type="text"],
	.table-type7 .control-group .controls input[type="number"],
	.table-type7 .control-group .controls input[type="tel"],
	.table-type7 .control-group .controls textarea { width: 210px;}

    .btn-group .btn-bigtype01,
    .btn-group .btn-bigtype02,
    .btn-group .btn-bigtype03 {padding:10px 50px;}

    .todo .table-type5 th,
	.todo .table-type5 th { white-space:normal; }
    .notice .nav-tabs > li {margin-top:5px; min-width:50%;}
    .notice .nav-tabs > li > a {padding: 12px 0.23em;}
    
    .table-bbs-type3 thead {display:none;}
    .table-bbs-type3 td.no {display:none;}
    .table-bbs-type3 td.date {display:none;}
    
    .notice .tab-content { padding:5px;}
    .notice .table-bbs-type4 thead #vtitle {display: none;}
    .notice .table-bbs-type4 thead #subject {border-left: none; border-right: none;}
    .notice .table-bbs-type4 thead #regdate {display: none;}

    .nav-tabs > li > a { font-size:15px; }

    .main .todo {width: 70%;}
    .main .middle-tab .nav-tabs li,
    .main .bottom-tab .nav-tabs li { width:50%;}
    .main .middle-tab .left-tab,
    .main .middle-tab .right-tab { display: block; width:100%; margin:10px 0;}

	.flex-menu {top: 36%; left:-10px;}
	.flex-menu .flex-btn li:first-of-type a.btn{margin:0 0 0 10px;}

	.float-page ul { padding-right:10px;}
	.btn-midtype01 {margin: 0 0 0 -1px;}
}

@media (min-width: 480px) and  (max-width: 767px) {
    .contents {padding:67px 8px 68px;}
    /*.navbar-inner ul {padding:0 8px;}*/
	.navbar-inner .menu-btn { margin-left:8px;}
	.navbar-inner .btn-back {margin-left:20px;}
    .navbar-inner .home { margin:0 8px 0 5px;}
	.list-wrap {padding-right: 8px;}

    .table-type1 .control-group .control-label { width:160px;}
    .table-type1 .control-group .controls select,
    .table-type1 .control-group .controls input[type="text"],
	.table-type1 .control-group .controls input[type="number"],
	.table-type1 .control-group .controls input[type="tel"],
	.table-type1 .control-group .controls textarea { width: 170px;}

	.modal .table-type1 .control-group .control-label { width:120px;}
	.modal .table-type1 .control-group .controls {padding: 1px 0px 1px 15px;}

    .table-type6 .control-group .control-label { width:180px;}
    .table-type6 .control-group .controls select,
    .table-type6 .control-group .controls input[type="text"],
	.table-type6 .control-group .controls input[type="number"],
	.table-type6 .control-group .controls input[type="tel"],
	.table-type6 .control-group .controls textarea { width: 170px;}

    .table-type7 .control-group .controls select,
    .table-type7 .control-group .controls input[type="text"],
	.table-type7 .control-group .controls input[type="number"],
	.table-type7 .control-group .controls input[type="tel"],
	.table-type7 .control-group .controls textarea { width: 255px;}

    .btn-group .btn-bigtype01,
    .btn-group .btn-bigtype02,
    .btn-group .btn-bigtype03 {padding:10px 60px;}

    .notice .nav-tabs > li { margin-top:5px; min-width:50%;}
    
    .table-bbs-type3 thead {display:none;}
    .table-bbs-type3 td.no {display:none;}
    .table-bbs-type3 td.date {display:none;}
        
    .notice .tab-content { padding:15px 10px;}  
    .notice .table-bbs-type4 thead #vtitle {display: none;}
    .notice .table-bbs-type4 thead #subject {border-left: none; border-right: none;}
    .notice .table-bbs-type4 thead #regdate {display: none;}

    .main .todo {min-width: 60%;}
    .main .middle-tab .nav-tabs li,
    .main .bottom-tab .nav-tabs li { width:50%;}
    .main .middle-tab .left-tab,
    .main .middle-tab .right-tab { display: block; width:100%; margin:10px 0;}

	.float-page ul { padding-right:16px;}
}

@media (min-width: 768px) and (max-width: 979px) {
    .contents {padding:67px 15px 68px;}
    /*.navbar-inner ul { padding:0 15px;}*/
	.navbar-inner .menu-btn { margin-left:15px;}
	.navbar-inner .btn-back {margin-left:27px;}
    .navbar-inner .home { margin:0 15px 0 5px;}
	.list-wrap {padding-right: 15px;}

    .table-type1 .control-group .control-label {width:175px;}
    .table-type1 .control-group .controls select { width: 200px;}
    .table-type1 .control-group .controls input[type="text"],
	.table-type1 .control-group .controls input[type="number"],
	.table-type1 .control-group .controls input[type="tel"],
	.table-type1 .control-group .controls textarea { width: 200px;}

	.modal .table-type1 .control-group .control-label {width:140px;}
    
	.table-type6 .control-group .control-label {width:175px;}
    .table-type6 .control-group .controls select { width: 200px;}
    .table-type6 .control-group .controls input[type="text"],
	.table-type6 .control-group .controls input[type="number"],
	.table-type6 .control-group .controls input[type="tel"],
	.table-type6 .control-group .controls textarea { width: 200px;}

    .table-type7 .control-group .controls select { width: 295px;}
    .table-type7 .control-group .controls input[type="text"],
	.table-type7 .control-group .controls input[type="number"],
	.table-type7 .control-group .controls input[type="tel"],
	.table-type7 .control-group .controls textarea { width: 295px;}

    .btn-group .btn-bigtype01,
    .btn-group .btn-bigtype02,
    .btn-group .btn-bigtype03 {padding:10px 70px;}

    .notice .nav-tabs > li { min-width:25%;}
    .notice .tab-content { padding:15px;}

    .notice .table-bbs-type4 thead #vtitle {max-width:70px;}
    .notice .table-bbs-type4 thead #regdate {max-width:100px;}

    .main .todo {min-width: 350px;}
    .main .middle-tab .nav-tabs li,
    .main .bottom-tab .nav-tabs li { width:50%;}
    .main .middle-tab .left-tab,
    .main .middle-tab .right-tab { display: block; width:100%; margin:10px 0;}

	.float-page ul { padding-right:30px;}	
}

@media (min-width: 980px) {
    /*.navbar-inner ul { padding:0 20px;}*/
	.navbar-inner .menu-btn { margin-left:20px;}
	.navbar-inner .btn-back {margin-left:32px;}
    .navbar-inner .home { margin:0 20px 0 8px;}
	.list-wrap {padding-right: 20px;}

    .table-type1 .control-group .control-label { width:210px; }
    .table-type1 .control-group .controls select,
    .table-type1 .control-group .controls input[type="text"],
	.table-type1 .control-group .controls input[type="number"],
	.table-type1 .control-group .controls input[type="tel"],
	.table-type1 .control-group .controls textarea { display:inline-block; width: 270px;}

	.modal .table-type1 .control-group .control-label {width:140px;}
    .modal .table-type1 .control-group .controls select,
    .modal .table-type1 .control-group .controls input[type="text"],
	.modal .table-type1 .control-group .controls input[type="number"],
	.modal .table-type1 .control-group .controls input[type="tel"],
	.modal .table-type1 .control-group .controls textarea { display:inline-block; width: 210px;}
	
	.table-type6 .control-group .control-label { width:210px; }
    .table-type6 .control-group .controls select,
    .table-type6 .control-group .controls input[type="text"],
	.table-type6 .control-group .controls input[type="number"],
	.table-type6 .control-group .controls input[type="tel"],
	.table-type6 .control-group .controls textarea { display:inline-block; width: 270px;}

    .table-type7 .control-group .controls select,
    .table-type7 .control-group .controls input[type="text"],
	.table-type7 .control-group .controls input[type="number"],
	.table-type7 .control-group .controls input[type="tel"],
	.table-type7 .control-group .controls textarea { display:inline-block; width: 375px;}

    .btn-group .btn-bigtype01,
    .btn-group .btn-bigtype02,
    .btn-group .btn-bigtype03 {padding:10px 100px;}

    .notice .nav-tabs > li { min-width:25%;}

    .notice .table-bbs-type4 thead #vtitle {width:80px;}
    .notice .table-bbs-type4 thead #regdate {width:190px;}

    .main .todo {min-width: 350px;}
    .main .middle-tab:after { content: ""; display:block; clear:both;}
    .main .middle-tab .nav-tabs li { width:50%;}
    .main .bottom-tab .nav-tabs li { width:25%;}
    .main .middle-tab .left-tab { float: left; width:49.5%;}
    .main .middle-tab .right-tab { float: right; width:49.5%;}

	.float-page ul { padding-right:40px;}
}