<section id="cornerstone-list">
<header class="page-header">
    <h1> Cornerstone List</h1>
</header>
<div class="row">
    <div class="col col-lg-12">
        <h3>Default Lists</h3>

        <div class="panel">
            <!-- Default panel contents -->
            <div class="panel-heading">Panel heading</div>
            <div class="panel-body">
                <ul class="list-group list-group-flush list-group-cornerstone">
                    <li class="list-group-item">
                        <div class="pull-right">
                            <span class="badge">17</span>
                            <span class="glyphicon glyphicon-ok"></span>
                        </div>
                        Cras justo odio
                    </li>
                    <li class="list-group-item">
                        <div class="pull-right">
                            <span class="badge">2</span>
                            <span class="glyphicon glyphicon-ok"></span>
                        </div>
                        Dapibus ac facilisis in
                    </li>
                    <li class="list-group-item">
                        <div class="pull-right">
                            <span class="badge">1</span>
                            <span class="glyphicon glyphicon-ok"></span>
                        </div>
                        Morbi leo risus
                    </li>
                </ul>
            </div>
        </div>
        <div class="panel">
            <!-- Default panel contents -->
            <div class="panel-heading">Panel heading</div>
            <div class="panel-body">
                <div class="list-group list-group-flush list-group-cornerstone">
                    <a class="list-group-item">
                        <div class="pull-right">
                            <span class="badge">17</span>
                            <span class="glyphicon glyphicon-ok"></span>
                        </div>
                        Cras justo odio
                    </a>
                    <a class="list-group-item active">
                        <div class="pull-right">
                            <span class="badge">2</span>
                            <span class="glyphicon glyphicon-ok"></span>
                        </div>
                        Dapibus ac facilisis in
                    </a>
                    <a class="list-group-item">
                        <div class="pull-right">
                            <span class="badge">1</span>
                            <span class="glyphicon glyphicon-ok"></span>
                        </div>
                        Morbi leo risus
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col col-lg-12">
        <h3>Panel Group</h3>

        <div class="panel-group">
            <div class="panel">
                <!-- Default panel contents -->
                <div class="panel-heading">Panel heading</div>
                <div class="panel-body">
                    <ul class="list-group list-group-flush list-group-cornerstone">
                        <li class="list-group-item">
                            <div class="pull-right">
                                <span class="badge">17</span>
                                <span class="glyphicon glyphicon-ok"></span>
                            </div>
                            Cras justo odio
                        </li>
                        <li class="list-group-item">
                            <div class="pull-right">
                                <span class="badge">2</span>
                                <span class="glyphicon glyphicon-ok"></span>
                            </div>
                            Dapibus ac facilisis in
                        </li>
                        <li class="list-group-item">
                            <div class="pull-right">
                                <span class="badge">1</span>
                                <span class="glyphicon glyphicon-ok"></span>
                            </div>
                            Morbi leo risus
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <hr>
        <div class="panel-group">
            <div class="panels">

                <div class="panel">
                    <!-- Default panel contents -->
                    <div class="panel-heading">Panel heading</div>
                    <div class="panel-body">
                        <ul class="list-group list-group-flush list-group-cornerstone">
                            <li class="list-group-item">
                                <div class="pull-right">
                                    <span class="badge">17</span>
                                    <span class="glyphicon glyphicon-ok"></span>
                                </div>
                                Cras justo odio
                            </li>
                            <li class="list-group-item">
                                <div class="pull-right">
                                    <span class="badge">2</span>
                                    <span class="glyphicon glyphicon-ok"></span>
                                </div>
                                Dapibus ac facilisis in
                            </li>
                            <li class="list-group-item">
                                <div class="pull-right">
                                    <span class="badge">1</span>
                                    <span class="glyphicon glyphicon-ok"></span>
                                </div>
                                Morbi leo risus
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="panel">
                    <!-- Default panel contents -->
                    <div class="panel-heading panel-sub-heading">Panel heading</div>
                    <div class="panel-body">
                        <div class="list-group list-group-flush list-group-cornerstone">
                            <a class="list-group-item">
                                <div class="pull-right">
                                    <span class="badge">17</span>
                                    <span class="glyphicon glyphicon-ok"></span>
                                </div>
                                Cras justo odio
                            </a>
                            <a class="list-group-item active">
                                <div class="pull-right">
                                    <span class="badge">2</span>
                                    <span class="glyphicon glyphicon-ok"></span>
                                </div>
                                Dapibus ac facilisis in
                            </a>
                            <a class="list-group-item">
                                <div class="pull-right">
                                    <span class="badge">1</span>
                                    <span class="glyphicon glyphicon-ok"></span>
                                </div>
                                Morbi leo risus
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col col-lg-12">
        <h3>Nav list</h3>

        <div class="panel-group panel-nav-group">
            <div class="panels">
                <div class="panel">
                    <!-- Default panel contents -->
                    <div class="panel-heading">Panel heading</div>
                    <div class="panel-body">
                        <ul class="list-group list-group-flush list-group-cornerstone">
                            <li class="list-group-item">
                                <div class="pull-right">
                                    <span class="badge">17</span>
                                    <span class="glyphicon glyphicon-ok"></span>
                                </div>
                                Cras justo odio
                            </li>
                            <li class="list-group-item active">
                                <div class="pull-right">
                                    <span class="badge">2</span>
                                    <span class="glyphicon glyphicon-ok"></span>
                                </div>
                                Dapibus ac facilisis in
                            </li>
                            <li class="list-group-item">
                                <div class="pull-right">
                                    <span class="badge">1</span>
                                    <span class="glyphicon glyphicon-ok"></span>
                                </div>
                                Morbi leo risus
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="panel">
                    <!-- Default panel contents -->
                    <div class="panel-heading panel-sub-heading">Panel heading</div>
                    <div class="panel-body">
                        <div class="list-group list-group-flush list-group-cornerstone">
                            <a class="list-group-item">
                                <div class="pull-right">
                                    <span class="badge">17</span>
                                    <span class="glyphicon glyphicon-ok"></span>
                                </div>
                                Cras justo odio
                            </a>
                            <a class="list-group-item active">
                                <div class="pull-right">
                                    <span class="badge">2</span>
                                    <span class="glyphicon glyphicon-ok"></span>
                                </div>
                                Dapibus ac facilisis in
                            </a>
                            <a class="list-group-item">
                                <div class="pull-right">
                                    <span class="badge">1</span>
                                    <span class="glyphicon glyphicon-ok"></span>
                                </div>
                                Morbi leo risus
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</section>