<div class="col col-lg-12">
    <div class="itemWrapper">
        <div class="pinHolder">
            <a href="#detail/{{index}}" class="imageWrapper" style="height:{{height}}px;">
                <h4 class="domain">{{attrib}}</h4>
                <img src="{{imageLarge}}" alt="">
            </a>
        </div>

        <div class="meta">
            <p class="description">{{desc}}</p>
        </div>
    </div>
</div>