<!-- <p>
	<input type="text" readonly="readonly" id="roomNumberLabel" />
</p>
<p>
	<input type="text" readonly="readonly" id="player1Nickname" value="__________" />
	<input type="text" readonly="readonly" id="player1Status" value="접속대기중" />
</p>
<p>
	<input type="text" readonly="readonly" id="player2Nickname" value="__________" />
	<input type="text" readonly="readonly" id="player2Status" value="접속대기중" />
</p>
<p>
	<input type="text" readonly="readonly" id="player3Nickname" value="__________" />
	<input type="text" readonly="readonly" id="player3Status" value="접속대기중" />
</p>
<p>
	<input type="text" readonly="readonly" id="player4Nickname" value="__________" />
	<input type="text" readonly="readonly" id="player4Status" value="접속대기중" />
</p>
<p>
	<input type="text" readonly="readonly" id="player5Nickname" value="__________" />
	<input type="text" readonly="readonly" id="player5Status" value="접속대기중" />
</p>
<p>
	<input type="text" readonly="readonly" id="player6Nickname" value="__________" />
	<input type="text" readonly="readonly" id="player6Status" value="접속대기중" />
</p> -->

<div id="wrap">
	<div class="stand-by">
		<h1 id="roomNumberLabel">6318</h1>
		<ul>
			<li class="master" id="plyer1EntryStatus">
				<p class="player" id="player1Nickname">----------------</p>
				<p class="awaiter" id="player1Status">접속대기중</p>
			</li>
			<li class="awaiter" id="plyer2EntryStatus">
				<p class="player" id="player2Nickname">----------------</p>
				<p class="awaiter" id="player2Status">접속대기중</p>
			</li>
			<li class="awaiter" id="plyer3EntryStatus">
				<p class="player" id="player3Nickname">----------------</p>
				<p class="awaiter" id="player3Status">접속대기중</p>
			</li>
			<li class="awaiter" id="plyer4EntryStatus">
				<p class="player" id="player4Nickname">----------------</p>
				<p class="awaiter" id="player4Status">접속대기중</p>
			</li>
			<li class="awaiter" id="plyer5EntryStatus">
				<p class="player" id="player5Nickname">----------------</p>
				<p class="awaiter" id="player5Status">접속대기중</p>
			</li>
			<li class="awaiter" id="plyer6EntryStatus">
				<p class="player" id="player6Nickname">----------------</p>
				<p class="awaiter" id="player6Status">접속대기중</p>
			</li>
		</ul>

