<div id="wrap">
	<!-- s :: 현재 게임 진행중인 Room -->
	<div class="game-view" id="palyerCntSettingTag">
		<div class="room-info">
<!-- 			<h1 id="roomNumTag">6317</h1>
			<p id="roomRunningTimeTag">3:18</p> -->
			<h1 id="roomNumTag"></h1>
			<p id="roomRunningTimeTag"></p>
		</div>
		<!-- s :: 게임이 끝난 화면마다 조명이 꺼짐 --- class에 dark를 추가하면-->
		<div class="lamp1" id="lamp0DivTag" style="display: none;"></div>
		<div class="lamp2" id="lamp1DivTag" style="display: none;"></div>
		<div class="lamp3" id="lamp2DivTag" style="display: none;"></div>
		<div class="lamp4" id="lamp3DivTag" style="display: none;"></div>
		<div class="lamp5" id="lamp4DivTag" style="display: none;"></div>
		<div class="lamp6" id="lamp5DivTag" style="display: none;"></div>
		<!-- e :: 게임이 끝난 화면마다 조명이 꺼짐 -->
		
		<!-- s :: 게임 리스트 -->
		<ul class="game-area" id="roomListTag">
			<!-- 
			<li>
				<div class="player1">					
					<div class="lank">
						<p>WIN!</p>
					</div>
					<div class="onner"><img src="../images/ico/ico_onner.png" alt="" /></div>					
				</div>
			</li>
			<li>
				<div class="player2">
					<div class="lank">
						<p class="end-time">3:13</p>
						<p>2등</p>
					</div>
				</div>
			</li>
			<li>
				<div class="player3">
					<div class="lank">
						<p class="end-time">3:13</p>
						<p>3등</p>
					</div>
				</div>
			</li>
			<li>
				<div class="player4">
					<div class="lank">
						<p class="end-time">3:13</p>
						<p>4등</p>
					</div>
				</div>
			</li>
			<li>
				<div class="player5">
					<div class="lank">
						<p class="end-time">3:13</p>
						<p>5등</p>
					</div>
				</div>
			</li>
			<li>
				<div class="player6">
					<div class="lank">
						<p class="end-time">3:13</p>
						<p>6등</p>
					</div>
				</div>
			</li> -->
		</ul>
		<!-- e :: 게임 리스트 -->
	</div>
	<!-- e :: 현재 게임 진행중인 Room -->

	<!-- s :: 게임 Room List -->
	<ul class="room-list" id="rooms">
		<!-- <li class="current">
			<a href="#">
				<p class="room-num">6317</p>
				<p class="room-time">3분15초전 시작</p>
			</a>
		</li>
		<li>
			<a href="#">
				<p class="room-num">5165</p>
				<p class="room-time">4분25초전 시작</p>
			</a>
		</li>
		<li>
			<a href="#">
				<p class="room-num">5165</p>
				<p class="room-time">4분25초전 시작</p>
			</a>
		</li>
		<li>
			<a href="#">
				<p class="room-num">5165</p>
				<p class="room-time">4분25초전 시작</p>
			</a>
		</li> -->
	</ul>
	<!-- e :: 게임 Room List -->
</div>