<div class="row">
	{{#each this}}
	<div class="col-lg-3 col-md-4 col-sm-6 home-col">
		<a class="thumbnail gray" href="#{{id}}">
			<div class="mask">
				<img alt="" src="images/{{thumbnail}}" >
			</div>

			<div class="caption">
				<h3 class="media-heading">{{title}}</h3>
				<span class="ellipsis">{{outline}}</span>
			</div>
		</a>
	</div>
	{{/each}}
</div>


