<div class="row">
	{{#each this}}
		<div class="col-4 tags-col">
			<div class="panel panel-info">
				<div class="panel-heading">{{tag}}</div>
				<div class="list-group">
					{{#each docs}}
						<a class="list-group-item" href="#{{id}}">{{title}}</a>
					{{/each}}
				</div>
			</div>
		</div>
	{{/each}}
</div>
