.ellipsis(@width: 100%) {
  width: @width;
  text-overflow: ellipsis;
  display: inline-block;
  overflow: hidden;
}

.flex( @val : 1 ) {
  -webkit-box-flex: @val;
  -moz-box-flex: @val;
  box-flex: @val;
}

.user-select(@value:none) {
  -webkit-user-select: @value;
  -khtml-user-select: @value;
  -moz-user-select: @value;
  -ms-user-select: @value;
  user-select: @value;
}

.font-face(@name, @fn, @p, @fontWeight:normal) {
  font-family: '@{name}';
  src: url('@{p}/@{fn}.eot');
  // local 속성을 작성할 경우 클라이언트에 해당 글꼴이 있으면 웹폰트를 적용하지 않는다.
  src: local('NanumGothic'), url('@{p}/@{fn}.eot?#iefix') format('embedded-opentype'), url('@{p}/@{fn}.woff2') format('woff2'), url('@{p}/@{fn}.woff') format('woff'), url('@{p}/@{fn}.ttf') format('truetype');
  font-weight: @fontWeight;
  font-style: normal;
}

// Gradient Bar Colors for buttons and alerts
.gradient-bar(@primaryColor, @secondaryColor) {
  #gradient > .vertical(@primaryColor, @secondaryColor);
  border-color: @secondaryColor @secondaryColor darken(@secondaryColor, 15%);
  border-color: rgba(0, 0, 0, .1) rgba(0, 0, 0, .1) fadein(rgba(0, 0, 0, .1), 15%);
}

.button-background(@startColor, @endColor) {
  .gradient-bar(@startColor, @endColor);
  &:hover, &:active, &.active, &.disabled, &[disabled] {
    background-color: @endColor;
  }
}

.placeholder-color(@color: #FFF) {
  &::-webkit-input-placeholder {
    color: @color;
  }
  &:-moz-placeholder {
    color: @color;
  }
  &::-moz-placeholder {
    color: @color;
  }
  &:-ms-input-placeholder {
    color: @color;
  }
}

.gradient-vertical-four(
  @first-color, @first-position,
  @second-color, @second-position,
  @third-color, @third-position,
  @fourth-color, @fourth-position
) {
  background: -moz-linear-gradient(top, @first-color @first-position, @second-color @second-position, @third-color @third-position, @fourth-color @fourth-position);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(@first-position, @first-color), color-stop(@second-position, @second-color), color-stop(@third-position, @third-color), color-stop(@fourth-position, @fourth-color));
  background: -webkit-linear-gradient(top, @first-color @first-position, @second-color @second-position, @third-color @third-position, @fourth-color @fourth-position);
  background: -o-linear-gradient(top, @first-color @first-position, @second-color @second-position, @third-color @third-position, @fourth-color @fourth-position);
  background: -ms-linear-gradient(top, @first-color @first-position, @second-color @second-position, @third-color @third-position, @fourth-color @fourth-position);
  background: linear-gradient(to bottom, @first-color @first-position, @second-color @second-position, @third-color @third-position, @fourth-color @fourth-position);
  filter: e(%("progid:DXImageTransform.Microsoft.gradient(startColorstr='%d', endColorstr='%d', GradientType=0)",argb(@first-color), argb(@fourth-color)));
}

.gradient-vertical-without-color(@startColor: #555, @endColor: #333) {
  background-image: -moz-linear-gradient(top, @startColor, @endColor); // FF 3.6+
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(@startColor), to(@endColor)); // Safari 4+, Chrome 2+
  background-image: -webkit-linear-gradient(top, @startColor, @endColor); // Safari 5.1+, Chrome 10+
  background-image: -o-linear-gradient(top, @startColor, @endColor); // Opera 11.10
  background-image: linear-gradient(to bottom, @startColor, @endColor); // Standard, IE10
  background-repeat: repeat-x;
  filter: e(%("progid:DXImageTransform.Microsoft.gradient(startColorstr='%d', endColorstr='%d', GradientType=0)",argb(@startColor), argb(@endColor))); // IE9 and down
}