.ellipsis {
  width: 100%;
  text-overflow: ellipsis;
  display: inline-block;
  overflow: hidden;
}

.flex( @val : 1 ) {
  -webkit-box-flex: @val;
  -moz-box-flex: @val;
  box-flex: @val;
}

.user-select(@value:none) {
  -webkit-user-select: @value;
  -khtml-user-select: @value;
  -moz-user-select: @value;
  -ms-user-select: @value;
  user-select: @value;
}

.font-face(@name, @fn, @p, @fontWeight:normal) {
  font-family: '@{name}';
  src: url('@{p}/@{fn}.eot');
  // local 속성을 작성할 경우 클라이언트에 해당 글꼴이 있으면 웹폰트를 적용하지 않는다.
  src: local('NanumGothic'), url('@{p}/@{fn}.eot?#iefix') format('embedded-opentype'), url('@{p}/@{fn}.woff2') format('woff2'), url('@{p}/@{fn}.woff') format('woff'), url('@{p}/@{fn}.ttf') format('truetype');
  font-weight: @fontWeight;
  font-style: normal;
}


// Gradient Bar Colors for buttons and alerts
.gradient-bar(@primaryColor, @secondaryColor) {
  #gradient > .vertical(@primaryColor, @secondaryColor);
  border-color: @secondaryColor @secondaryColor darken(@secondaryColor, 15%);
  border-color: rgba(0,0,0,.1) rgba(0,0,0,.1) fadein(rgba(0,0,0,.1), 15%);
}
.button-background(@startColor, @endColor) {
  .gradient-bar(@startColor, @endColor);
  &:hover, &:active, &.active, &.disabled, &[disabled] {
    background-color: @endColor;
  }
}