body { left: 0; top: 0; margin: 0; padding: 0; font-family: dotum; color: #fff; font-size: 2.2em; line-height: 120%;}
.btn { padding: 30px ; font-size: 60%; }

div.tab { height: 10%;  font-size: 100%;}
div.tab ul li {width:49%;}
div.tab ul li a {padding: 40px 0; font-size: 100%;}

div.content {min-height:100%;  font-size: 100%;}

div.content[name=list] > div.listStatus { margin: 20px 0; }
div.content[name=list] table td { vertical-align: middle; line-height: 26px; padding: 10px;}
div.content[name=list] table td:first-child { text-align:center; }

div.content[name=detail] { text-align: center; }
div.content[name=detail] > div.top { height: 10%; margin: 0 0 20px 0; }
div.content[name=detail] > div.top button { width: 20%; margin: 0 10px; }
div.content[name=detail] > div.top h1 { text-align: left; padding-left: 40px; }
div.content[name=detail] > div.middle { height:600px; padding:20px 0; margin: 0; }
div.content[name=detail] > div.middle img { width: 100% }
div.content[name=detail] > div.bottom { padding:20px 0; margin: 0; }
div.content[name=detail] > div.bottom button { width: 40%; margin: 0 10px 30px 10px; }
div.content[name=detail] > div.bottom span.substance { float: left; text-align: left; margin: 0 30px 0 30px; }

div.content[name=gallery] div.btn_group { margin: 40px 0 20px 0; text-align: center}
div.content[name=gallery] div.btn_group button { width: 30%; }

div.content[name=gallery] div.gallery_list ul { list-style-type: none; width: 100%; float: left; padding: 20px 0;}
div.content[name=gallery] div.gallery_list ul li { display: inline; padding: 10px 10px; }
div.content[name=gallery] div.gallery_list ul li img { margin: 10px 5px 10px 5px; width: 200px; height: 140px; }
.pic_checked { border: 2px red solid; }


div.content[name=register] div.form-actions button { width: 45%; height: 110px; }
div.content[name=register] div.control-group label { font-size: 110%; line-height: 220%; }
div.content[name=register] div.control-group input { height: 80px; }
div.content[name=register] input[name=img_path] { width: 148px; margin-top: 10px; }
div.content[name=register] .btnGroup button { width: 45%; height: 137px;}
#substance { width: 95%; }
#thum_img { width: 160px; height: 160px; }
.w100 { width: 95%; }
.w70 { width: 60%; }


#mapArea { min-height: 920px; height: 100%; }
#direct_select_status { float: left; margin: 20px 20px 0 20px; padding: 20px; font-size: 200%; }
div.content[name=map] div.btn_group { padding: 0; text-align: center; width: 100%; position: fixed; bottom: 0; left: 0; background-color: black; }
div.content[name=map] div.btn_group button { width: 19%; margin: 0; }
div.content[name=map] div.btn_group img { width: 100%; margin: 0; }

#intro { width: 100%; height: 100%; }
#intro img { width: 100%; height: 100%; }