<div class="container">
	<div class="skt-navbar">
		<h1>청구서 목록</h1>
		<a id="refresh" href="javascript://" class="btn-right"><span class="glyphicon glyphicon-refresh"></span></a>
	</div>
	<div id="list-main" class="list-group">
		{{#each this}}
			<a href="#detail/{{id}}" class="list-group-item" data-transition="slide">{{year}}년 {{month}}월 청구서</a>
		{{/each}}
	</div>
</div>
