/* move down carets for tabs */
/*
.show-grid div {
	text-align:center; padding-top:10px; padding-bottom:10px; background:#ddd;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	margin:5px 0 0;
}
*/

/* Special grid styles
-------------------------------------------------- */

.show-grid {
  margin-top: 10px;
  margin-bottom: 20px;
}
.show-grid [class*="span"] {
  background-color: #eee;
  text-align: center;
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;
  min-height: 40px;
  line-height: 40px;
}
.show-grid:hover [class*="span"] {
  background: #ddd;
}
.show-grid .show-grid {
  margin-top: 0;
  margin-bottom: 0;
}
.show-grid .show-grid [class*="span"] {
  background-color: #ccc;
}

.mini-layout {
	border: 1px solid #ddd;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	-webkit-box-shadow:0 1px 2px rgba(0,0,0,.75);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.75);
	box-shadow: 0 1px 2px rgba(0,0,0,.75);
	margin-bottom: 20px;
	padding: 9px;
}
.mini-layout, 
.mini-layout .mini-layout-body,
.mini-layout.fluid .mini-layout-sidebar {
	height: 300px;
}

.mini-layout div {
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

.mini-layout .mini-layout-body {
	background-color: #DCEAF4;
	margin: 0 auto;
	width: 70%;
}

.mini-layout.fluid .mini-layout-sidebar,
.mini-layout.fluid .mini-layout-header,
.mini-layout.fluid .mini-layout-body {
	float: left;
}

.mini-layout.fluid .mini-layout-sidebar {
	background-color:#bbd8e9;
	width: 20%;	
}

.mini-layout.fluid .mini-layout-body {
	width: 77.5%;
	margin-left: 2.5%;
}
