/* move down carets for tabs */
.show-grid div {text-align:center; padding:5px 0; background: @grayLight;}

.mini-layout {
	border: 1px solid #ddd;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	-webkit-box-shadow:0 1px 2px rgba(0,0,0,.75);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.75);
	box-shadow: 0 1px 2px rgba(0,0,0,.75);
	margin-bottom: 20px;
	padding: 9px;
}
.mini-layout, 
.mini-layout .mini-layout-body,
.mini-layout.fluid .mini-layout-sidebar {
	height: 300px;
}

.mini-layout div {
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

.mini-layout .mini-layout-body {
	margin: 0 auto;
	width: 70%;
}

.mini-layout.fluid .mini-layout-sidebar,
.mini-layout.fluid .mini-layout-header,
.mini-layout.fluid .mini-layout-body,{
	float: left;
}

.mini-layout.fluid .mini-layout-sidebar {
	background-color:#bbd8e9;
	width: 20%;
}

.mini-layout.fluid .mini-layout-body {
	width: 77.5%;
	margin-left: 2.5%;
}
