.input-block-level {
  display: block;
  width: 100%;
  min-height: 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.widget-carousel .carousel {
  -webkit-user-select: none;
  /* Safari, Chrome */

  -khtml-user-select: none;
  /* Konqueror */

  -moz-user-select: none;
  /* Firefox */

  -ms-user-select: none;
  /* IE */

  user-select: none;
  /* CSS3 */

}
.widget-carousel .carousel img {
  width: 100%;
  -webkit-user-select: none;
  /* Safari, Chrome */

  -khtml-user-select: none;
  /* Konqueror */

  -moz-user-select: none;
  /* Firefox */

  -ms-user-select: none;
  /* IE */

  user-select: none;
  /* CSS3 */

}
.widget-carousel .carousel .carousel-control.left {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.widget-carousel .carousel .carousel-control.right {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
@media (max-width: 767px) {
  .widget-carousel .carousel .carousel-control.left,
  .widget-carousel .carousel .carousel-control.right {
    display: none;
  }
}
.widget-sign .sign canvas {
  border: 1px solid #CCC !important;
}
@media (max-width: 480px) {
  .widget-sign .sign canvas {
    height: 100px !important;
  }
}
.widget-motioncapcha {
  /**
 * jQuery MotionCAPTCHA Plugin CSS
 * josscrowcroft.com/projects/motioncaptcha-jquery-plugin/
 *
 * Only these rules are absolutely necessary for the plugin.
 * NB. The width & height of the canvas can be flexible to fit your layout but there's a recommended min/max
 * - if you need it much bigger/smaller, you could tweak the background-positions of the shape classes.
 */

  /* The canvas: */

  /* The shapes: */

  /* Disable mouse-selection on the page (only while user is actively drawing on the canvas): */

}
.widget-motioncapcha canvas {
  border: none;
}
.widget-motioncapcha #mc-canvas {
  width: 220px;
  /* For best results, set width to between 210px and 240px */

  height: 154px;
  /* For best results, set height to between 140px and 170px */

  background: #ffffff -9999px -9999px no-repeat;
  background-image: url('../img/motionCaptcha-shapes.jpg') !important;
  display: block;
  margin: 0 auto;
}
.widget-motioncapcha #mc-canvas.triangle {
  background-position: 10px 10px;
}
.widget-motioncapcha #mc-canvas.x {
  background-position: -200px 10px;
}
.widget-motioncapcha #mc-canvas.rectangle {
  background-position: -400px 10px;
}
.widget-motioncapcha #mc-canvas.circle {
  background-position: -600px 10px;
}
.widget-motioncapcha #mc-canvas.check {
  background-position: 10px -150px;
}
.widget-motioncapcha #mc-canvas.caret {
  background-position: -200px -150px;
}
.widget-motioncapcha #mc-canvas.zigzag {
  background-position: -400px -150px;
}
.widget-motioncapcha #mc-canvas.arrow {
  background-position: -600px -150px;
}
.widget-motioncapcha #mc-canvas.leftbracket {
  background-position: 10px -300px;
}
.widget-motioncapcha #mc-canvas.rightbracket {
  background-position: -200px -300px;
}
.widget-motioncapcha #mc-canvas.v {
  background-position: -400px -300px;
}
.widget-motioncapcha #mc-canvas.delete {
  background-position: -600px -300px;
}
.widget-motioncapcha #mc-canvas.leftbrace {
  background-position: 10px -450px;
}
.widget-motioncapcha #mc-canvas.rightbrace {
  background-position: -200px -450px;
}
.widget-motioncapcha #mc-canvas.star {
  background-position: -400px -450px;
}
.widget-motioncapcha #mc-canvas.pigtail {
  background-position: -600px -450px;
}
.widget-motioncapcha .mc-noselect {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
.widget-motioncapcha {
  /**
 * jQuery MotionCAPTCHA Plugin CSS
 * josscrowcroft.com/projects/motioncaptcha-jquery-plugin/
 *
 * Only these rules are absolutely necessary for the plugin.
 * NB. The width & height of the canvas can be flexible to fit your layout but there's a recommended min/max
 * - if you need it much bigger/smaller, you could tweak the background-positions of the shape classes.
 */

  /* The canvas: */

  /* The shapes: */

  /* Disable mouse-selection on the page (only while user is actively drawing on the canvas): */

}
.widget-motioncapcha canvas {
  border: none;
}
.widget-motioncapcha #mc-canvas {
  width: 220px;
  /* For best results, set width to between 210px and 240px */

  height: 154px;
  /* For best results, set height to between 140px and 170px */

  background: #ffffff -9999px -9999px no-repeat;
  background-image: url('../img/motionCaptcha-shapes.jpg') !important;
  display: block;
  margin: 0 auto;
}
.widget-motioncapcha #mc-canvas.triangle {
  background-position: 10px 10px;
}
.widget-motioncapcha #mc-canvas.x {
  background-position: -200px 10px;
}
.widget-motioncapcha #mc-canvas.rectangle {
  background-position: -400px 10px;
}
.widget-motioncapcha #mc-canvas.circle {
  background-position: -600px 10px;
}
.widget-motioncapcha #mc-canvas.check {
  background-position: 10px -150px;
}
.widget-motioncapcha #mc-canvas.caret {
  background-position: -200px -150px;
}
.widget-motioncapcha #mc-canvas.zigzag {
  background-position: -400px -150px;
}
.widget-motioncapcha #mc-canvas.arrow {
  background-position: -600px -150px;
}
.widget-motioncapcha #mc-canvas.leftbracket {
  background-position: 10px -300px;
}
.widget-motioncapcha #mc-canvas.rightbracket {
  background-position: -200px -300px;
}
.widget-motioncapcha #mc-canvas.v {
  background-position: -400px -300px;
}
.widget-motioncapcha #mc-canvas.delete {
  background-position: -600px -300px;
}
.widget-motioncapcha #mc-canvas.leftbrace {
  background-position: 10px -450px;
}
.widget-motioncapcha #mc-canvas.rightbrace {
  background-position: -200px -450px;
}
.widget-motioncapcha #mc-canvas.star {
  background-position: -400px -450px;
}
.widget-motioncapcha #mc-canvas.pigtail {
  background-position: -600px -450px;
}
.widget-motioncapcha .mc-noselect {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
.widget-spinner {
  display: none;
  background: rgba(3, 3, 3, 0.6);
  width: 220px;
  height: 220px;
  margin: 0 auto;
  z-index: 10000;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-left: -110px;
  margin-top: -110px;
}
.widget-spinner .spinner-center {
  position: relative;
  width: 15%;
  height: 50%;
  padding-top: 42.5%;
  margin: 0 auto;
}
.widget-spinner .spinner-center img {
  width: 100%;
}
.widget-spinner .spinner-center:after {
  content: attr(data-content);
  display: inline-block;
  color: #ffffff;
  margin-top: 20px;
  margin-left: -110px;
  width: 220px;
  text-align: center;
}
.widget-spinner.all {
  background: transparent;
  width: 220px;
  height: 220px;
  margin: 0 auto;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-left: -110px;
  margin-top: -110px;
}
.widget-spinner.all:before {
  content: "";
  background: rgba(3, 3, 3, 0.6);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  margin-left: 0;
  margin-top: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
