//
// NavBar
// --------------------------------------------------
.navbar-icon {
  li {
    & > a {
      font-size: 0;
      & > .glyphicon,
      & > .glyphicon:before {
        position: relative;
        top: 3px;
      }
    }
  }

  .dropdown-menu {
    li {
      > a {
        font-size: @font-size-base;
      }
    }
  }

  .navbar-form {
    margin-bottom: 0;
  }
}

@media (max-width: @screen-sm-max) {
  .navbar-icon {
    li {
      & > a {
        font-size: @font-size-base;
        & > .glyphicon,
        & > .glyphicon:before {
          top: 0;
        }
      }
    }
  }
}

.navbar-mobile {
  a {
    > .glyphicon {
      display: block;
      padding: 10px 0 0 0;
      font-size: (@font-size-base * 1.5);
    }
  }
}