//
// NavBar
// --------------------------------------------------
.navbar-nav {
  & > li > a {
    & > .glyphicon {
      display: inline-block;
      margin: 0 5px 0 0;
      font-size: @font-size-base * 1.2;
      line-height: 5px;
      &:before {
        line-height: 0;
      }
    }
  }

}

.navbar-icon {
  li {
    & > a {
      font-size: 0;
      & > .glyphicon,
      & > .glyphicon:before {
        position: relative;
        top: 4px;
      }
    }
  }

  .dropdown-menu {
    li {
      > a {
        font-size: @font-size-base;
      }
    }
  }

  .navbar-form {
    margin-bottom: 0;
  }
}

.navbar-mobile {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flexbox;
  overflow: hidden;
  margin: 0;
  padding: 0;

  > .active {
    background-color: @navbar-link-active-bg;
    color: @navbar-link-active-color;
  }

  > li {
    list-style-type: none;
    .navbar-mobile-list-style();
  }

  > a {
    display: block;
    .navbar-mobile-list-style();
  }

  a {
    color: @navbar-link-color;
    text-decoration: none;
    > .glyphicon {
      display: block;
      margin-bottom: -5px;
      padding: 10px 0 0 0;
      font-size: (@font-size-base * 1.5);
    }

    &:hover:not(.active), &:focus:not(.active) {
      background-color: @navbar-link-hover-bg;
      color: @navbar-link-hover-color;
    }
  }

  span.text {
    padding: 0 2px;
    .ellipsis();
  }
}

// Placeholder
// --------------------------------------------------
.navbar-mobile-list-style() {
  text-align: center;
  padding: 0 0 5px 0;
  border: 1px solid @table-border-color;
  width: 100%;
  .flex();
}