//
// NavBar
// --------------------------------------------------
@navbar-border: 1px solid #b6b6b6;
@navbar-background: "";
@navbar-background-image: "";
@navbar-shadow: "";
@navbar-text-color: "";

.navbar {
  padding-right: 5px;
  padding-left: 5px;
  .cs-property(border, @navbar-border);
  .cs-property(background, @navbar-background);
  .cs-mixin(background-image, @navbar-background-image);
  .cs-mixin(box-shadow, @navbar-shadow);
  .cs-property(color, @navbar-text-color);
}

.navbar-nav {
  & > li > a {
    & > .glyphicon {
      display: inline-block;
      margin: 0 5px 0 0;
      font-size: @font-size-base * 1.2;
      line-height: 5px;
      &:before {
        line-height: 0;
      }
    }
  }
}

.navbar-icon {
  li {
    & > a {
      font-size: 0;
      & > .glyphicon,
      & > .glyphicon:before {
        position: relative;
        top: 3px;
      }
    }
  }

  .dropdown-menu {
    li {
      > a {
        font-size: @font-size-base;
      }
    }
  }

  .navbar-form {
    margin-bottom: 0;
  }
}

@media (max-width: @screen-sm-max) {
  .navbar-icon {
    li {
      & > a {
        font-size: @font-size-base;
        & > .glyphicon,
        & > .glyphicon:before {
          top: 0;
        }
      }
    }
  }
}

.navbar-form, .navbar-collapse {
  border: none;
}

.navbar-toggle {
  &:hover, &:focus {
    background-color: transparent;
  }
}

.navbar-mobile {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flexbox;
  overflow: hidden;
  margin: 0;
  padding: 0;

  > .active {
    background-color: @navbar-default-link-active-bg;
    color: @navbar-default-link-active-color;
  }

  > li {
    list-style-type: none;
    .navbar-mobile-list-style();
  }

  > a {
    display: block;
    .navbar-mobile-list-style();
  }

  a {
    color: @navbar-default-color;
    text-decoration: none;
    > .glyphicon {
      display: block;
      margin-bottom: -5px;
      padding: 10px 0 0 0;
      font-size: (@font-size-base * 1.5);
    }

    &:hover:not(.active), &:focus:not(.active) {
      background-color: @navbar-default-link-hover-bg;
      color: @navbar-default-link-hover-color;
    }
  }

  span.text {
    padding: 0 2px;
    .ellipsis();
  }
}

// Placeholder
// --------------------------------------------------
.navbar-mobile-list-style() {
  text-align: center;
  padding: 0 0 5px 0;
  border: 1px solid @table-border-color;
  width: 100%;
  .flex();
}