<div class="container-fluid" id="pricePlan">
	<div class="row-fluid">
		<!-- Left menu -->
		<div class="span3">
			<div class="well sidebar-nav">
				<button class="btn" id="makePricePlan" type="button" style="width: 100%">새로운 정책</button>
				<ul class="nav nav-list" id="pricePlanList"></ul>
			</div>
		</div>
		
		<!-- contents -->
		<div class="span9" id="pricePlanContents"			
		</div>
	</div>
</div>
