div[data-timechart], div[data-devicechart] {
	height: 300px;
}

#lteReport .branch {
	font-color: black;
	height: 340px;
}

#lteReport .side-bar {
	margin-left: 10px;
	margin-bottom: 20px;
}

.no-padding-phone {
	padding: 0 15px;
}

@media all and (max-width: 767px) {
	#lteReport .side-bar {
		margin-left: 0px;
	}

	.no-padding-phone {
		padding: 0;
	}
}

.height-80 {
	height: 80px;
}