<!DOCTYPE html>
<html lang="ko">
	<head>
		<meta charset="utf-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		<title>Project</title>
		<link href="cornerstone/bootstrap/css/bootstrap.min.css" rel="stylesheet"/>
		<link href="styles/main.css" rel="stylesheet"/>
	</head>
	<body>
		<div class="navbar navbar-inverse navbar-fixed-top">
			<a class="navbar-brand" href="#">Home</a>
			<p class="navbar-text pull-right">Powered by <a class="navbar-link" href="http://cornerstone.sktelecom.com">Cornerstone</a></p>
		</div>
		<div class="container">
			<section id="page1" data-url="page1" data-default-page="true"></section>
			<section id="page2" data-url="page2"></section>
			<section id="page3" data-url="page3"></section>
		</div>

		<script src="cornerstone/jquery/jquery-2.0.2.min.js"></script>
		<script src="cornerstone/bootstrap/js/bootstrap.min.js"></script>
		<script src="cornerstone/underscore/underscore-min.js"></script>
		<script src="cornerstone/backbone/backbone-min.js"></script>
		<script src="cornerstone/transition/transition.js"></script>
		<script src="cornerstone/multipage-router/multipage.js"></script>
		<script src="cornerstone/multipage-router/multipage-starter.js"></script>
		<script src="scripts/main.js"></script>
	</body>
</html>
