<div id="voc" class="row">
	<div class="col-xs-12 col-md-3">
		<div class="panel-group">
    		<div class="panel">
        		<!-- Default panel contents -->
        		<div class="panel-heading">VOC 목록</div>
        		<div class="panel-body">
		            <ul id="vocList" class="list-group list-group-flush list-group-cornerstone">
		            </ul>
		        </div>
	        </div>
		</div>
	</div>
	<div id="vocData" class="col-xs-12 col-md-9 voc-area">
	</div>
</div>