@import "common.less";

h1 {color: @white;}

legend {
  display: block;
  width: 100%;
  margin-bottom: @baseLineHeight;
  font-size: (@baseFontSize * 1.5) - 1;
  line-height: @baseLineHeight * 2;
  color: @grayDarker;
  border: 0;
  border-bottom: 0;
	text-shadow: 0 1px 0 rgba(255,255,255,.2); 
	margin: 40px 0 10px;
	padding-left: 20px;

  // Small
  small {
    font-size: @baseLineHeight * .75;
    color: @grayLight;
  }
}

// Set font for forms
label,
input,
button,
select,
textarea {
  #font > .shorthand(@baseFontSize,normal,@baseLineHeight); // Set size, weight, line-height here
}

label.blind {
	visibility:visible; 
	width:0; 
	height:0; 
	overflow:hidden; 
	font-size:0; 
	line-height:0; 
	text-indent:-3000em; 
	position:absolute;
}

input,
button,
textarea {
  font-family: @calibriFontFamily; // And only set font-family here for those that need it (note the missing label element)
}

// Shared size and type resets
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
	height: auto;
  display: inline-block;
  padding: 9px 6px;
  margin-bottom: 9px;
  font-size: (@baseFontSize + 4);
  line-height: @baseLineHeight;
  color: @gray;
  .border-radius(@inputBorderRadius);
}

textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
	background-color: @inputBackground;
	border:1px solid transparent;
	.border-radius(@inputBorderRadius);
	.box-shadow(~"inset 0 1px 2px rgba(0,0,0,.7), 0 1px 1px rgba(255,255,255,.27)");
	@transition: border linear .2s, box-shadow linear .2s;
	.transition(@transition);
	color: @grayLight;

	&:focus {
			color: @blue;
	   .inp-focus(@inputShadow, @inputBackground);
	  }
	}

// --- orange focus [2012-08-29]
.ipt-orange {
	&:focus {
	    border:1px solid rgba(255,107,28,.7) ! important;
	    outline: 0;
	    outline: thin dotted \9; /* IE6-9 */
			.box-shadow(0 0 8px @inputShadowOrange) ! important;
	    color: @orange ! important;
	  }
	}

textarea {
	height: auto;
}
// Mixin for form field states
.formFieldState(@textColor: #b0b0b0, @borderColor: #ccc, @backgroundColor: #f5f5f5) {
  // Set the text color
  > label,
  .help-block,
  .help-inline {
    color: @textColor;
  }
  // Style inputs accordingly
  .checkbox,
  .radio,
  input,
  select,
  textarea {
	color: @textColor;
	border:none;
	border-bottom: 1px solid rgba(255,255,255,0.2);
	.box-shadow(inset 0 1px 1px rgba(0,0,0,0.7));
	    &:focus {
	      border:none;
	    }
	}
}

.help-inline {
  position: absolute;
  z-index: 100000;
  display: block;
  visibility: visible;
  padding: 0;
  font-size: 11px;
  .opacity(100);
}

// Wrapper for the tooltip content
.help-inner {
  padding: 3px 8px;
  color: @tooltipColor;
  text-align: center;
  text-decoration: none;
  .border-radius(4px);
}

// Arrows
.help-arrow,
.help-arrow:after {
  position: absolute;
  display: inline-block;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
}

.help-arrow:after {
  content: "";
  z-index: -1;
}

.help-inline {
  .help-arrow {
    top: 50%;
    left: -6px;
    margin-top: -@popoverArrowWidth;
    border-width: @popoverArrowWidth @popoverArrowWidth @popoverArrowWidth 0;
    border-right-color: @popoverArrowColor;
    &:after {
      border-width: @popoverArrowOuterWidth @popoverArrowOuterWidth @popoverArrowOuterWidth 0;
      border-right-color: #000;
      bottom: -@popoverArrowOuterWidth;
      left: -1px;
    }
  }
}

.controls .help-inline {
	left: 235px; 
	top: 0;
}

.controls .help-inline .help-inner {
	font-size: (@baseFontSize + 2);
	.box-shadow(0 1px 1px rgba(0,0,0,0.7));	
	padding: 9px 10px;	
	border:1px solid #000;
	text-align:left;
	.box-shadow(~"inset 0 1px 1px rgba(255,255,255,.3), inset 0 -1px 1px rgba(255,255,255,.15), inset -1px 0 1px rgba(255,255,255,.15)");
	text-shadow: 0 1px 1px rgba(255,255,255,.2);
	font-weight:bold;
	display:inline-block;
	vertical-align:middle;
	#gradient > .vertical(#5c6267, #41474c);	
}


.help-inline .help-inner i {	
	width: 27px;
	height: 20px;
	float: left;
}

.disabled .controls .help-inline .help-arrow {
	border-right-color: #4e555a;
}


.disabled .help-inline .help-inner i {
	background:url('../img/icon.png') no-repeat 0 -193px;
	background-size:139px;
	color:#282828;
}

.error .help-inline .help-inner {	
	#gradient > .vertical(#bf5455, #9c3a3b);
}

.error .controls .help-inline .help-arrow {
	border-right-color: #ae4748;
}

.error .help-inline .help-inner i {	
	background:url('../img/icon.png') no-repeat 0 -234px;
	background-size:139px;
	color:#8a2627;
}

.success .help-inline .help-inner {
	#gradient > .vertical(#669357, #557a48);
}

.success .help-inline .help-arrow {
	border-right-color: #5d864f;
}

.success .help-inline .help-inner i {	
	background:url('../img/icon.png') no-repeat -53px -429px;
	background-size:139px;
	color:#34591b;
}

// Warning
.control-group.warning {
  .formFieldState(@warningText, @warningBorder, @warningBackground);
	position:relative;
}
// Error
.control-group.error {
  .formFieldState(@errorText, @errorBorder, @errorBackground);
	position:relative;
}
// Success
.control-group.success {
  .formFieldState(@successText, @successBorder, @successBackground);
	position:relative;
}

// Disabled  ---- [2012-08-28] Add
.control-group.disabled {
	.formFieldState(@disabledText, @disabledText, @inputBackground);
	position:relative;
}
// Disabled input  ---- [2012-08-28] Add
.input-disa {
	background:url('../img/bg_input.png') repeat-x left top;
}


// Margin to space out fieldsets
.control-group {
  margin-bottom: 0;
}

// Button

input[type="button"],
input[type="submit"],
input[type="reset"] {
	color: @grayLighter;
	border-radius:4px;
	.box-shadow(~"inset 0 2px 2px rgba(0,0,0,.7), 0 1px 1px rgba(255,255,255,.27)");
	}

.uneditable-input {
	min-height: 18px;
	color: @grayLighter;
	.box-shadow(~"inset 0 1px 2px rgba(0,0,0,.7), 0 1px 1px rgba(255,255,255,.27)");
	background: @uneditableBackground;
	}

.btn-l {
	border-radius:3px 0 0 3px ! important;
}
.btn-c {
	border-radius:0 ! important; margin-left:-1px;
}
.btn-r {
	border-radius:0 3px 3px 0 ! important; margin-left:-1px;
}

// Radios and checkboxes on same line
// TODO v3: Convert .inline to .control-inline
.radio.inline,
.checkbox.inline {
  display: inline-block;
  padding-top: 5px;
  margin-bottom: 0;
  vertical-align: middle;
}
.radio.inline + .radio.inline,
.checkbox.inline + .checkbox.inline {
  margin-left: 5px; // space out consecutive inline controls
	padding-left:0;
}

// Checkbox, radio Add

.checkbox input[type="checkbox"],
.radio input[type="radio"]{
	position:absolute;
	left:-100000px;
}
.checkbox span {
	display:block;
	border-radius:4px;
	width: 34px;
	height: 34px;
	padding:5px;
	margin: 0;
	cursor:pointer;
	background-color: @inputGradiantBg;
	#gradient > .vertical(rgba(0,0,0,.2), rgba(255,255,255,.05));
}


.checkbox span:after {
	border-radius:4px;
	width: 34px;
	height: 34px;
	background:#292929;
	background-size:139px;
	.box-shadow(~"inset 0 1px 2px rgba(0,0,0,.7)");
	display:inline-block;
	content:"";
}

.checkbox span.vitality:after {
	background:#292929 url('../img/bg_checkbox.png') repeat left top;
}


.checkbox span.check:after {
	background:#292929 url('../img/icon.png') no-repeat 4px 6px;
	background-size:139px;
}

.checkbox span:active:after,
.checkbox span.active:after{
	background:#292929 url('../img/icon.png') no-repeat 4px -40px;
	background-size:139px;
}

.radio span, {
	display:block;
	border-radius:25px;
	width: 34px;
	height: 34px;
	padding:5px;
	margin: 0;
	cursor:pointer;
	background-color: @inputGradiantBg;
	#gradient > .vertical(rgba(0,0,0,.2), rgba(255,255,255,.05));
}

.radio span:after {
	border-radius:25px;
	width: 34px;
	height: 34px;
	background:#292929;
	background-size:139px;
	.box-shadow(~"inset 0 1px 2px rgba(0,0,0,.7), 0 1px 1px rgba(255,255,255,.5)");
	display:inline-block;	
	content:"";
}

.radio span.active:after {
	background:#292929 url('../img/icon.png') no-repeat -47px -133px;
	background-size:139px;
}


// SEARCH FORM
// -----------

input.search-query {
  padding-right: 14px;
  padding-right: 4px \9;
  padding-left: 14px;
  padding-left: 4px \9; /* IE7-8 doesn't have border-radius, so don't indent the padding */
  margin-bottom: 0; // Remove the default margin on all inputs
  .border-radius(15px);
}

/* Allow for input prepend/append in search forms */
.form-search .input-append .search-query,
.form-search .input-prepend .search-query {
  .border-radius(0); // Override due to specificity
}
.form-search .input-append .search-query {
  .border-radius(14px 0 0 14px)
}
.form-search .input-append .btn {
  .border-radius(0 14px 14px 0)
}
.form-search .input-prepend .search-query {
  .border-radius(0 14px 14px 0)
}
.form-search .input-prepend .btn {
  .border-radius(14px 0 0 14px)
}




// HORIZONTAL & VERTICAL FORMS
// ---------------------------

// Common properties
// -----------------

.form-search {
  .input-append {
		background-color: @inputBackground;
		border:1px solid transparent;
		.border-radius(@searchBorderRadius);
		.box-shadow(~"inset 0 1px 2px rgba(0,0,0,.7), 0 1px 1px rgba(255,255,255,.27)");
		@transition: border linear .2s, box-shadow linear .2s;
		.transition(@transition);
		color: @grayLight;
		padding: 0 15px 0 0 ! important;
  }
  // Re-hide hidden elements due to specifity
  .hide {
    display: none;
  }
}
// Inline checkbox/radio labels (remove padding on left)
.form-search input {
	height: 18px;
	background:none;
	border:0;
	box-shadow:none;
	margin: 0;
	&:focus {
		color: @white;
		box-shadow:none;
	}
}

.form-search button,
.form-search button:hover,
.form-search button:active {
	width:19px; height:25px;
  background: url('../img/icon.png') no-repeat -53px -332px;
	background-size:139px;
	border:0;
}

// select box

.select-area {
	position:relative;
}

.select-area select {
	position:absolute; 
	left:5px;
	top:0;
}

.select-box {
	position:relative;
	outline:0;	
	background-color: @selectBackground;
	border:1px solid transparent;
	.border-radius(@inputBorderRadius);
	.box-shadow(~"inset 0 1px 2px rgba(0,0,0,.7), 0 1px 1px rgba(255,255,255,.27)");	
}
.select-box input {
	width:85%;
	height: @selectHeight;
	margin:0;
	color: @grayLight;
	background-color: transparent;
	box-shadow: none;
	border-radius : 0;
	// Focus state
  &:focus {
    border:1px solid transparent;
    outline: 0;
    outline: thin dotted \9; /* IE6-9 */
		box-shadow: none;
		color: @grayLight;
  }
}

.select-box .arrow1 {
	display:block;
	position:absolute;
	right:10px; 
	top:-5px;
	border-color: transparent transparent @selectArrow transparent;
	border-style: solid;
	border-width: 8px 5px 8px 5px;
	background:none ! important;
	height: 0px;
	width: 0px;
	.border-radius(0);
	box-shadow: none;
	margin:7px 0 0 -5px;
}

.select-box .arrow2 {
	content:"";
	position:absolute;
	right:10px; 
	top:15px;
	border-color: @selectArrow transparent transparent transparent;
	border-style: solid;
	border-width: 8px 5px 8px 5px;
	background:none ! important;
	height: 0px;
	width: 0px;
	.border-radius(0);
	box-shadow: none;
	margin:8px 0 0 -5px;
}

.slider {
	position: relative;
	padding: 5px 0;
}

.slider-bar {
	border-radius: 15px;
	padding: 6px;
	margin: 0;
	background-color: @inputGradiantBg;
	#gradient > .vertical(rgba(0,0,0,.2), rgba(255,255,255,.05));
}

.slider-bar:after {
	width: 100%;
	height: 7px;
	content:"";
	display:block;
	border-radius:20px;
	background-color: rgba(41,41,41,1);
}

.slide-handle {
	width: 31px;
	height: 31px;
	.border-radius(50px);
	border: 0;
	background-color: @sliderBtn;
	.box-shadow(~"inset 0 -1px 2px rgba(0,0,0,.4), inset 0 1px 2px rgba(255,255,255,1), 0 1px 3px rgba(0,0,0,.27)");	
	position:absolute;	
	left: 0; 
	top: 0;
	z-index: 100;
}
.slide-handle:after {
	content:"";
	width: 17px;
	height: 17px;
	.border-radius(50px);
	border: 0;
	background-color: @sliderBoll;
	.box-shadow(~"inset 0 0 3px rgba(0,0,0,.8)");
	position:absolute;	
	left: 7px; 
	top: 7px;
	z-index: 1000;
}

.bar-length {
	width:85%;
	float:left;
}

.figure {
	width:10%;
	float:right;
	text-align: right;
	color: @figureTxt;
	font-size: (@baseFontSize - 2);
}

.flip-off, .flip-on {
	position:relative;
	display: inline-block;
	.border-radius(25px);
	padding: 7px;
	margin: 0;
	background-color: @inputGradiantBg;
	#gradient > .vertical(rgba(0,0,0,.2), rgba(255,255,255,.05));
}

.flip-txt {
	color: @flipOffTxt;
	font-size: @baseFontSize + 2;
	line-height: @baseLineHeight;
	text-align: right;
	font-weight:bold;
	display: inline-block;
	padding: 8px 15px 7px 50px;
	.border-radius(20px);
	text-shadow: 0 2px 2px rgba(0,0,0,0.7);
	background-color: @flipOffBg;
	border:2px solid @grayDarker;
}

.flip-btn {
	width: 31px;
	height: 31px;
	.border-radius(50px);
	border: 0;
	background-color: @sliderBtn;
	.box-shadow(~"inset 0 -1px 2px rgba(0,0,0,.4), inset 0 1px 2px rgba(255,255,255,1), 0 1px 3px rgba(0,0,0,.27)");	
	position:absolute;	
	right: 10px; 
	top: 10px;
	z-index: 100;
}
.flip-btn:after {
	content:"";
	width: 17px;
	height: 17px;
	.border-radius(50px);
	border: 0;	
	.box-shadow(~"inset 0 0 4px rgba(0,0,0,.4), inset 0 3px 4px rgba(255,255,255,.7), inset 0 -6px 4px rgba(0,0,0,.25)");
	position:absolute;	
	left: 7px; 
	top: 7px;
	z-index: 1000;
	background-color: @flipBoll;
}

.flip-on .flip-txt {
	color: @flipOnTxt;
	background-color: @flipOnBg;
	text-align: left;
	padding: 8px 50px 7px 15px;
}

.flip-off .flip-btn {
	position:absolute;	
	left: 10px ! important; 
	top: 10px;
	z-index: 100;
}