//
// Pagination (multiple pages)
// --------------------------------------------------


.pagination {
  height: @baseLineHeight * 2;
  margin: @baseLineHeight 0;
	text-align:center;
 }
.pagination ul {
  display: inline-block;
  .ie7-inline-block();
  margin: 0 auto;
  .border-radius(3px);
  .box-shadow(0 1px 2px rgba(0,0,0,.05));
}
.pagination li {
		width:9px;
		padding:0 6px 0 10px;
    display: inline-block;
		text-align:center;
		vertical-align:middle;
  }
.pagination li:first-child, .pagination li:last-child {width:auto;}

.pagination a,
.pagination span {
	width:5px;
	height:5px;
	display:block;
	.border-radius(50px);
  padding: 0;
  background: #2c2c2c;
  border: none;
	.box-shadow(~"inset 0 2px 2px rgba(0,0,0,.7), 0 1px 1px rgba(255,255,255,.1)");
}
.pagination a:hover,
.pagination .active a,
.pagination .active span {
	width:9px;
	height:9px;
	margin:-2px 0 0 -2px;
  background-color: #2094b1;
	background-image: -webkit-radial-gradient(top, circle cover, rgba(255,255,255,.5), rgba(0,0,0,.1));
	.box-shadow(~"inset 0 0 2px rgba(255,255,255,.2), 0 3px 5px rgba(0,0,0,.3)");
}
.pagination .active a,
.pagination .active span {
  color: @grayLight;
  cursor: default;
}

.pagination li:first-child a,
.pagination li:last-child a {
	width:auto;
	height:auto;
	padding:5px 11px;
	background:#42464b;
  border: 1px solid rgba(255,255,255,0.1);
	border-top: 1px solid rgba(255,255,255,0.15);
	border-bottom:none;
  .border-radius(4px);
  .box-shadow(~"inset 0 0 2px rgba(255,255,255,.1), 0 5px 5px rgba(0,0,0,.4)");
}

.pagination li:first-child a:hover,
.pagination li:last-child a:hover {
	margin:0;
	text-decoration:none;
	border-top: none;
	border-bottom:1px solid rgba(255,255,255,.15);
  background-color: #282b2e;
	.box-shadow(~"inset 0 0 5px rgba(0,0,0,.8), 0 0 1px rgba(255,255,255,.15)");
}

.pagination li:first-child a span,
.pagination li:last-child a span {
	width:22px;
	height:22px;
	padding:0;
	display:block;
	position:relative;
	.border-radius(50px);
  background:#242424;
  border:none;
  .box-shadow(~"inset 0 1px 1px rgba(0,0,0,1), 0 1px 1px rgba(255,255,255,0.4)");
}

.pagination li:first-child a:hover span,
.pagination li:last-child a:hover span {	
	width:22px;
	height:22px;
	padding:0;
	margin:0;
	display:inline-block;
	.border-radius(50px);
	border:none;
	vertical-align:middle;
  box-shadow:none;
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#28C2F3), to(#0096db));
}

.pagination li:first-child a span .arrow, 
.pagination li:last-child a span .arrow {
	border-color: transparent #42464b transparent transparent;
  border-style: solid;
  border-width: 8px 10px 8px 10px;
	background:none ! important;
  height: 0px ! important;
  width: 0px ! important;
	.border-radius(0);
	box-shadow: none;
	margin:3px 0 0 -5px;
}

.pagination li:first-child a:hover span .arrow, 
.pagination li:last-child a:hover span .arrow {
	border-color: transparent #2a2d30 transparent transparent;
  border-style: solid;
  border-width: 8px 10px 8px 10px;
	background:none ! important;
  height: 0px ! important;
  width: 0px ! important;
	.border-radius(0);
	box-shadow: none;
	margin:3px 0 0 -5px;
}


.pagination li:last-child a span .arrow {
	border-color: transparent transparent transparent #42464b;
	margin:3px 0 0 7px;
}

.pagination li:last-child a:hover span .arrow {
	border-color: transparent transparent transparent #2a2d30;
	margin:3px 0 0 7px;
}

// Centered
.pagination-centered {
  text-align: center;
}
.pagination-right {
  text-align: right;
}
