//
// pagination2 (multiple pages)
// --------------------------------------------------


.pagination2 {
	background-color:rgba(0,0,0,.2);
	.border-radius(3px);
	padding:3px 0 5px 3px;
	text-align:center;
 }
.pagination2 ul {
  display: inline-block;
  .ie7-inline-block();
  margin: 0 auto;
  .border-radius(3px);
  .box-shadow(0 1px 2px rgba(0,0,0,.05));
}
.pagination2 li {
    display: inline-block;
		margin-left:-4px;
		padding:0 4px;
		text-align:center;
		vertical-align:middle;
  }

.pagination2 li:first-child {
	margin-right:9px;
}

.pagination2 li:last-child {
	margin-left:3px;
}

.pagination2 a {
	color:@white;
	width:33px;
	padding:7px 0 7px 0;
	background:#42464b;
  border: 1px solid rgba(255,255,255,0.05);
	border-top: 1px solid rgba(255,255,255,0.2);
	border-bottom:0;
  .border-radius(4px);
	vertical-align:middle;
	display:block;
  .box-shadow(~"inset 0 0 2px rgba(255,255,255,.1), 0 5px 5px rgba(0,0,0,.4)");
}
.pagination2 a:hover,
.pagination2 .active a {
	color:#82e6ff;
	text-decoration:none;
	border-top: none;
	border-bottom:1px solid rgba(255,255,255,.15);
  background-color: #282b2e;
	.box-shadow(~"inset 0 0 5px rgba(0,0,0,.8), 0 0 1px rgba(255,255,255,.15)");
}

.pagination2 li:first-child a, .pagination2 li:last-child a {
	padding:4px;
}

.pagination2 ul li:first-child a span, 
.pagination2 ul li:last-child a span {
	width:22px;
	height:22px;
	padding:0;
	margin:0;
	display:inline-block;
	.border-radius(50px);
  background:#242424;
	vertical-align:middle;
  border:none;
  .box-shadow(~"inset 0 1px 1px rgba(0,0,0,1), 0 1px 1px rgba(255,255,255,0.4)");
}

.pagination2 ul li:first-child a:hover span, 
.pagination2 ul li:last-child a:hover span {	
	width:22px;
	height:22px;
	padding:0;
	margin:0;
	display:inline-block;
	.border-radius(50px);
	border:none;
	vertical-align:middle;
  box-shadow:none;
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#28C2F3), to(#0096db));
}


.pagination2 li:first-child a span .arrow, 
.pagination2 li:last-child a span .arrow {
	border-color: transparent #42464b transparent transparent;
  border-style: solid;
  border-width: 8px 10px 8px 10px;
	background:none ! important;
  height: 0px ! important;
  width: 0px ! important;
	.border-radius(0);
	box-shadow: none;
	margin:2px 0 0 -13px;
}

.pagination2 li:first-child a:hover span .arrow, 
.pagination2 li:last-child a:hover span .arrow {
	border-color: transparent #2a2d30 transparent transparent;
  border-style: solid;
  border-width: 8px 10px 8px 10px;
	background:none ! important;
  height: 0px ! important;
  width: 0px ! important;
	.border-radius(0);
	box-shadow: none;
	margin:2px 0 0 -13px;
}


.pagination2 li:last-child a span .arrow {
	border-color: transparent transparent transparent #42464b;
	margin:2px 0 0 7px;
}

.pagination2 li:last-child a:hover span .arrow {
	border-color: transparent transparent transparent #2a2d30;
	margin:2px 0 0 7px;
}

// Centered
.pagination2-centered {
  text-align: center;
}
.pagination2-right {
  text-align: right;
}
