//
// Responsive: Tablet to desktop
// --------------------------------------------------


@media (min-width: 768px) and (max-width: 979px) {

  // Fixed grid
  #grid > .core(@gridColumnWidth768, @gridGutterWidth768);

  // Fluid grid
  #grid > .fluid(@fluidGridColumnWidth768, @fluidGridGutterWidth768);

  // Input grid
  #grid > .input(@gridColumnWidth768, @gridGutterWidth768);

  // No need to reset .thumbnails here since it's the same @gridGutterWidth

	.form-search {
		.input-append {
			font-size: @baseFontSize;
			background-color: @white;
			border:0;
			.border-radius(@searchBorderRadius);
			.box-shadow(~"inset 0 1px 2px rgba(0,0,0,.7), 0 1px 1px rgba(255,255,255,.27)");
			@transition: border linear .2s, box-shadow linear .2s;
			.transition(@transition);
			color: @grayLight;
			padding: 5px 15px 5px 0;
		}
		// Re-hide hidden elements due to specifity
		.hide {
			display: none;
		}
	}
	// Inline checkbox/radio labels (remove padding on left)
	.form-search input {
		color: @grayLight;
		background:none;
		border:0;
		box-shadow:none;
		&:focus {
			color: @grayLight;
			box-shadow:none;
		}
	}

	.form-search button,
	.form-search button:hover,
	.form-search button:active {
		width:19px; height:25px;
		background: url('../img/icon.png') no-repeat -53px -332px;
		background-size:139px;
		border:0;
	}

}
