//
// Cornerstone Variables
// --------------------------------------------------

// Master Color
// -------------------------
@brand-primary: #2d95bb;
@text-color: #666;
@text-color-inverse: #FFF;
@font-size-base: 16px;
@state-warning-bg: #d1ad40;
@state-success-bg: #77bf5b;
@state-danger-bg: #d16354;

// Typography
// -------------------------
@font-family-sans-serif: "NanumGothic", "Helvetica Neue", Helvetica, Arial, sans-serif;
@font-family-serif: Georgia, "Times New Roman", Times, serif;
@font-family-monospace: Monaco, Menlo, Consolas, "Courier New", monospace;
@font-family-base: @font-family-sans-serif;

// Range Input
// --------------------------------------------------
@slider-outer-bg: rgba(0, 0, 0, 0.2);
@slider-outer-bg2: rgba(255, 255, 255, 0.05);
@slider-outer-radius: 10px;
@slider-inner-bg: #868686;
@slider-inner-radius: 20px;

@slider-handle-outer-bg: @gray-lighter;
@slider-handle-inner-bg: @brand-primary;
@slider-handle-radius: 50px;

@slider-progress-bg: @brand-primary;

// Forms
// -------------------------
@input-bg: rgba(34, 34, 34, 0.64);
@input-bg-disabled: rgba(34, 34, 34, 0.22);

@input-border: transparent;
@input-border-radius: 5px;

@input-color-placeholder: @gray-light;

@input-height-base: (@line-height-computed + (@padding-base-vertical * 2) + 2);
@input-height-large: (ceil(@font-size-large * @line-height-base) + (@padding-large-vertical * 2) + 2);
@input-height-small: (ceil(@font-size-small * @line-height-base) + (@padding-small-vertical * 2) + 2);

@form-padding-base-vertical: 9px;
@form-padding-base-horizontal: 6px;

@select-height: 40px;

@form-font-size: 18px;
@form-text-color: #c0c0c0;
@form-focus-color: #2094b1;

@form-danger-color: #872a2b;
@form-success-color: #3c5d20;
@form-warning-color: #c09853;

@flip-on-bg: #28869e;
@flip-off-bg: #2f2f2f;


@state-warning-text: #000;
@state-warning-bg: #d0ad49;
@state-warning-border: darken(spin(@state-warning-bg, -10), 3%);

@state-danger-text: #000;
@state-danger-bg: #ce6357;
@state-danger-border: darken(spin(@state-danger-bg, -10), 3%);

@state-success-text: #000;
@state-success-bg: #79be60;
@state-success-border: darken(spin(@state-success-bg, -10), 5%);

@state-info-text: #000;
@state-info-bg: #4d88d2;
@state-info-border: darken(spin(@state-info-bg, -10), 7%);

// Navbar
// -------------------------
@navbar-default-link-color: @text-color;

// Nav
// -------------------------
@nav-text-color: #c0c0c0;


// Forms
// -------------------------
@btn-font-size: 18px;