//
// Cornerstone Variables
// --------------------------------------------------
@theme: white;
@brand-primary: #2d95bb;
@brand-primary-darken5: darken(@brand-primary, 5%);
@text-color: #777;
@text-color-inverse: #FFF;
@font-size-base: 16px;

@state-warning-color: #FFF;
@state-warning-bg: #d1ad40;
@state-warning-border: darken(spin(@state-warning-bg, -10), 3%);

@state-danger-color: #FFF;
@state-danger-bg: #d16354;
@state-danger-border: darken(spin(@state-danger-bg, -10), 3%);

@state-success-color: #FFF;
@state-success-bg: #77bf5b;
@state-success-border: darken(spin(@state-success-bg, -10), 5%);

@state-info-color: #FFF;
@state-info-bg: #2669bb;
@state-info-border: darken(spin(@state-info-bg, -10), 7%);

// Forms
// -------------------------
@input-bg: rgba(34, 34, 34, 0.64);
@input-bg-disabled: rgba(34, 34, 34, 0.22);

@input-border: transparent;
@input-border-radius: 5px;

@input-color-placeholder: @gray-light;

@input-height-base: (@line-height-computed + (@padding-base-vertical * 2) + 2);
@input-height-large: (ceil(@font-size-large * @line-height-base) + (@padding-large-vertical * 2) + 2);
@input-height-small: (ceil(@font-size-small * @line-height-base) + (@padding-small-vertical * 2) + 2);

@form-padding-base-vertical: 9px;
@form-padding-base-horizontal: 6px;

@select-height: 40px;

@form-font-size: 18px;
@form-text-color: #c0c0c0;
@form-focus-color: #2094b1;

@form-danger-color: #872a2b;
@form-success-color: #3c5d20;
@form-warning-color: #c09853;

@flip-on-bg: #28869e;
@flip-off-bg: #2f2f2f;

// Navbar
// -------------------------
@navbar-default-link-color: @text-color;

// Nav
// -------------------------
@nav-text-color: #c0c0c0;

// Forms
// -------------------------
@btn-font-size: 18px;

// CSS
// -------------------------
// Scaffolding
@body-background: #f6f6f6;
@body-color: @text-color;

@hr-margin: "";
@hr-border: "";

@code-padding: 2px 4px;
@code-background-color: #f6e4e1;
@code-color: #be5543;
@code-white-space: nowrap;

// Typography
@font-family-sans-serif: "NanumGothic", "Helvetica Neue", Helvetica, Arial, sans-serif;
@font-family-serif: Georgia, "Times New Roman", Times, serif;
@font-family-monospace: Monaco, Menlo, Consolas, "Courier New", monospace;
@font-family-base: @font-family-sans-serif;
@title-color: #656565;

// Tables
@table-bg: #f5f5f5;
@table-border: 1px solid #cbcbcb;
@table-head-bg: #878787;
@table-head-color: #000;
@table-head-border-bottom: 2px solid #878787;
@table-head-background-image: ~"linear-gradient(bottom, #e3e3e3 0%, #fff 99.49%, #fff 100%)";

@table-hover-background-color: rgba(0, 0, 0, 0.1);
@table-active-background-color: rgba(0, 0, 0, 0.2);

@table-td-border-top: "";

@table-striped-td-background-color: "";

@table-bordered-td-border: "";
@table-bordered-td-border-top: @table-bordered-td-border;

@table-hover-td-background-color: "";

// Forms
// Buttons
@btn-text-color: "";

@btn-default-bg: #FFF;
@btn-default-color: #6a6a6a;
@btn-default-hover-color: #1f8fb9;
@btn-primary-bg: #40aad2;
@btn-success-bg: #76bf5a;
@btn-info-bg: #518fdb;
@btn-warning-bg: #d1ad40;
@btn-danger-bg: #d16354;

@btn-border: 1px solid #b6b6b6;
@btn-border-radius: 6px;
@btn-box-shadow: ~"0 3px 2px rgba(0,0,0,.18)";
@btn-color: #FFF;

@btn-active-background-image: "";
@btn-active-box-shadow: "";

@btn-hover-background-image: "";

// Images

// Component
// -------------------------
// Dropdown
// Button Groups
// Button Dropdowns
// Input Groups
// Nav
// Navbar
// Breadcrumb
@breadcrumb-margin: "";
@breadcrumb-padding: 0;
@breadcrumb-border: 1px solid #b6b6b6;
@breadcrumb-border-radius: 4px;
@breadcrumb-background-color: "";
@breadcrumb-background-image: ~"linear-gradient(bottom, #e3e3e3 0%, #fff 99.49%, #fff 100%)";
@breadcrumb-box-shadow: "";

@breadcrumb-li-padding: 8px 15px 8px 20px;

@breadcrumb-li-before-margin: "";
@breadcrumb-li-before-padding: "";
@breadcrumb-li-before-content: '';
@breadcrumb-li-after-position: absolute;

@breadcrumb-li-after-margin-top: -8px;
@breadcrumb-li-after-margin-left: 19px;
@breadcrumb-li-after-padding: 0;
@breadcrumb-li-after-width: 15px;
@breadcrumb-li-after-height: 36px;
@breadcrumb-li-after-background: url(images/breadcrumb-arrow.png) no-repeat;
@breadcrumb-li-after-color: "";
@breadcrumb-li-after-content: '';

@breadcrumb-li-a-color: #656565;
@breadcrumb-li-a-text-decoration: none;
@breadcrumb-li-a-text-shadow: 0 1px 0 #fff;

@breadcrumb-active-color: #454545;

// Pagination
// Label & Badge
@lb-box-shadow: ~"0 3px 2px rgba(0,0,0,.1)";
@badge-padding-bottom: 3.5px;

// Jumbtron
@jumbotron-border: 1px solid #b6b6b6;
@jumbotron-border-radius: 5px;
@jumbotron-background-color: #FFF;
@jumbotron-background-image: ~"linear-gradient(bottom, rgba(227,227,227,1) 0%, rgba(255,255,255,.55) 99.49%, rgba(255,255,255,.55) 100%)";
@jumbotron-color: "";

// Page header
// Thumbnails
@thumbnail-position: relative;
@thumbnail-margin-bottom: 20px;
@thumbnail-padding: "";
@thumbnail-border: 1px solid rgba(0, 0, 0, 0);
@thumbnail-border-radius: 5px;
@thumbnail-background-image: "";
@thumbnail-background-size: "";
@thumbnail-box-shadow: ~"0 5px 10px 0 rgba(0, 0, 0, 0.3)";
@thumbnail-z-index: 1;

@thumbnail-a-hover-border: "";

@thumbnail-gray-padding: 20px 15px 0 15px;
@thumbnail-gray-border: 1px solid #cbcbcb;
@thumbnail-gray-border-radius: 0 0 5px 5px;
@thumbnail-gray-box-shadow: "";
@thumbnail-gray-background-image: ~"linear-gradient(bottom, #f8f8f8 0%, #e3e3e3 7.5%, #fff 36.25%, #fff 100%)";
@thumbnail-gray-color: "";
@thumbnail-gray-title-color: "";

// Alert
// Progress bars
// Media Object
// List Group
// Panel
// Wells
// Mobile Navbar
// Cornerstone List
// Vertically Grouped

// Plugin
// -------------------------
// Modal
@modal-color: "";
@modal-border: 1px solid #cccccc;
@modal-border-radius: 6px 6px 0 0;
@modal-background-image: ~"linear-gradient(top, rgb(254, 254, 254), rgb(233, 233, 233))";

// Dropdown
@dropdown-margin: "";
@dropdown-padding: 0;
@dropdown-border: 1px solid #B6B6B6;
@dropdown-border-radius: 4px;
@dropdown-bg: #FDFDFD;
@dropdown-box-shadow: ~"0 3px 2px rgba(0,0,0,.18)";

@dropdown-first-border-top: "";
@dropdown-first-border-radius: 4px 4px 0 0;
@dropdown-last-padding: 5px 20px 7px 20px;
@dropdown-last-border-radius: 0 0 4px 4px;
@dropdown-last-box-shadow: "";

@dropdown-item-padding: 5px 20px;
@dropdown-item-border-top: "";
@dropdown-item-border-radius: "";
@dropdown-item-color: "";

@dropdown-item-hover-background-image: ~"linear-gradient(bottom, #2a92b9 0%, #40aad2 100%)";

@dropdown-disabled-color: "";
@dropdown-divider-bg: #ACACAC;

// Scrollspy: Component 스타일 상속
// Tab: Component 스타일 상속
// Tooltip: Component 스타일 상속
// Popover
@popover-color: "";

// Alert
@alert-border: none;
@alert-color: #FFF;
@alert-box-shadow: "0 1px 1px rgba(0,0,0,.5)";
@alert-warning-bg: @state-warning-bg;
@alert-danger-bg: @state-danger-bg;
@alert-success-bg: @state-success-bg;
@alert-info-bg: @state-info-bg;

// Button: Component 스타일 상속
// Collapse
@collapse-background-image: "";

@collapse-heading-padding: "";
@collapse-heading-border: "";
@collapse-heading-bg: "";

@collapse-toggle-display: "";
@collapse-toggle-padding: "";
@collapse-toggle-background-image: "";
@collapse-toggle-box-shadow: "";
@collapse-toggle-text-decoration: none;
@collapse-toggle-color: "";

@collapse-heading-body-border: "";
@collapse-heading-body-bg: "";

// Carousel
@carousel-control-margin-top: -30px;
@carousel-control-margin-left: -30px;
@carousel-control-width: 60px;
@carousel-control-height: 60px;
@carousel-control-font-size: 35px;

@carousel-indicators-margin: 0 5px;
@carousel-indicators-width: 15px;
@carousel-indicators-height: 15px;
@carousel-indicators-border: 1px solid rgba(0, 0, 0, 0.2);
@carousel-indicators-border-radius: 15px;
@carousel-indicators-bg: #919191;
@carousel-indicators-box-shadow: ~"inset 0 2px 2px #000";
@carousel-indicators-active-bg: #46b2da;

// RangeInput
@slider-margin: 0 0 20px 0;
@slider-padding: 6px 0 7px 0;
@slider-border-radius: 10px;
@slider-background-image: ~"linear-gradient(top, #b6b6b6 0%, #b6b6b6 100%)";

@slider-after-margin: 1px 6px 0 6px;
@slider-after-width: auto;
@slider-after-height: 9px;
@slider-after-border-radius: 20px;
@slider-after-bg: #868686;
@slider-after-box-shadow: ~"inset 0 1px 2px rgba(0,0,0,.25)";

@slider-bar-height: 13px;
@slider-bar-margin: -1px 6px 0 6px;
@slider-bar-border-radius: 20px;
@slider-bar-bg: @brand-primary;
@slider-bar-box-shadow: ~"inset 0 1px 4px rgba(0,0,0, 0.4)";
@slider-bar-background-image: ~"linear-gradient(bottom, #2a92b9 0%, #40aad2 100%)";

@slide-handle-top: -2px;
@slide-handle-padding: 0;
@slide-handle-margin-right: 15px;
@slide-handle-width: 27px;
@slide-handle-height: 27px;
@slide-handle-border: 1px solid rgba(0, 0, 0, 0.5);
@slide-handle-border-radius: 27px;
@slide-handle-background-color: "";
@slide-handle-background-image: ~"linear-gradient(bottom, #cec8c5 0%, #efe9e9 100%)";
@slide-handle-box-shadow: ~"0 1px 2px rgba(1,1,1,.25), inset 0 2px 1px rgba(255,255,255,.5)";

@slide-handle-after-top: 3px;
@slide-handle-after-left: 3px;
@slide-handle-after-width: 19px;
@slide-handle-after-height: 19px;
@slide-handle-after-background-color: #c1c1c1;
@slide-handle-after-background-image: ~"linear-gradient(bottom, #ede9e9 0%, #ede9e9 0.27%, #cec8c5 100%)";
@slide-handle-after-box-shadow: ~"0 -1px 0 #ede9e9, inset 0 1px 2px rgba(0,0,0,.14)";

// Date Picker
@datetimepicker-margin: 0;
@datetimepicker-padding: 0;
@datetimepicker-background-color: #FFF;

@datetimepicker-li-a-line-height: 15px;
@datetimepicker-li-a-border-radius: 0 0 4px 4px;
@datetimepicker-li-a-background-image: ~"linear-gradient(top, rgb(249, 249, 249), rgb(237, 237, 237))";
@datetimepicker-li-a-color: #333;

@datetimepicker-td-background: @gray-lighter;
@datetimepicker-td-span-width: 55px;
@datetimepicker-td-span-hover-background: @gray-lighter;

@datetimepicker-thead-th-hover-background: @gray-lighter;

// Typeahead
@typeahead-minwidth: 250px;
@typeahead-bg: #FFF;
@typeahead-focus-border: 2px solid #0097cf;
@typeahead-dropdown-bg: #FFF;

// Editor
@editor-text-color: @text-color;