<div id="dashboard_container" class="row">
	<div class="dashboardItem" id="dashboard_lte">
		<div>LTE 개통 통계</div>
		<div id="example"></div>
	</div>

	<div class="dashboardItem" id="dashboard_voc">
		<div>VOC</div>
		<div class="row">
			<div class="span12">
				VOC 쏼라 쏼라~~~
			</div>
		</div>
	</div>
	
	<div class="dashboardItem" id="dashboard_policy">
		<div>정책</div>
	</div>
	
	<div class="dashboardItem" id="dashboard_sns">
		<div>블로그/트위터/구글플러스</div>
	</div>
	
	<div class="dashboardItem" id="dashboard_facebook">
		<div>페이스북</div>
	</div>
	
	<div class="dashboardItem" id="dashboard_youtube">
		<div>유튜브</div>
	</div>
</div>