/* move down carets for tabs */
body {
  font-family:dotum;
}

table {
  width: 100%;
  margin-bottom: 18px;
}
table th,
table td {
  color: #000000;
  padding: 8px;
  line-height: 18px;
  text-align: left;
  vertical-align: top;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: inset 0 1px 1px rgba(255,255,255,.1);
  -moz-box-shadow: inset 0 1px 1px rgba(255,255,255,.1);
  box-shadow: inset 0 1px 1px rgba(255,255,255,.1);
}
table th {
  font-weight: bold;
  text-align:center;
}
table thead th {
  vertical-align: bottom;
}
table caption + thead tr:first-child th,
table caption + thead tr:first-child td,
table colgroup + thead tr:first-child th,
table colgroup + thead tr:first-child td,
table thead:first-child tr:first-child th,
table thead:first-child tr:first-child td {
  border-top: 0;
  box-shadow: none;
}
table tbody + tbody {
  border-top: 2px solid rgba(0, 0, 0, 0.1);
}
table tbody tr.success td {
  background-color: #67ab4f;
}
table tbody tr.error td {
  background-color: #e03c5b;
}
table tbody tr.info td {
  background-color: #52a4b8;
}

table tbody tr:hover th,
table tbody tr:hover td {
  background-color: rgba(0,0,0,.1);
}

.main-box {
    border:3px solid rgba(0,0,0,.2);
    border-radius:6px;
    margin-top:20px;
    padding:20px 15px;
    background:rgba(255,255,255,.1);
    overflow: hidden;
    text-overflow: ellipsis;
}
.list-documents-link {
    font-size:16px;
    display:block;
    margin:0 0 10px;
}

.media img {
    width: 64px;
    height: 64px;  
}

.page-content h1 {font-size:28px; font-weight:bold;}
.page-content h2 {font-size:20px; margin-top:40px;}

.well {
    background: white;
    box-shadow: 0 0 3px 3px #aaa;
}

a.first-depth {
    color: dimgray;
    font-weight: bold;
    font-size: 20px;
}

a.second-depth {
    text-indent: 20px;
    font-size: 15px;
}

a.third-depth {
    text-indent: 40px;
}

.jumbotron {
  position: relative;
  padding: 40px 0;
  color: #fff;
  text-align: center;
  text-shadow: 0 1px 3px rgba(0,0,0,.4), 0 0 30px rgba(0,0,0,.075);
  background-color: #049cd9;
  background-repeat: no-repeat;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#004D9F), to(#049cd9));
  background-image: -webkit-linear-gradient(#004D9F, #049cd9);
  background-image: -moz-linear-gradient(#004D9F, #049cd9);
  background-image: -o-linear-gradient(top, #004D9F, #049cd9);
  background-image: -khtml-gradient(linear, left top, left bottom, from(#004D9F), to(#049cd9));
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#004D9F', endColorstr='#049cd9', GradientType=0); /* IE8 and down */
  -webkit-box-shadow: inset 0 3px 7px rgba(0,0,0,.2), inset 0 -3px 7px rgba(0,0,0,.2);
     -moz-box-shadow: inset 0 3px 7px rgba(0,0,0,.2), inset 0 -3px 7px rgba(0,0,0,.2);
          box-shadow: inset 0 3px 7px rgba(0,0,0,.2), inset 0 -3px 7px rgba(0,0,0,.2);
}

.jumbotrons .container {
  background: transparent url(../img/grid-18px.png) top center;
  -webkit-box-shadow: inset 0 10px 30px rgba(0,0,0,.3);
     -moz-box-shadow: inset 0 10px 30px rgba(0,0,0,.3);
          box-shadow: inset 0 10px 30px rgba(0,0,0,.3);
}

.jumbotron h1 {
  font-size: 80px;
  font-weight: bold;
  letter-spacing: -1px;
  line-height: 1;
}
.jumbotron p {
  font-size: 24px;
  font-weight: 300;
  line-height: 1.25;
  margin-bottom: 30px;
}

/* Link styles (used on .masthead-links as well) */
.jumbotron a {
  color: #fff;
  color: rgba(255,255,255,.5);
  -webkit-transition: all .2s ease-in-out;
     -moz-transition: all .2s ease-in-out;
          transition: all .2s ease-in-out;
}
.jumbotron a:hover {
  color: #fff;
  text-shadow: 0 0 10px rgba(255,255,255,.25);
}
.jumbotron .container {
  position: relative;
  z-index: 2;
}
.jumbotron:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: url(../img/bs-docs-masthead-pattern.png) repeat center center;
  opacity: .4;
}
.subhead {
  text-align: left;
  border-bottom: 1px solid #ddd;
}
.subhead h1 {
  font-size: 60px;
}
.subhead p {
  margin-bottom: 20px;
}
.subhead .navbar {
  display: none;
}
@media (max-width: 480px) {
  /* Remove padding above jumbotron */
  body {
    padding-top: 0;
  }

  /* Change up some type stuff */
  h2 small {
    display: block;
  }

  /* Downsize the jumbotrons */
  .jumbotron h1 {
    font-size: 45px;
  }
  .jumbotron p,
  .jumbotron .btn {
    font-size: 18px;
  }
  .jumbotron .btn {
    display: block;
    margin: 0 auto;
  }

  /* center align subhead text like the masthead */
  .subhead h1,
  .subhead p {
    text-align: center;
  }

  iframe {
    min-height: 300px;
  }
}

div.pos_fixed_all
{
  position:fixed;
  top:90%;
  right:5%;
}

a
{
  color: #005580
}
