div[data-timechart], div[data-devicechart] {
	height: 300px;
}

#lteReport .branch {
	font-color: black;
	height: 340px;
}

#lteReport .panel-group {
	margin-bottom: 20px;
}

#lteReport .side-bar {
	margin-left: 10px;
}

@media all and (max-width: 767px) {
	#lteReport .side-bar {
		margin-left: 0px;
	}
}