.widget-rangeinput {
    .slider {
        background-image: -webkit-gradient(linear, 50% 0, 50% 100%, color-stop(0%, #C4C4C4), color-stop(10%, #D0D0D0), color-stop(65%, #DDD), color-stop(100%, #DEDEDE));
        background-image: -webkit-linear-gradient(top, #C4C4C4, #D0D0D0 10%, #DDD 65%, #DEDEDE);
        background-image: -moz-linear-gradient(top, #C4C4C4, #D0D0D0 10%, #DDD 65%, #DEDEDE);
        background-image: -ms-linear-gradient(top, #C4C4C4, #D0D0D0 10%, #DDD 65%, #DEDEDE);
        background-image: -o-linear-gradient(top, #C4C4C4, #D0D0D0 10%, #DDD 65%, #DEDEDE);
        background-image: linear-gradient(top, #C4C4C4, #D0D0D0 10%, #DDD 65%, #DEDEDE);
        height: 9px;
        position: relative;
        cursor: pointer;
        border: 1px solid #333;
        width: 100%;
        float: left;
        clear: right;
        margin-top: 10px;
        .border-radius(5px);
        .box-shadow(inset 0 0 8px #000);
    }

    .progress {
        height: 9px;
        background-image: none;
        background-color: #555;
        display: block;
        width: 0;
    }

    .handle {
        background-image: -webkit-gradient(linear, 50% 0, 50% 100%, color-stop(0%, white), color-stop(3%, #EAEAEA), color-stop(100%, #D0D0D0));
        background-image: -webkit-linear-gradient(top, white, #EAEAEA 3%, #D0D0D0);
        background-image: -moz-linear-gradient(top, white, #EAEAEA 3%, #D0D0D0);
        background-image: -ms-linear-gradient(top, white, #EAEAEA 3%, #D0D0D0);
        background-image: -o-linear-gradient(top, white, #EAEAEA 3%, #D0D0D0);
        background-image: linear-gradient(top, white, #EAEAEA 3%, #D0D0D0);
        height: 28px;
        width: 28px;
        top: -12px;
        position: absolute;
        display: block;
        margin-top: 1px;
        border: 1px solid #000;
        cursor: move;
        .box-shadow(0 0 6px #000);
        .border-radius(14px);
    }

    .handle:active {
        background-image: -webkit-gradient(linear, 50% 0, 50% 100%, color-stop(0%, white), color-stop(3%, #CFCFCF), color-stop(100%, #B4B4B4));
        background-image: -webkit-linear-gradient(top, white, #CFCFCF 3%, #B4B4B4);
        background-image: -moz-linear-gradient(top, white, #CFCFCF 3%, #B4B4B4);
        background-image: -ms-linear-gradient(top, white, #CFCFCF 3%, #B4B4B4);
        background-image: -o-linear-gradient(top, white, #CFCFCF 3%, #B4B4B4);
        background-image: linear-gradient(top, white, #CFCFCF 3%, #B4B4B4);
    }

    .range {
        border: 1px inset #ddd;
        float: left;
        margin: 0 0 0 15px;
        padding: 3px 0;
        text-align: center;
        width: 50px;
        margin-top: 20px;
        margin-left: 0;

        .border-radius(5px);
    }
}