@ratio: .5;
@defaultWidth: 30px;
@defaultHeight: 30px;

.size(@height, @width) {
  width: @width;
  height: @height;
}

.getIconBgPosition( @x:0, @y:0, @diff:0 ) {
   background-position: (@x + @diff) @y;
}

[class^="csicon-"],
[class*=" csicon-"] {
  background: url('../img/icon.png') no-repeat 0 0;
  background-size: 320px;
  display: inline-block;
  width: @defaultWidth;
  height: @defaultHeight;
  border: 1px solid #000;
}

.csicon-about {
  .getIconBgPosition( -102px, -154px );
}

.csicon-favorites {
  .getIconBgPosition( -101.5px, -199px );
}

.csicon-user {
  .getIconBgPosition( -101px, -243px );
}

.csicon-downloads {
  .getIconBgPosition( -101px, -288px );
}

.csicon-settings {
  .getIconBgPosition( -101px, -333px );
}

.csicon-up {
  .getIconBgPosition( -101.5px, -378.5px );
}

.csicon-down {
  .getIconBgPosition( -101.5px, -423px );
}

.csicon-message {
  .getIconBgPosition( -102px, -466px );
}

.csicon-list {
  .getIconBgPosition( -101px, -511px );
}

.csicon-write {
  .getIconBgPosition( -101px, -556px );
}

.csicon-mail {
  .getIconBgPosition( -101px, -601px );
}

.csicon-save {
  .getIconBgPosition( -101px, -645px );
}

.csicon-search {
  .getIconBgPosition( -101px, -689px );
}

.csicon-connect {
  .getIconBgPosition( -101px, -733.5px );
}

.csicon-users {
  .getIconBgPosition( -101.5px, -778px );
}

.csicon-home {
  .getIconBgPosition( -101px, -823px );
}

.csicon-right {
  .getIconBgPosition( -101.5px, -868px );
}

.csicon-left {
  .getIconBgPosition( -101.5px, -913px );
}

.csicon2 {
  .csicon-about {
    .getIconBgPosition( -102px, -154px, -44.5px );
  }

  .csicon-favorites {
    .getIconBgPosition( -101.5px, -199px, -44.5px );
  }

  .csicon-user {
    .getIconBgPosition( -101px, -243px, -44.5px );
  }

  .csicon-downloads {
    .getIconBgPosition( -101px, -288px, -44.5px );
  }

  .csicon-settings {
    .getIconBgPosition( -101px, -333px, -44.5px );
  }

  .csicon-up {
    .getIconBgPosition( -101.5px, -378.5px, -44.5px );
  }

  .csicon-down {
    .getIconBgPosition( -101.5px, -423px, -44.5px );
  }

  .csicon-message {
    .getIconBgPosition( -102px, -466px, -44.5px );
  }

  .csicon-list {
    .getIconBgPosition( -101px, -511px, -44.5px );
  }

  .csicon-write {
    .getIconBgPosition( -101px, -556px, -44.5px );
  }

  .csicon-mail {
    .getIconBgPosition( -101px, -601px, -44.5px );
  }

  .csicon-save {
    .getIconBgPosition( -101px, -645px, -44.5px );
  }

  .csicon-search {
    .getIconBgPosition( -101px, -689px, -44.5px );
  }

  .csicon-connect {
    .getIconBgPosition( -101px, -733.5px, -44.5px );
  }

  .csicon-users {
    .getIconBgPosition( -101.5px, -778px, -44.5px );
  }

  .csicon-home {
    .getIconBgPosition( -101px, -823px, -44.5px );
  }

  .csicon-right {
    .getIconBgPosition( -101.5px, -868px, -44.5px );
  }

  .csicon-left {
    .getIconBgPosition( -101.5px, -913px, -44.5px );
  }
}
.csicon3 {

  &.csicon-about {
    .getIconBgPosition( -384px * @ratio, -314px * @ratio );
  }
  &.csicon-favorites {
    .getIconBgPosition( -384px * @ratio, -403px * @ratio );
  }
  &.csicon-user {
    .getIconBgPosition( -378px * @ratio, -491px * @ratio );
  }
  &.csicon-downloads {
    .getIconBgPosition( -389px * @ratio, -583px * @ratio );
  }
  &.csicon-settings {
    .getIconBgPosition( -386px * @ratio, -672px * @ratio );
  }
  &.csicon-up {
    .getIconBgPosition( -388px * @ratio, -764px * @ratio );
  }
  &.csicon-down {
    .getIconBgPosition( -388px * @ratio, -853px * @ratio );
  }
  &.csicon-message {
    .getIconBgPosition( -385px * @ratio, -940px * @ratio );
  }
  &.csicon-list {
    .getIconBgPosition( -382px * @ratio, -1030px * @ratio );
  }
  &.csicon-write {
    .getIconBgPosition( -381px * @ratio, -1114px * @ratio );
  }
  &.csicon-mail {
    .getIconBgPosition( -383px * @ratio, -1213px * @ratio );
  }
  &.csicon-save {
    .getIconBgPosition( -387px * @ratio, -1296px * @ratio );
  }
  &.csicon-search {
    .getIconBgPosition( -385px * @ratio, -1384px * @ratio );
  }
  &.csicon-connect {
    .getIconBgPosition( -383px * @ratio, -1472px * @ratio );
  }
  &.csicon-users {
    .getIconBgPosition( -383px * @ratio, -1565px * @ratio );
  }
  &.csicon-home {
    .getIconBgPosition( -387px * @ratio, -1654px * @ratio );
  }
  &.csicon-right {
    .getIconBgPosition( -387px * @ratio, -1743px * @ratio );
  }
  &.csicon-left {
    .getIconBgPosition( -387px * @ratio, -1832px * @ratio );
  }
}

.csicon4 {

  &.csicon-about {
    .getIconBgPosition( -473px * @ratio, -314px * @ratio );
  }
  &.csicon-favorites {
    .getIconBgPosition( -473px * @ratio, -403px * @ratio );
  }
  &.csicon-user {
    .getIconBgPosition( -467px * @ratio, -491px * @ratio );
  }
  &.csicon-downloads {
    .getIconBgPosition( -478px * @ratio, -583px * @ratio );
  }
  &.csicon-settings {
    .getIconBgPosition( -475px * @ratio, -672px * @ratio );
  }
  &.csicon-up {
    .getIconBgPosition( -477px * @ratio, -764px * @ratio );
  }
  &.csicon-down {
    .getIconBgPosition( -477px * @ratio, -853px * @ratio );
  }
  &.csicon-message {
    .getIconBgPosition( -474px * @ratio, -940px * @ratio );
  }
  &.csicon-list {
    .getIconBgPosition( -471px * @ratio, -1030px * @ratio );
  }
  &.csicon-write {
    .getIconBgPosition( -470px * @ratio, -1114px * @ratio );
  }
  &.csicon-mail {
    .getIconBgPosition( -472px * @ratio, -1213px * @ratio );
  }
  &.csicon-save {
    .getIconBgPosition( -476px * @ratio, -1296px * @ratio );
  }
  &.csicon-search {
    .getIconBgPosition( -474px * @ratio, -1384px * @ratio );
  }
  &.csicon-connect {
    .getIconBgPosition( -472px * @ratio, -1472px * @ratio );
  }
  &.csicon-users {
    .getIconBgPosition( -472px * @ratio, -1565px * @ratio );
  }
  &.csicon-home {
    .getIconBgPosition( -476px * @ratio, -1654px * @ratio );
  }
  &.csicon-right {
    .getIconBgPosition( -476px * @ratio, -1743px * @ratio );
  }
  &.csicon-left {
    .getIconBgPosition( -476px * @ratio, -1832px * @ratio );
  }
}

