//
// pagination (multiple pages)
// --------------------------------------------------


.pagination {
	background-color: @pagingBackground;
	.border-radius(3px);
	padding: 3px 0 5px 6px;
	text-align: center;
 }
.pagination ul {
  display: inline-block;
  .ie7-inline-block();
  margin: 0 auto;
  .border-radius(3px);
  .box-shadow(0 1px 2px rgba(0,0,0,.05));
}
.pagination ul > li {
  display: inline-block;
	margin-left: -4px;
	padding: 0 4px 0 1px;
	text-align: center;
	vertical-align: middle;
  }

.pagination ul > li:first-child {
	margin-right: 5px;
}

.pagination ul > li:last-child {
	margin-left: -1px;
}

.pagination ul > li > a, 
.pagination ul > li > span,
.pagination ul > li > a:hover {
	color: @pagingTxt;
	line-height: @baseLineHeight;
	padding: 7px 8px;
	background: @pagingArrow;
  border: 1px solid rgba(255,255,255,0.05);
	border-top: 1px solid rgba(255,255,255,0.2);
	border-bottom: 0;
  .border-radius(4px);
	vertical-align: middle;
	display:block;
  .box-shadow(~"inset 0 0 2px rgba(255,255,255,.1), 0 5px 5px rgba(0,0,0,.4)");
}

.pagination ul > li > a:active,
.pagination ul > li.active > a {
	color: @pagingActive;
	text-decoration:none;
	border-top: none;
	border-bottom: 1px solid rgba(255,255,255,.15);
  background-color: @pagingNumBg;
	.box-shadow(~"inset 0 0 5px rgba(0,0,0,.8), 0 0 1px rgba(255,255,255,.15)");
}

.pagination ul > li:first-child > a, 
.pagination ul > li:last-child > a {
	width: auto;
	height: auto;
	padding: 7px 8px;
	background: @pagingArrow;
  border: 1px solid rgba(255,255,255,0.1);
	border-top: 1px solid rgba(255,255,255,0.15);
	border-bottom: none;
  .border-radius(4px);
  .box-shadow(~"inset 0 0 2px rgba(255,255,255,.1), 0 5px 5px rgba(0,0,0,.4)");
}

.pagination ul > li:first-child > a:active,
.pagination ul > li:last-child > a:active {
	margin: 0;
	text-decoration: none;
	border-top: none;
	border-bottom: 1px solid rgba(255,255,255,.15);
  background-color: @pagingNumBg;
	.box-shadow(~"inset 0 0 5px rgba(0,0,0,.8), 0 0 1px rgba(255,255,255,.15)");
}

.pagination ul > li:first-child > a span, 
.pagination ul > li:last-child > a span {
	padding: 7px 8px;
	margin: 0 auto;
	display: block;
	position: relative;
	.border-radius(50px);
  background-color: @pagingNextBtn;
	vertical-align: middle;
  border: none;
  .box-shadow(~"inset 0 1px 1px rgba(0,0,0,1), 0 1px 1px rgba(255,255,255,0.4)");
}

.pagination ul > li:first-child > a:active span, 
.pagination ul > li:last-child > a:active span {	
	padding: 7px 8px;
	margin: 0 auto;
	display: block;
	position: relative;
	.border-radius(50px);
	border:none;
	vertical-align:middle;
  box-shadow:none;
	#gradient > .vertical-paging;
}


.pagination ul > li:first-child > a span:after, 
.pagination ul > li:last-child > a span:after {
	content:"";
	border-color: transparent @pagingArrow transparent transparent;
  border-style: solid;
  border-width: 7px 9px 7px 9px;
	background: none ! important;
  height: 0px ! important;
  width: 0px ! important;
	.border-radius(0);
	box-shadow: none;
	position: absolute;
	left: -3px;
	top: 4px;
}

.pagination ul > li:first-child > a:active span:after, 
.pagination ul > li:last-child > a:active span:after {
	content:"";
	border-color: transparent @pagingArrowActive transparent transparent;
  border-style: solid;
  border-width: 7px 9px 7px 9px;
	background: none ! important;
  height: 0px ! important;
  width: 0px ! important;
	.border-radius(0);
	box-shadow: none;
	position: absolute;
	left: -3px;
	top: 4px;
}


.pagination ul > li:last-child > a span:after {
	border-color: transparent transparent transparent @pagingArrow;
	position: absolute;
	left: 8px;
	top: 4px;
}

.pagination ul > li:last-child > a:active span:after {
	border-color: transparent transparent transparent @pagingArrowActive;
	position: absolute;
	left: 8px;
	top: 4px;
}

.pagination ul > li.disabled > a,
.pagination ul > li.disabled > a:hover, 
.pagination ul > li.disabled > a:active {
	color: @pagingTxt;
	line-height: @baseLineHeight;
	font-weight: normal;
	padding: 7px 9px;
	background: @pagingArrow;
  border: 1px solid rgba(255,255,255,0.05);
	border-top: 1px solid rgba(255,255,255,0.2);
	border-bottom: 0;
  .border-radius(4px);
	vertical-align: middle;
	display:block;
  .box-shadow(~"inset 0 0 2px rgba(255,255,255,.1), 0 5px 5px rgba(0,0,0,.4)");
}

// Centered
.pagination-centered {
  text-align: center;
}
.pagination-right {
  text-align: right;
}
