body {
    padding-top: 70px;
}

@media (max-width: 768px) {
    #changeData button {
        padding: 6px 6px;
        letter-spacing: -1px;
    }
}

@media (max-width: 320px) {
    #changeData button {
        font-size: 12px;
    }
}