//
// Breadcrumbs
// --------------------------------------------------

.breadcrumb {
  margin: 0 0 22px;
  padding: 1px 15px 1px 25px;
  border: 0;
  border-radius: 0;
  .gradient-vertical-without-color(rgba(0, 0, 0, .4), rgba(255, 255, 255, .1));
  background-color: rgba(0, 0, 0, 0.3);
  //linear-gradient(to bottom, rgba(0, 0, 0, 0.4), rgba(255, 255, 255, 0.1))
  .box-shadow(~"inset 0 -10px 10px rgba(0, 0, 0, .2), 0 2px 2px rgba(255, 255, 255, .08)");
  > li {
    padding: 5px 10px;
    text-shadow: 0 -1px 0 #000;

    a {
      color: #B0B0B0;
      text-decoration: none;
      text-shadow: 0 1px 1px rgba(0, 0, 0, 0.8);
    }
    &:after {
      display: inline-block;
      margin-left: 15px; // Unicode space added since inline-block means non-collapsing white-space
      padding: 0 5px;
      color: #ccc;
      content: "\00a0 /";
    }
    &:last-child:after {
      display: none; // No divider after last element
    }
  }
  > .active {
    color: #FFF;
  }
}
