//
// Cornerstone List
// --------------------------------------------------
.panel .list-group-cornerstone {
  margin: -15px;
}

.panel-group {
  .panel + .panel {
    margin-top: 0;
  }
  & > .panel {
    margin-bottom: 0;
    border-radius: 0;
  }

  .panels {
    & > .panel:first-child {
      border-radius: @panel-border-radius @panel-border-radius 0 0;
      margin-bottom: -4px;
      .list-group-item:last-child {
        padding: 10px 15px 18px 15px;
      }
    }
    & > .panel:last-child {
      border-radius: 0 0 @panel-border-radius @panel-border-radius;
      margin-bottom: 0;
      .list-group-item:last-child {
        padding: 10px 15px;
      }
    }
  }

  .panel-sub-heading {
    font-size: (@font-size-base * 0.95);
  }
}

.panel-group {
  padding: 10px;
  border-radius: 6px;
  background-image: url(images/bg-dot.png);
  background-size: 4px;

  .panel {
    background-color: transparent;
    border-radius: 0;
    margin-bottom: 0;
    .box-shadow(~"0 0 5px rgba(0, 0, 0, 0.5)");
  }

  > .panel:first-child {
    border-radius: @panel-border-radius @panel-border-radius 0 0;
  }
  > .panel:last-child {
    border-radius: 0 0 @panel-border-radius @panel-border-radius;
  }

  .panel-sub-heading {
    font-size: (@font-size-base * 0.95);
  }
}

.panels {
  .panel {
    &:not(:first-child) {
      .panel-heading {
        border-radius: 0;
        padding: 5px 15px;
      }
    }
    &:first-child {
      .list-group-item:last-child {
        border-radius: 0;
      }
    }
    &:last-child {
      border-radius: 0 0 @panel-border-radius @panel-border-radius;
    }
  }
}

.panel-heading {
  background-color: #739d1f;
}

.panel-nav-group {
  background: none;
  padding: 0;
  .panel-heading, .panel-footer {
    border-bottom: none;
    background: #242426;
  }
  .list-group-item {
    border-width: 0;
    &:hover {
      color: #FFF;
      background-color: #525252;
    }
    &:active, &.active {
      color: #FFF;
      text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
      background-color: #9E2222;
    }
  }
}