//
// Nav
// --------------------------------------------------
.nav {
  a:hover {
    .caret {
      .caret;
    }
  }
  .caret {
    .caret;
  }
}

.nav-tabs-bottom {
  border-top: 1px solid #ddd;
  border-bottom: none;

  > li {
    margin-top: -1px;
    > a {
      margin-right: 2px;
      border: 1px solid transparent;
      border-radius: 0 0 @border-radius-base @border-radius-base;
      line-height: @line-height-base;
      &:hover {
        border-color: @gray-lighter @gray-lighter #ddd;
      }
    }

    &.active > a,
    &.active > a:hover,
    &.active > a:focus {
      border: 1px solid #ddd;
      border-top-color: transparent;
      background-color: @body-bg;
      color: @nav-text-color;
      cursor: default;
    }
  }

}

.caret {
  border-top-color: #FFF;
  border-bottom-color: #FFF;
}

.nav-pills > li > a {
  margin-top: 2px;
  margin-bottom: 2px;
  padding: 15px 35px;
  border: 1px solid #000;
  border-radius: 5px;
  background-color: rgba(84, 84, 82, 0.8);
  .box-shadow(~"inset 0 1px 2px rgba(255, 255, 255, .3), inset 0 -1px 2px rgba(0, 0, 0, .5), 0 1px 1px rgba(255, 255, 255, .15)");
  color: #C0C0C0;
  text-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
  font-size: 18px;
  &:hover {
    margin-top: 2px;
    margin-bottom: 2px;
    padding: 15px 35px;
    border: 1px solid #454646;
    border-bottom: 1px solid rgba(255, 255, 255, 0.25);
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.2);
    color: #FFF;
    text-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
    .box-shadow(~"inset 0 3px 5px rgba(0, 0, 0, .7)");
    font-size: 18px;
  }
}

.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus {
  border: 1px solid #454646;
  border-bottom: 1px solid rgba(255, 255, 255, 0.25);
  background-color: rgba(0, 0, 0, 0.2);
  .box-shadow(~"inset 0 3px 5px rgba(0, 0, 0, .7)");
  color: #FFF;
  text-shadow: 0 2px 2px rgba(0, 0, 0, 0.7);
}

.nav-stacked > li > a {
  display: inline-block;
}