//
// Nav
// --------------------------------------------------
.nav-tabs-bottom {
  border-top: 1px solid #ddd;
  border-bottom: none;

  > li {
    margin-top: -1px;
    > a {
      margin-right: 2px;
      line-height: @line-height-base;
      border: 1px solid transparent;
      border-radius: 0 0 @border-radius-base @border-radius-base;
      &:hover {
        border-color: @gray-lighter @gray-lighter #ddd;
      }
    }

    &.active > a,
    &.active > a:hover,
    &.active > a:focus {
      color: @nav-text-color;
      background-color: @body-bg;
      border: 1px solid #ddd;
      border-top-color: transparent;
      cursor: default;
    }
  }
}