//
// Pager pagination
// --------------------------------------------------

.pager {
  li {
    > a,
    > span {
      display: inline-block;
      border-radius: 15px;
      color: #BCBCBC;
      font-weight: bold;
      padding: 10px 15px;
      background-color: #42464B;
      border: 0;
      border-radius: 3px;
      .box-shadow(~"inset 0 1px 1px rgba(255, 255, 255, .15), 0 4px 6px rgba(0, 0, 0, .71)");
    }

    > a:hover,
    > a:focus {
      text-decoration: none;
      background-color: #42464B;
    }

    &:not(.disabled) > a:active {
      text-decoration: none;
      background-color: #212121;
      .box-shadow(~"inset 0 3px 3px rgba(0, 0, 0, .7), 0 1px 1px rgba(255, 255, 255, .2)");
      color: #82E6FF;
      text-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
      text-decoration: none;
    }
  }

  .next {
    > a,
    > span {
      float: right;
    }
  }

  .previous {
    > a,
    > span {
      float: left;
    }
  }

  .disabled {
    > a,
    > a:hover,
    > a:focus,
    > span {
      color: #646972;
      background-color: #42464B;
      cursor: not-allowed;
    }
  }

}
