//
// Pagination
// --------------------------------------------------
@pagination-active-color: #82E6FF;
@pagination-arrow-bg: #242424;
@pagination-arrow-color: #42464b;
@pagination-arrow-active-bg: #28C2F3;
@pagination-arrow-active-color: #2a2d30;

.pagination {
  padding: 8px 5px 5px 12px;
  background-color: rgba(0, 0, 0, 0.2);
  .box-shadow(~"inset 0 1px 2px rgba(0, 0, 0, .5)");

  > li {
    display: inline-block;
    margin-left: -4px;
    padding: 0 4px 0 1px;
    text-align: center;

    &:first-child, &:last-child {
      & > a {
        width: auto;
        height: auto;
        border: 1px solid rgba(255, 255, 255, 0.1);
        border-top: 1px solid rgba(255, 255, 255, 0.15);
        border-bottom: none;
        border-radius: 4px;
        background: #42464B;
        .box-shadow(~"inset 0 0 2px rgba(255, 255, 255, .1), 0 5px 5px rgba(0, 0, 0, .4)");
        & > .glyphicon {
          position: relative;
          display: block;
          padding: 1px 0 0 0;
          width: 22px;
          height: 22px;
          border: none;
          border-radius: 50px;
          background-color: @pagination-arrow-bg;
          color: @pagination-arrow-color;
          line-height: 1.2;
          .box-shadow(~"inset 0 1px 1px rgba(0, 0, 0, 1), 0 1px 1px rgba(255, 255, 255, 0.4)");
        }
        &:hover, &:focus {
          background: #42464B;
          border-color: rgba(255, 255, 255, 0.1);
          & > .glyphicon {
            border: none;
            background-color: @pagination-arrow-active-bg;
            .gradient-vertical-without-color(#28c2f3, #0096db);
            box-shadow: none;
            color: @pagination-arrow-active-color;
          }
        }
      }
    }

    & > a {
      display: block;
      padding: 10px;
      border: 1px solid rgba(255, 255, 255, 0.05);
      border-top: 1px solid rgba(255, 255, 255, 0.2);
      border-bottom: 0;
      border-radius: 4px;
      background: #42464B;
      color: #FFF;
      vertical-align: middle;
      line-height: 22px;
      .box-shadow(~"inset 0 0 2px rgba(255, 255, 255, .1), 0 5px 5px rgba(0, 0, 0, .4)");
      &:hover, &:focus {
        background: #42464B;
        color: @pagination-active-color;
      }
    }

    &:not(.disabled) {
      &.active > a,
      & > a.active,
      & > a:active,
      &:first-child > a:active,
      &:last-child > a:active {
        border-top: none;
        border-bottom: 1px solid rgba(255, 255, 255, 0.15);
        border-color: transparent;
        background-color: #282B2E;
        color: @pagination-active-color;
        text-decoration: none;
        font-weight: bold;
        line-height: 22px;
        .box-shadow(~"inset 0 2px 3px rgba(0, 0, 0, .5), 0 0 1px rgba(255, 255, 255, .15)");
      }
    }
  }
}

.pagination-large {
  &.pagination-circle {
    > li > a,
    > li > span {
      padding: 14px 5px;
    }
  }

  & > li {
    &:first-child, &:last-child {
      & > a {
        padding: 8px;
        & > .glyphicon {
          line-height: 32px;
          width: 30px;
          height: 30px;
        }
      }
    }

    & > a {
      padding: 12px;
    }
  }
}

.pagination-small {
  &.pagination-circle {
    > li > a,
    > li > span {
      padding: 9/1.3px 5px;
    }
  }

  & > li {
    & > a {
      padding: 5px;
    }
  }
}

&.pagination-circle {
  border: none;
  background: transparent;
  .box-shadow(none);
  > li > a,
  > li > span {
    padding-right: 5px;
    padding-left: 5px;
  }

  & > li {
    & > a {
      border: none;
      background: transparent;
      color: #161616;
      .box-shadow(none);
      &:hover, &:focus {
        background: transparent;
      }
    }

    &:not(:first-child):not(:last-child) {
      &.active > a,
      & > a:hover,
      & > a:focus,
      & > a:active {
        position: relative;
        display: block;
        .box-shadow(none);
        border: none;
        background: transparent;
        &:after {
          position: absolute;
          top: 50%;
          left: 50%;
          margin: -7.5px 0 0 -7px;
          width: 15px;
          height: 15px;
          border-radius: 15px;
          background-color: #2094B1;
          content: "";
          .gradient-vertical-without-color(rgba(255, 255, 255, 0.5), rgba(0, 0, 0, 0.1));
          .box-shadow(~"inset 0 0 2px rgba(255, 255, 255, .2), 0 3px 5px rgba(0, 0, 0, .3)");
        }
      }
    }
  }
}