//
// Pagination
// --------------------------------------------------
.pagination {
  &.pagination-circle {
    > li > a,
    > li > span {
      padding: 9/1.5px 14/1.37px;
    }
  }
}

.pagination-large {
  &.pagination-circle {
    > li > a,
    > li > span {
      padding: @padding-large-vertical @padding-large-horizontal/1.18;
    }
  }
}

.pagination-small {
  &.pagination-circle {
    > li > a,
    > li > span {
      padding: 9/1.3px 14/1.6px;
    }
  }
}