//
// Thumbnails
// --------------------------------------------------

// Base classes
// For thumbnail block-level composite components and simple image styles

// The actual thumbnailed element
// Can be `a`, `div`, or `img`
.thumbnail,
.img-thumbnail {
  position: relative;
  margin-bottom: 15px;
  padding: 9px 10px;
  border: none;
  background-image: url(images/bg-dot.png);
  background-size: 4px;
  .box-shadow(~"0 0 8px rgba(0, 0, 0, 0.7)");

  &:hover {
    &:after {
      position: absolute;
      top: -2px;
      left: -3px;
      z-index: -1;
      display: block;
      width: 100%;
      height: 100%;
      border: 3px solid #EA002C;
      border-radius: 8px;
      content: "";
    }
  }

  &.gray {
    color: #FFF;
    background-image: url(images/bg-dot.png);
    .caption, .title {
      color: #FFF;
    }
  }
}