//
// Thumbnails
// --------------------------------------------------

// Base classes
// For thumbnail block-level composite components and simple image styles

// The actual thumbnailed element
// Can be `a`, `div`, or `img`
.thumbnail,
.img-thumbnail {
  position: relative;
  margin-bottom: 15px;
  padding: 9px 10px;
  border: 3px solid rgba(0,0,0,0);
  background-image: url(images/bg-dot.png);
  background-size: 4px;
  .box-shadow(~"0 0 8px rgba(0, 0, 0, 0.7)");

  a&:hover, &:hover  {
    border: 3px solid #EA002C;
  }

  &.gray {
    color: #FFF;
    background-image: url(images/bg-dot-black.png);
    .caption, .title {
      color: #FFF;
    }
  }
}