//
// Cornerstone Variables
// --------------------------------------------------
@theme: wireframe;
@brand-primary: #2d95bb;
@brand-primary-darken5: darken(@brand-primary, 5%);
@text-color: #000;
@text-color-inverse: #FFF;
@font-size-base: 16px;
@state-warning-bg: #d1ad40;
@state-success-bg: #77bf5b;
@state-danger-bg: #d16354;

// Typography
// -------------------------
@font-family-sans-serif: "NanumGothic", "Helvetica Neue", Helvetica, Arial, sans-serif;
@font-family-serif: Georgia, "Times New Roman", Times, serif;
@font-family-monospace: Monaco, Menlo, Consolas, "Courier New", monospace;
@font-family-base: @font-family-sans-serif;

// Nav
// -------------------------
@nav-text-color: #c0c0c0;


// Plugin
// -------------------------
// Modal
@modal-color: "";
@modal-border: "";
@modal-border-radius: "";
@modal-background-image: "";

// Dropdown: BTS3.0 상속
// Scrollspy: Component 스타일 상속
// Tab: Component 스타일 상속
// Tooltip: Component 스타일 상속
// Popover
@popover-color: "";

// Alert: Component 스타일 상속
// Button: Component 스타일 상속
// Collapse: BTS3.0 상속
// Carousel
@carousel-control-margin-top: "";
@carousel-control-margin-left: "";
@carousel-control-width: "";
@carousel-control-height: "";
@carousel-control-font-size: "";

@carousel-indicators-margin: "";
@carousel-indicators-width: "";
@carousel-indicators-height: "";
@carousel-indicators-border: "";
@carousel-indicators-border-radius: "";
@carousel-indicators-bg: "";
@carousel-indicators-box-shadow: "";
@carousel-indicators-active-bg: "";

// RangeInput
@slider-margin: 0px 0 20px 0;
@slider-padding: 6px 0 4px 0;
@slider-border-radius: 15px;
@slider-background-image: ~"linear-gradient(top, @{gray-lighter} 0%, @{gray-lighter} 100%)";

@slider-after-margin: 2px 6px 0 6px;
@slider-after-width: auto;
@slider-after-height: 7px;
@slider-after-border-radius: 20px;
@slider-after-bg: @gray-lighter;
@slider-after-box-shadow: "";

@slider-bar-height: 7px;
@slider-bar-margin: 0 6px;
@slider-bar-border-radius: 20px;
@slider-bar-bg: @brand-primary;
@slider-bar-box-shadow: "";
@slider-bar-background-image: "";

@slide-handle-top: -8px;
@slide-handle-padding: 0;
@slide-handle-margin-right: 15px;
@slide-handle-width: 31px;
@slide-handle-height: 31px;
@slide-handle-border: none;
@slide-handle-border-radius: 27px;
@slide-handle-background-color: @gray-lighter;
@slide-handle-background-image: "";
@slide-handle-box-shadow: ~"inset 0 -1px 2px rgba(0, 0, 0, .4), inset 0 1px 2px rgba(255, 255, 255, 1), 0 1px 3px rgba(0, 0, 0, .27)";

@slide-handle-after-top: 7px;
@slide-handle-after-left: 7px;
@slide-handle-after-width: 17px;
@slide-handle-after-height: 17px;
@slide-handle-after-background-color: @brand-primary;
@slide-handle-after-background-image: "";
@slide-handle-after-box-shadow: ~"inset 0 0 3px rgba(0, 0, 0, .8)";

// Date Picker
@datetimepicker-margin: 1px 0 0;
@datetimepicker-padding: 5px 4px 5px 4px;
@datetimepicker-background-color: #FFF;

@datetimepicker-li-a-line-height: 20px;
@datetimepicker-li-a-border-radius: "";
@datetimepicker-li-a-background-image: "";

@datetimepicker-td-background: @gray-lighter;
@datetimepicker-td-span-width: 72px;
@datetimepicker-td-span-hover-background: @gray-lighter;

@datetimepicker-thead-th-hover-background: @gray-lighter;

// Typeahead
@typeahead-minwidth: 250px;
@typeahead-bg: #FFF;
@typeahead-focus-border: 2px solid #0097cf;
@typeahead-dropdown-bg: #FFF;