//
// Cornerstone Variables
// --------------------------------------------------
// Color Set
// --------------------------------------------------
@white: #FFF;
@orange: #f89406;


// Range Input
// --------------------------------------------------
@slider-outer-bg: @gray-lighter;
@slider-outer-radius: 15px;
@slider-inner-bg: @gray-lighter;
@slider-inner-radius: 20px;

@slider-handle-outer-bg: @gray-lighter;
@slider-handle-inner-bg: @brand-primary;
@slider-handle-radius: 50px;

@slider-progress-bg: @brand-primary;


