<div class="modal-header">
	<button type="button" class="close" data-dismiss="modal">&times;</button>
	<h3>사용자 상세정보</h3>
</div>

<div class="modal-body">
	<table class="table table-striped">
		<tbody>
			<tr>
				<th>이름</th>
				<td>{{user.name}}</td>
			</tr>
			<tr>
				<th>이메일</th>
				<td>{{user.email}}</td>
			</tr>
			<tr>
				<th>비밀번호</th>
				<td>{{user.password}}</td>
			</tr>
		</tbody>
	</table>
</div>

<div class="modal-footer">
	<button id="delete-button" class="btn btn-danger">삭제</button>
	<a href="#list" class="btn">확인</a>
</div>
