#voc .sidebar-nav {
	position: relative;
	height: 350px;	/* 사이드 메뉴리스트의 높이 */
}

#voc .sidebar-nav .scrollview {
	top: 0;
	left :0;
	bottom: 0;
}

.voc-area div.hero-unit {
	min-height:140px;
	padding:30px;
}

.voc-area div.hero-unit ul {
	padding:0;
	margin:0;
}
.voc-area div.hero-unit ul li {
	font-size:20px;
	line-height: 180%;
	border-bottom:1px solid #ddd;
	list-style:none;
	padding:5px 0;
}

.voc-con div.hero-unit h3 {
	font-size:22px;
	line-height:100%;
	padding:0 0 10px 0;
	border-bottom:1px solid #cdcdcd;
	margin-top:40px;
}

.voc-con div.hero-unit h3:first-child {
	margin-top:0;
}
