
.hr {
    margin: 0.3em 0 0 0;
    height: 1px;
    border: 0;
    background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.55), rgba(0,0,0,0)); 
    background-image:    -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.55), rgba(0,0,0,0)); 
    background-image:     -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.55), rgba(0,0,0,0)); 
    background-image:      -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.55), rgba(0,0,0,0)); 
}

.hr-pressed {
    border: 0;
    height: 0;
    margin: 0.3em;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 2px solid rgba(255, 255, 255, 0.5);
}

.well-shadow {
	position: relative;
}

.well-shadow:before, .well-shadow:after 
{
	z-index: -1; 
	position: absolute; 
	content: "";
	bottom: 15px;
	left: 10px;
	width: 50%; 
	top: 80%;
	max-width:300px;
	background: rgba(0, 0, 0, 0.7); 
	-webkit-box-shadow: 0 15px 10px rgba(0,0,0, 0.8);   
	-moz-box-shadow: 0 15px 10px rgba(0, 0, 0, 0.8);
	box-shadow: 0 15px 10px rgba(0, 0, 0, 0.8);
	-webkit-transform: rotate(-3deg);    
	-moz-transform: rotate(-3deg);   
	-o-transform: rotate(-3deg);
	-ms-transform: rotate(-3deg);
	transform: rotate(-3deg);
}

.well-shadow:after 
{
	-webkit-transform: rotate(3deg);
	-moz-transform: rotate(3deg);
	-o-transform: rotate(3deg);
	-ms-transform: rotate(3deg);
	transform: rotate(3deg);
	right: 10px;
	left: auto;
}

.well-creampaper {
	background: url('image/creampaper.png')
}

.well-carbondot {
	background: url('image/bg_top.png');
	background-size: 4px;
}

.well-billie {
	background: url('image/billie_holiday.png');
}

.well-grid {
	background: url('image/noisy_grid.png');
}

.well-project {
	background: url('image/project_papper.png');
}

.typo-pressed {
	color: dimgray;
	text-shadow: 0px 3px 1px white;
	font-weight: bold;
}

/**
*  코너스톤 재정의
**/
.lists .lists-con,
.lists .lists-con:hover {
	border-radius: 6px;
}

.nav-list > .nav-header {
	background-color: rgba(0, 0, 0, 0.55);
}

.nav.nav-list {
	padding: 5px 20px;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 0 5px#888;
	-moz-box-shadow: inset 0 0 5px #888;
	box-shadow: inner 0 0 5px #888;
}
.breadcrumb .active {
	padding: 0;
}

body.android {
	/*background: #4a4d51;*/
	width: 100%;
	overflow-x: hidden;
	position: absolute;
	top: 0;
	left: 0;
}
body.android > .container {
	margin: 0;
}
