.marketing h1 {
	background-image: url('/img/line_grey.png');
	background-repeat: no-repeat;
	background-position: 50% 110%;
}


.why .why-list i {
	background-color: #e9002b;
}


.features .features-list > li {
	list-style-image: url('/img/circle_red.png');
}