.why .why-list {
    background-image: url('/img/marketing-why-number.png');
    background-repeat: no-repeat;
}

.why .why-list > li {
    padding-left: 10em;
}

.why .why-list > li:after {
    display: none;
}

.why .why-list > li:before {
    display: none;
}

.features .features-list .ie8:before {
	display: none;
}