/* Typography
-------------------------------------------------- */

body,
input,
button,
select,
textarea,
table {
    font-family: 'Apple SD 산돌고딕 Neo', 'Apple SD Gothic Neo', '맑은 고딕', 'Malgun Gothic', '돋움', Dotum, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

/* Body and structure
-------------------------------------------------- */

body {
    position: relative;
    padding-top: 40px;
}

a {
	color: black;
	-webkit-transition: all .2s linear;
    -moz-transition: all .2s linear;
    transition: all .2s linear;
}

a:hover {
	text-decoration: none;
	color:blue;
	text-shadow: 0 1px 0 rgba(135,206,235,.1), 0 0 30px rgba(135,206,235,.4);
}

/* For IE
-------------------------------------------------- */

.chromeframe {
	font-size: 1em;
	line-height: 1em;
	margin-top: 1em 0;
	background-image: url('/img/background_masthead.jpg');
}

.chromeframe a {
	color: #e9002b;
}

/* Navation
-------------------------------------------------- */

.cs-nav .navbar-inner {
    color: white;
    background-image: url('/img/debut_dark.png');
    background-repeat: repeat;
}

.cs-nav .logo {
    float: left;
    height: 40px;
}

.cs-nav .nav > li > a:focus,
.cs-nav .nav > li > a:hover {
    text-shadow: 0 1px 1px rgba(0,0,0,.82);
    color: #a2ecff;
}

.cs-nav .nav .active > a,
.cs-nav .nav .active > a:hover,
.cs-nav .nav .active > a:focus {
    border: 1px solid #424242;
    border-radius: 4px;
    text-shadow: 0 1px 1px rgba(0,0,0,.82);
    color: #a2ecff;
    background-color: #212121;
    box-shadow: inset 0 0 7px rgba(0,0,0,.7) ,0 1px 1px rgba(255,255,255,.08);
}

/* Masthead
-------------------------------------------------- */

.github {
	position: absolute; 
	top: 0; 
	right: 0; 
	border: 0;
}

.download-links {
  margin: 0;
  list-style: none;
}

.btn-download {
  height: 40px;
  width: 100px;
}

.btn-download:first-child {
  line-height: 40px;
}

.download-links > li {
  display: inline;
  padding: 0 10px;
  color: rgba(255,255,255,.25);
}

.masthead {
    position: relative;
    padding-top: 40px;
    text-align: center;
    text-shadow: 0 1px 3px rgba(0,0,0,.4) ,0 0 30px rgba(0,0,0,.075);
    color: white;
    background-image: url('/img/background_masthead.jpg');
    box-shadow: inset 0 3px 7px rgba(0,0,0,.2), inset 0 -3px 7px rgba(0,0,0,.2);
}

.masthead h1 {
    text-align: left;
    text-shadow: 3px 4px 6px rgba(0,0,0,.68);
    font: 1em;
    color: #fffefe;
}

.masthead h1:first-child {
    text-align: left;
    text-shadow: 2px 3px 2px rgba(0,0,0,.57);
    font-size: 0.6em;
    color: #fffefe;
}

.masthead .bar {
    margin: 0;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.6);
}

.masthead .description {
    margin-top: 0.5em;
    margin-bottom: 3em;
    text-align: left;
    font-size: 2em;
    color: #a2a1a9;
}

.masthead .bar {
    width: 100%;
    height: 20px;
    background-image: url('/img/background_masthead_bar.jpg');
    background-repeat: repeat;
}

.masthead .carousel-control {
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.masthead .carousel img {
	margin-left: auto;
	margin-right: auto;
	display: block;
}

/* Marketing
-------------------------------------------------- */
.marketing h1 {
	text-align: center;
	font-size: 1.8em;
	position: relative;
	margin: 2em 0;
	font-weight: normal;
}

.marketing h1:after {
	display: block;
	height: 2px;
	background-color: lightgray;
	content: '';
	margin-left: auto;
	margin-right: auto;
}

.wf-active .marketing h1 {
	font-family: 'SeoulHangangM';
}

.marketing h2 {
	font-weight: normal;
}

/* Why Cornerstone
------------------------- */
.why.marketing h1:after {
	width: 6.5em;
}

.why .why-list {
	counter-reset: li;
	list-style: none;
	padding: 0;
	margin-bottom: 4em;
}

.why .why-list > li {
	position: relative;
	text-decoration: none;
	padding-left: 5em;
	margin: 3em 0;
}

.why .why-list > li:after {
	content: counter(li);
	counter-increment: li;
	font-size: 6em;
	position: absolute;
	color: white;
	bottom: 60px;
	left: -5px;
	z-index: -1;
	top: 35px;
}

.why .why-list > li:before {
	content: "";
	z-index: -1;
	position: absolute;
	left: -45px;
	border-radius: 50%;
	background-color: #8B8B8B;
	width: 100px;
	height: 100px;
}

.why .why-list h2 {
	font-family: ‘Lucida Sans Unicode’, ‘Lucida Grande’, sans-serif;
	font-size: 1.5em;
	color: #e9002c;
}

.why .why-list p {
	font-size: 1.3em;
	line-height: 1.5em
}

.wf-active .why .why-list p {
	font-family: 'SeoulNamsanM';
}

.why .why-list p:last-child {
	text-align: right;
	font-size: 1.2em;
	margin-top: 1em;
}

.why .why-list a {
	font-size: 1.1em;
}

.why .why-list i {
	position: relative;
	margin: 0 1em;
}

.why .why-list i:before {
	content: "";
	z-index: -1;
	position: absolute;
	border-radius: 50%;
	background-color: #e9002b;
	width: 21px;
	height: 21px;
	left: -3px;
	top: -3px;
}

.why .why-list {
	counter-reset: li;
	list-style: none;
	padding: 0;
	margin-bottom: 4em;
}

/* Ready for developers
------------------------- */

.ready.marketing h1:after {
	width: 12em;
}

.wf-active .ready h2 {
	font-family: 'SeoulNamsanM';
}

.ready h2 {
	font-size: 1.5em;
	line-height: 1.3em;
	text-align: center;
	margin-bottom: 2em;
	border-bottom: 3px solid #e9002c;
	padding-bottom: 1.5em;
}

.ready strong {
	color: #e9002c;
}

.marketing.ready h2 > span {
	white-space: nowrap;
}

.ready p {
	font-size: 1.1em;
	line-height: 2em;
	margin-bottom: 3em;
}

.ready img {
	margin-left: auto;
	margin-right: auto;
	display: block;
	margin-bottom: 3em;
	margin-top: 6em;
}

/* Features
------------------------- */

.features.marketing h1:after {
	width: 4.5em;
}

.features .features-list {
	list-style: none;
	padding: 0;
	margin-bottom: 4em;
}

.features .features-list > li {
	position: relative;
	text-decoration: none;
	padding-left: 3em;
	margin: 3em 0;
}

.features .features-list > li:before {
	content: '';
	z-index: -1;
	position: absolute;
	width: 7px;
	height: 125%;
	background: #e7e7e7;
	left: -1px;
	top: 20px;
}

.features .features-list > li:after {
	content: '';
	position: absolute;
	width: 13px;
	height: 13px;
	border-radius: 50%;
	border: 6px double white;
	background: #e9002b;
	left: -10px;
	top: 7px;
}

.features .features-list > li:last-child:before {
	display:none;
}

.wf-active .features .features-list h2 {
	font-family: 'SeoulNamsanM';
}

.features .features-list h2 {
	font-size: 1.6em;
}

.features .features-list p {
	font-size: 1.1em;
	line-height: 2em;
}

/* Footer
-------------------------------------------------- */

.footer {
    background-image: url('/img/background_footer.jpg');
    background-repeat: repeat;
}

.footer img {
	margin: 3em 0;
	margin-left: auto;
	margin-right: auto;
	display: block;
	width: 93px;
	height: 39px;
}

.footer p {
	text-align : center;
	margin-bottom: 3em;
	font-size: 0.9em;
	color: dimgray;
}


/* Responsive
-------------------------------------------------- */

/* Desktop large
------------------------- */
/*
@media( min-width: 1200px ) {
}
*/
    
/* Desktop
------------------------- */

@media (max-width: 980px) {
	
	body {
		padding-top: 0px;
	}
}
    
/* Tablet to desktop
------------------------- */

@media (min-width: 768px) and (max-width: 979px) {

	body {
		padding-top: 0px;
	}
    
    .masthead {
        margin-top: -20px;
    }

    .chromeframe {
    	display: none;
    }
}

/* Tablet
------------------------- */

@media (max-width: 767px) {

    body {
        padding-top: 0;
    }

    .chromeframe {
    	display: none;
    }
    
    .masthead {
        margin-top: -20px;
        margin-right: -20px;
        margin-left: -20px;
    }
    
    .masthead .bar {
        height: 50px;
    }

	.marketing h1 > span ,
	.marketing.ready h2 > span,
	.footer p > span {
		white-space: nowrap;
	}

    .footer {
        margin-right: -20px;
        margin-left: -20px;
    }

}

/* Landscape phones
------------------------- */

@media (max-width: 480px) {
    body {
        padding-top: 0;
    }

    .github,
    .download {
    	display: none;
    }

	.why .why-list > li {
		padding-left: 2.5em;
	}

	.why .why-list > li:after {
		font-size: 4em;
		bottom: 60px;
		left: -20px;
		top: 33px;
	}

	.why .why-list > li:before {
		left: -40px;
		top: 8px;
		width: 60px;
		height: 60px;
	}

	.ready.marketing h1:after {
		width: 8em;
	}

}