/**** Isotope Filtering ****/

.isotope-item {
  z-index: 2;
}

.isotope-hidden.isotope-item {
  pointer-events: none;
  z-index: 1;
}

/**** Isotope CSS3 transitions ****/

.isotope,
.isotope .isotope-item {
  -webkit-transition-duration: 0.8s;
     -moz-transition-duration: 0.8s;
      -ms-transition-duration: 0.8s;
       -o-transition-duration: 0.8s;
          transition-duration: 0.8s;
}

.isotope {
  -webkit-transition-property: height, width;
     -moz-transition-property: height, width;
      -ms-transition-property: height, width;
       -o-transition-property: height, width;
          transition-property: height, width;
}

.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
     -moz-transition-property:    -moz-transform, opacity;
      -ms-transition-property:     -ms-transform, opacity;
       -o-transition-property:         top, left, opacity;
          transition-property:         transform, opacity;
}

/**** disabling Isotope CSS3 transitions ****/

.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
  -webkit-transition-duration: 0s;
     -moz-transition-duration: 0s;
      -ms-transition-duration: 0s;
       -o-transition-duration: 0s;
          transition-duration: 0s;
}

#dashboard_container {
	padding:5px;
	text-align:center;
}

#dashboard_container > .dashboardItem {
	border: 0;
	margin: 5px;
	width: 279px;
	height: 290px;
	background: #FFFFFF;
	border-radius: 5px;
	background: url('../image/bg_top.png');
	background-size: 4px;
}

@media all and (max-width: 626px) {
	#dashboard_container {
		padding:5px -5px;
		text-align:center;
	}

	#dashboard_container > .dashboardItem {
		border: 0;
		margin: 5px -5px;
		width: 100%;
		height: 290px;
		background: #FFFFFF;
		background: url('../image/bg_top.png');
		background-size: 4px;
		border-radius: 5px;
	}
}

#dashboard_container > .dashboardItem.height2x {
	height: 520px;
}

#dashboard_container > .draggin {
	display: none;	
}

/* Dashboard barchart style */
#reportChart {
	height: 200px;
	min-height: 200px;
}

div[data-featured="scrollView"] {
	height: 220px;
}

/**
 * 	장과장님이 잡아주신 것들
 */
#dashboard_container .typo-pressed-title {
	margin: 0;
	padding: 20px 0 0 0;
	font-size: 1.6em;
	line-height: 100%;
}

#dashboard_container .widget {
	padding: 10px 5px 5px 5px;
}
#dashboard_container .widget .lists li {
	font-size: 14px;
	text-align: left;
}
#dashboard_container .widget2 {
	padding: 0;
}
#dashboard_container .lists li .name {
	width: 60px;
	display: inline-block;
}
#dashboard_container .lists li .txt-con {
	width: 150px;
	display: inline-block;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
#dashboard_container .lists li .txt-con2 {
	width: 220px;
	display: block;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

#dashboard_container .scrollview {
	position: relative;
	top: 0;
}

#dashboard_container .hero-unit {
	min-height: 326px;
}

#dashboard_container li {
	line-height: 18px;
}
