.control-group {
  &.disabled {
    input {
      background-image: url("images/bg-input-disabled.png");
      background-size: 5% 100%;
      background-repeat: repeat;
    }
  }
}

input {
  &.focused {
    border-color: rgba(82, 168, 236, .8);
    outline: 0;
    outline: thin dotted 9;
    .box-shadow(0 0 8px rgba(82, 168, 236, .6));
  }
}

.form-search {
  input {
    display: inline-block;
    border-radius: 25px;
    padding: 9px;
  }
}

.help-inline {
  padding: 9px 10px 8px 10px;
  text-align: left;
  font-weight: bold;
  display: inline-block;
  background-color: @btn-default-bg;
  border: 1px solid @btn-default-bg;
  color: @btn-default-color;
  position: relative;

  & > span {
    white-space: pre-line;
    word-break: break-word;
  }
  .arrow {
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 11px;
  }

  &.top {
    margin: 0 0 15px 0;
    .arrow {
      left: 50%;
      margin-left: -11px;
      border-bottom-width: 0;
      border-top-color: @btn-default-bg;
      bottom: -11px;
    }
  }

  &.right {
    margin: 0 0 0 -15px;
    .arrow {
      top: 9px;;
      left: -11px;
      border-left-width: 0;
      border-right-color: @btn-default-bg;
    }
  }

  &.bottom {
    margin: 15px 0 0 0;
    .arrow {
      left: 50%;
      margin-left: -11px;
      border-top-width: 0;
      border-bottom-color: @btn-default-bg;
      top: -11px;
    }
  }

  &.left {
    margin: 0 -15px 0 0;
    float: right;
    .arrow {
      top: 9px;;
      right: -11px;
      border-right-width: 0;
      border-left-color: @btn-default-bg;
    }
  }
}

.has-error {
  .help-inline {
    background-color: @btn-danger-bg;
    border: 1px solid @btn-danger-bg;
    color: @btn-danger-color;
    &.top {
      .arrow {
        border-top-color: @btn-danger-bg;
      }
    }

    &.right {
      .arrow {
        border-right-color: @btn-danger-bg;
      }
    }

    &.bottom {
      .arrow {
        border-bottom-color: @btn-danger-bg;
      }
    }

    &.left {
      .arrow {
        border-left-color: @btn-danger-bg;
      }
    }
  }
}

.has-success {
  .help-inline {
    background-color: @btn-success-bg;
    border: 1px solid @btn-success-bg;
    color: @btn-success-color;
    &.top {
      .arrow {
        border-top-color: @btn-success-bg;
      }
    }

    &.right {
      .arrow {
        border-right-color: @btn-success-bg;
      }
    }

    &.bottom {
      .arrow {
        border-bottom-color: @btn-success-bg;
      }
    }

    &.left {
      .arrow {
        border-left-color: @btn-success-bg;
      }
    }
  }
}

.has-warning {
  .help-inline {
    background-color: @btn-warning-bg;
    border: 1px solid @btn-warning-bg;
    color: @btn-warning-color;
    &.top {
      .arrow {
        border-top-color: @btn-warning-bg;
      }
    }

    &.right {
      .arrow {
        border-right-color: @btn-warning-bg;
      }
    }

    &.bottom {
      .arrow {
        border-bottom-color: @btn-warning-bg;
      }
    }

    &.left {
      .arrow {
        border-left-color: @btn-warning-bg;
      }
    }
  }
}