<div class="jumbotron">
    <div class="container">
        <h1>Cornerstone Framework UI</h1>
        <h2>테스트 페이지</h2>
        <p>
            UI 테스트 페이지에서는 각 위젯의 개별 페이지를 볼 수 있으며,
            상단 메뉴를 통해 원하는 위젯으로 이동이 가능하다.
            또한 스타일 변경을 통해 테마 3종과 스킨 3종을 쉽게 변경 할 수 있다.
        </p>
        <p>
            <a class="btn btn-primary btn-lg" href="#css-grid">시작하기 »</a>
        </p>
    </div>
</div>