<h1 class="page-header">Cornerstone UI/Form</h1>
<div class="row">
    <div class="col col-lg-4">
        <div class="thumbnail gray">
            <div class="mask">
                <img src="images/ui-white.png" alt=""/>
            </div>
            <div class="caption">
                <h3 class="title">화이트 UI</h3>
                <p></p>
                <p>
                    <a class="btn btn-primary" href="#/plugin-button">이동</a>
                    <a target="_blank" class="btn btn-primary" href="ui-white.html">전체 UI 보기</a>
                </p>
            </div>
        </div>
    </div>
    <div class="col col-lg-4">
        <div class="thumbnail gray">
            <div class="mask">
                <img src="images/ui-dark.png" alt=""/>
            </div>
            <div class="caption">
                <h3 class="title">다크 UI</h3>
                <p></p>
                <p>
                    <a class="btn btn-primary" href="dark.html#/plugin-button">이동</a>
                    <a target="_blank" class="btn btn-primary" href="ui-dark.html">전체 UI 보기</a>
                </p>
            </div>
        </div>
    </div>
    <div class="col col-lg-4">
        <div class="thumbnail gray">
            <div class="mask">
                <img src="images/ui-wireframe.png" alt=""/>
            </div>
            <div class="caption">
                <h3 class="title">와이어프레임 UI</h3>
                <p></p>
                <p>
                    <a class="btn btn-primary" href="wireframe.html#/plugin-button">이동</a>
                    <a target="_blank" class="btn btn-primary" href="ui-wireframe.html">전체 UI 보기</a>
                </p>
            </div>
        </div>
    </div>
</div>
<hr>
<div class="row">
    <div class="col col-lg-4">
        <div class="thumbnail gray">
            <div class="mask">
                <img src="images/form-white.png" alt=""/>
            </div>
            <div class="caption">
                <h3 class="title">화이트 Form</h3>
                <p></p>
                <p>
                    <a target="_blank" class="btn btn-primary" href="form-white.html">이동</a>
                </p>
            </div>
        </div>
    </div>
    <div class="col col-lg-4">
        <div class="thumbnail gray">
            <div class="mask">
                <img src="images/form-dark.png" alt=""/>
            </div>
            <div class="caption">
                <h3 class="title">다크 Form</h3>
                <p></p>
                <p>
                    <a target="_blank" class="btn btn-primary" href="form-dark.html">이동</a>
                </p>
            </div>
        </div>
    </div>
    <div class="col col-lg-4">
        <div class="thumbnail gray">
            <div class="mask">
                <img src="images/form-wireframe.png" alt=""/>
            </div>
            <div class="caption">
                <h3 class="title">와이어프레임 Form</h3>
                <p></p>
                <p>
                    <a target="_blank" class="btn btn-primary" href="form-wireframe.html">이동</a>
                </p>
            </div>
        </div>
    </div>
</div>