extends layout

block content
	h1= title
	p SKT account
	form(method='post', action='/login')
		input(type='hidden', name='next', value='#{nextUrl}')
		input(type='text', placeholder='username', name='username')
		input(type='password', placeholder='password', name='password')
		input(type='submit', value='Login')