<div class="navbar navbar-fixed-bottom navbar-mobile">
    <a href="#" class="active">
        <span class="glyphicon glyphicon-home"></span>
    </a>
    <a href="#">
        <span class="glyphicon glyphicon-search"></span>
    </a>
    <a href="#">
        <span class="glyphicon glyphicon-plus"></span>
    </a>
    <a href="#">
        <span class="glyphicon glyphicon-comment"></span>
    </a>
    <a href="#">
        <span class="glyphicon glyphicon-user"></span>
    </a>
</div>