//
// Responsive: Tablet to desktop
// --------------------------------------------------


@media (min-width: 768px) and (max-width: 979px) {

  // Fixed grid
  #grid > .core(@gridColumnWidth768, @gridGutterWidth768);

  // Fluid grid
  #grid > .fluid(@fluidGridColumnWidth768, @fluidGridGutterWidth768);

  // Input grid
  #grid > .input(@gridColumnWidth768, @gridGutterWidth768);

  // No need to reset .thumbnails here since it's the same @gridGutterWidth

	.navbar-inner {
		min-height: @navbarHeight;
		padding: 0 10px;
	}	

	.navbar-fixed-top {
		margin: 0;
	}

	.navbar-fixed-top .navbar-inner {
		min-height: @navbarHeight;
		padding: 0;
	}

	.navbar-fixed-top .container {
		width: auto;
		padding: 0;
	}
	
	.navbar .nav-collapse {
		margin: 10px 0 0;
		height: 0;
	}

	.navbar ul.nav {
		width: 100%;
		padding: 7px 0;
	}

	.navbar .nav > li {
		float: none;
		clear:both;
		padding: 5px 0;
	}

	.navbar .nav > li:first-child {
		border-right: 0;
		box-shadow: none;
		margin-right: 0;	
		padding: 0;
	}

	// 2012-11-12
	.navbar .nav > li > a {
		text-align: left;
		display: block;
		padding: 7px 0 7px 10px;
	}
	.navbar .nav > li > a:hover {
		text-align: left;
		display: block;
		padding: 7px 0 7px 10px;
		color: @navbarLinkColor;
		text-decoration: none;
		text-shadow: 0 1px 0 @navbarBackgroundHighlight;
		background: transparent;
		.box-shadow (none);
		border: 1px solid transparent;
	}

	// Active nav items
	.navbar .nav > li > a:focus,
	.navbar .nav > .active > a,
	.navbar .nav > .active > a:hover,
	.navbar .nav > .active > a:focus {
		color: @navbarLinkHome;
		text-shadow: 0 1px 1px rgba(255,255,255,7);
		.border-radius(4px);
		box-shadow: none;
		border: 1px solid transparent;
		background-color: @navbarDropdownBg;
	}
	.navbar .nav > li > a  i {
		display: none;
	}	

	.nav-icon .nav > li a {
		font-size: @baseFontSize;
		line-height: @baseLineHeight;
	}

	.navbar .nav > li:first-child a,
	.navbar .nav > li:first-child > a:focus,
	.navbar .nav > li:first-child > a:hover,
	.navbar .nav > .active:first-child > a,
	.navbar .nav > .active:first-child > a:hover,
	.navbar .nav > .active:first-child > a:focus {
		font-size: @baseFontSize;
		color: @white;
		text-shadow: none;
		text-decoration: none;
		padding: 7px 0 7px 10px;
		.border-radius(4px);
		.box-shadow(~"inset 0 0 7px rgba(0,0,0,.3), 0 1px 1px rgba(255,255,255,.1)");
		border: 1px solid @navbarDropdownBorder;
		background-color: @navbarFirstBackground;
	}

	.navbar .nav > li > .dropdown-menu {
		padding-top: 5px;
		&:before {
			border: 0;
		}
		&:after {
			border: 0;
		}
	}

	.navbar .nav > li > .dropdown-menu > li {
		border: 0;
	}

	.navbar .nav > li > .dropdown-menu > li > a,
	.navbar .nav > li > .dropdown-menu > li > a:hover {
		color: @navbarLinkHome;
		text-shadow: 0 1px 1px rgba(255,255,255,7);
		border: 0;
		box-shadow: none;
		margin: 0;
		padding: 5px 15px;
		background: none;
	}

	.navbar .nav > li > .dropdown-menu > li > a:active {
		border: 0;
		box-shadow: none;
		margin: 0;
		.border-radius(5px);
		background: @navbarDropdownBg;
	}	

	.nav.pull-right {
		float: none;
		clear: both;
	}
	
	.ico-txt .nav.pull-right > li:first-child a,
	.nav-icon .nav.pull-right > li:last-child a {
		box-shadow: none;
		padding-left: 0;
		margin: 0;
		background: none;
		font-size: @baseFontSize;
		color: @white;
		text-shadow: none;
		text-decoration: none;
		padding: 7px 0 7px 10px;
		border: 0;
	}

	.navbar .nav > li.active a,
	.ico-txt .nav > li a,
	.ico-txt .nav > li a:hover,		
	.ico-txt .nav.pull-right > li:first-child a,
	.ico-txt .nav.pull-right > li:first-child a:hover,
	.ico-txt .nav.pull-right > li.active:first-child a,
	.nav-icon .nav > li a,
	.nav-icon .nav > li a:hover,
	.nav-icon .nav.pull-right > li:first-child a,
	.nav-icon .nav.pull-right > li:first-child a:hover,
	.nav-icon .nav.pull-right > li:last-child a,
	.nav-icon .nav.pull-right > li:last-child a:hover,
	.nav-icon .nav.pull-right > li.active:first-child a,
	.nav-icon .nav.pull-right > li.active:last-child a,{
		padding: 7px 0 7px 10px;
		line-height: @baseLineHeight;
		color: @navbarLinkHome;
		text-shadow: 0 1px 1px rgba(255,255,255,7);
	}

	.ico-txt .nav > li:first-child a:hover {
		padding: 7px 0 7px 10px;
		line-height: @baseLineHeight;
	}

	.ico-txt .nav.pull-right > li:first-child a:hover,
	.nav-icon .nav.pull-right > li:first-child a:hover {
		font-size: @baseFontSize;
		line-height: @baseLineHeight;
		color: @navbarLinkHome;
		padding: 7px 0 7px 10px;
		background-color: @navbarDropdownBg;
		box-shadow: none;
		border: 0;
	}

	.nav-icon .nav > li:first-child a,
	.nav-icon .nav > li:first-child a:hover, 
	.nav-icon .nav > li:first-child a:active, 
	.nav-icon .nav > li:first-child.active a {
		font-size: @baseFontSize;
		color: @white;
		line-height: @baseLineHeight;
		text-decoration: none;
		padding: 7px 0 7px 10px;
		background-color: #5f6267;
	}

	.nav-icon .nav.pull-right > li:first-child a {
		color: @navbarLinkHome;
		text-shadow: 0 1px 1px rgba(255,255,255,7);
		background: none;
		border: 0;
		box-shadow: none;
	}

	// 2012-11-12
	.nav.pull-right > li:first-child > a:hover,
	.nav.pull-right > li:last-child > a:hover {
		color: @navbarLinkHome;
		text-shadow: 0 1px 1px rgba(255,255,255,7);
		border: 1px solid transparent;
		background: none;
	}

	.nav.pull-right > li:first-child a:active, 
	.nav.pull-right > li:first-child.active a,	
	.nav.pull-right > li:last-child a:active, 
	.nav.pull-right > li:last-child.active a {
		font-size: @baseFontSize;
		color: @white;
		line-height: @baseLineHeight;
		text-decoration: none;
		padding: 7px 0 7px 10px;
		background-color: @navbarDropdownBg;
		box-shadow: none;
		border: 0;
	}	
	
	.navbar .nav.pull-right > li:first-child > a,
	.navbar .nav.pull-right > li:first-child > a:hover {
		color: @navbarLinkColor;
		font-size: @baseFontSize;
		text-decoration: none;
		text-shadow: 0 1px 1px rgba(255,255,255,7);
		border: 1px solid transparent;
		background: none;
		.box-shadow (none);
		padding: 7px 13px;
	}

	.navbar .nav li.dropdown:hover > .dropdown-toggle .caret {
		border-top-color: @dropdownLinkColor;
		border-bottom-color: @dropdownLinkColor;
	}

	.navbar .nav.pull-right > li.dropdown > .dropdown-toggle:active {
		color: @navbarLinkColor;
		font-size: @baseFontSize;
		text-decoration: none;
		text-shadow: 0 1px 0 @navbarBackgroundHighlight;
		border: 1px solid transparent;
		background: transparent;
	}

	.navbar .nav.pull-right > li.dropdown > ul.dropdown-menu li a:active {
		font-size: @baseFontSize - 2 ;
		color: @navbarLinkColor;
		text-shadow: 0 1px 1px rgba(255,255,255,7);
		padding: 5px 15px;
	}

	.nav.pull-right > li:last-child {
		box-shadow: none;
		border: 0;
		padding: 0;
		margin: 0;
	}

	.navbar-search.pull-left,
	.navbar-search.pull-right {
		float: none;
		clear: both;
		border: 0;
		box-shadow: none;
		margin: 0;
	}

	.navbar .brand {
		display: inline-block;
		padding: 15px 0 0;
	}

	.navbar .btn-navbar {
		display: block;
	}

	// 2012-11-12
	.navbar-inverse .nav > li > a,
	.navbar-inverse .nav > li > a:hover,
	.navbar-inverse .nav.pull-right > li > a,
	.navbar-inverse .nav.pull-right > li:first-child > a {
		color: @navbarInverseLinkColor;
		font-weight: normal;
		text-shadow: none;		
		&:hover {
			color: @navbarInverseLinkColor;
			text-shadow: none;
      background: none;
    }
	}

	.navbar-inverse .nav > li.active > a,
	.navbar-inverse .nav > li.active > a:hover {
		color: @navbarLinkColorActive;
		text-shadow: none;
		background: @navbarLinkBackgroundActive;
	}
	.navbar-inverse .nav > li:first-child > a {
		color: @navbarLinkColorActive;
		text-shadow: none;		
		&:hover {
			color: @navbarLinkColorActive;
      background: @navbarFirstBackground;
    }
	}		
	.navbar-inverse .nav.pull-right li.dropdown .dropdown-toggle:active {
		color: @navbarInverseLinkColor;
		font-size: @baseFontSize;
		text-decoration: none;
		text-shadow: none;
		border: 1px solid transparent;
		background: transparent;
	}
	.navbar-inverse .nav li.dropdown.open > .dropdown-toggle .caret, 
	.navbar-inverse .nav li.dropdown.active > .dropdown-toggle .caret, 
	.navbar-inverse .nav li.dropdown.open.active > .dropdown-toggle .caret {
		border-top-color: @dropdownLinkColorHover;
		border-bottom-color: @dropdownLinkColorHover;
	}
	.navbar-inverse .nav li.dropdown .dropdown-menu > li > a {
		font-size: @baseFontSize - 2;
		color: @navbarInverseLinkColor;
		font-weight: normal;
		text-shadow: none;	
	}
	.navbar-inverse .nav li.dropdown .dropdown-menu > li > a:active,
	.navbar-inverse .nav li.dropdown .dropdown-menu > li.active > a,
	.navbar-inverse .nav.pull-right > li.dropdown > ul.dropdown-menu li a:active {
		font-size: @baseFontSize - 2;
		color: @navbarInverseLinkActive;
		text-shadow: none;	
		padding: 5px 15px;
	}
	
	// slider
	.slider-box .slider {
		min-width:73%;
		float: left;
	}

}

