<!--div.container>div.row*10>div.span12-->
<div class="container chart-view">
	<div id="control-btn" class="title">Chart Overview 차트
		<button class="btn" >변경</button>
	</div>
	<div class="title-separator"></div>
	<div class="row">
		<div id="chart1" class="span12 chart"></div>
	</div>
	<div class="row">
		<div id="chart2" class="span6 chart"></div>
		<div id="chart3" class="span6 chart"></div>
	</div>
</div>