/**** Isotope Filtering ****/

.isotope-item {
  z-index: 2;
}

.isotope-hidden.isotope-item {
  pointer-events: none;
  z-index: 1;
}

/**** Isotope CSS3 transitions ****/

.isotope,
.isotope .isotope-item {
  -webkit-transition-duration: 0.8s;
     -moz-transition-duration: 0.8s;
      -ms-transition-duration: 0.8s;
       -o-transition-duration: 0.8s;
          transition-duration: 0.8s;
}

.isotope {
  -webkit-transition-property: height, width;
     -moz-transition-property: height, width;
      -ms-transition-property: height, width;
       -o-transition-property: height, width;
          transition-property: height, width;
}

.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
     -moz-transition-property:    -moz-transform, opacity;
      -ms-transition-property:     -ms-transform, opacity;
       -o-transition-property:         top, left, opacity;
          transition-property:         transform, opacity;
}

/**** disabling Isotope CSS3 transitions ****/

.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
  -webkit-transition-duration: 0s;
     -moz-transition-duration: 0s;
      -ms-transition-duration: 0s;
       -o-transition-duration: 0s;
          transition-duration: 0s;
}

#dashboard_container {
	border: solid 1px;
	padding:5px;
	text-align:center;
}

#dashboard_container > .dashboardItem {
	border: 0;
/*	padding: 5px;*/
	margin: 5px;
	width: 279px;
	height: 279px;
	background: #F6F6F6;
}

#dashboard_container > .dashboardItem.height2x {
	height: 520px;
}

#dashboard_container > .draggin {
	display: none;	
}

/* Dashboard barchart style */
div#reportChart {
	height: 200px;
	min-height: 200px;
}

div[data-featured="scrollView"] {
	height: 220px;
}


/**
 * 	대쉬보드 isotope 를 가운데 정렬 해주는것 bootstrap에서는 잘안되는 문제 해결하기 위해 미디어쿼리 사용 
 */
.dashboard_wrapper {
	border: 1px solid;
}
#dashboard_container {
	width: 867px; /* 270 * 4, 270 * 3, 270 * 2, 270 */
	margin: 0 auto;
	border: none !important;
}
@media (min-width: 1200px) {
	#dashboard_container {
		width: 1156px; /* 270 * 4, 270 * 3, 270 * 2, 270 */
		margin: 0 auto;
	}
}
@media (max-width: 979px) and (min-width: 768px) {
	#dashboard_container {
		width: 581px; /* 270 * 4, 270 * 3, 270 * 2, 270 */
		margin: 0 auto;
	}
}
@media (max-width: 767px) {
	#dashboard_container {
		width: 289px; /* 270 * 4, 270 * 3, 270 * 2, 270 */
		margin: 0 auto;
	}
}


/**
 * 	장과장님이 잡아주신 것들
 */
.title {
	font-size: 22px;
	padding: 20px 0 0 0;
	margin: 0;
	line-height: 100%;
}

.widget {
	padding: 10px 5px 5px 5px;
}
.widget .lists li {
	font-size: 14px;
	text-align: left;
}
.widget2 {
	padding: 0;
}
.lists li .name {
	width: 60px;
	display: inline-block;
}
.lists li .txt-con {
	width: 150px;
	line-height: 100%;
	display: inline-block;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.lists li .txt-con2 {
	width: 220px;
	line-height: 100%;
	display: block;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

div#dashboard_container .scrollview {
	width: 272px ! important;
}

.hero-unit {
	min-height: 326px;
}

