.vocDescription {
	color: black;
	font-size: 1.1em;
}

.vocPercent {
	/* FONT 3D */
	border:0;
	background-color: transparent;
	color:#e4f3f9;
	text-align:center;
	font-weight:700;
	font-size:10em;
	font-family: 'Arvo', arial, serif;
	/* Left - Top - Grossir*/
	text-shadow:
	-2px -2px 1px #fff,
	-1px -1px 1px #fff,
	1px 1px 1px rgba(232,247,255,0.9),
	1px 1px 0 #2a658b,
	2px 2px 0 #29638a,
	3px 3px 0 #286188,
	4px 4px 0 #275f85,
	5px 5px 0 #265d83,
	6px 6px 0 #255a80,
	7px 7px 0 #24577d,
	8px 8px 0 #235479,
	9px 9px 0 #215075,
	10px 10px 0 #1f4c71,
	11px 11px 0 #1e486c,
	12px 12px 1px rgba(28,67,103,0.5),
	14px 14px 12px rgba(5,13,20,0.5);
}

.vocPercentText {
	color: black;
	text-shadow: none;
	font-size: 0.1em;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}