//
// Button
// --------------------------------------------------
.btn {
  > .glyphicon {
    display: inline-block;
    padding: 2px 1px 3px 1px;
    font-size: @font-size-base * 1.5;
    line-height: 0;
  }
}

