//
// Button
// --------------------------------------------------

@btn-default-bg: #FFF;
@btn-default-gradient-start: #FFF;
@btn-default-gradient-end: #e3e3e3;
@btn-default-color: #6a6a6a;
@btn-default-border: 1px solid #b6b6b6;

// TODO 터치 기반인 경우 hover 스타일이 터치 후 지속되는 문제 수정 필요
.btn {
  border: @btn-default-border;
  border-radius: 6px;
  color: @btn-default-color;
  text-shadow: 0 1px 0 #FFF;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  .user-select(none);
  .box-shadow(~"0 3px 2px rgba(0,0,0,.18)");
  .background-image(~"linear-gradient(bottom, @{btn-default-gradient-end} 0%, @{btn-default-gradient-start} 99.49%, @{btn-default-gradient-start} 100%)");

  &:hover, &:focus {
    border: 1px solid #b6b6b6;
    background-color: #fff;
    color: #1f8fb9;
    .box-shadow(~"0 3px 2px rgba(0,0,0,.18)");
    .background-image(~"linear-gradient(bottom, #e3e3e3 25%, #fff 74.74%, #fff 75%)");
  }

  &:active, &.active {
    border: 1px solid #b6b6b6;
    background-color: #fff;
    color: #454545;
    .box-shadow(~"inset 0 0 7px rgba(0,0,0,.3)");
    .background-image(~"linear-gradient(bottom, rgba(216,216,216,.72) 36.36%, rgba(216,216,216,.72) 36.88%, rgba(202,202,202,.72) 49.08%, rgba(166,166,166,.72) 106.51%, rgba(48,48,48,.72) 122.08%, rgba(48,48,48,.72) 136.36%)");
  }

  &.disabled,
  &[disabled] {
    .btn-disabled();
  }

  > .glyphicon {
    display: inline-block;
    padding: 2px 1px 3px 1px;
    font-size: @font-size-base * 1.5;
    line-height: 0;
  }

  &.btn-primary {
    .btn-state();
  }
  &.btn-success {
    .btn-state(success);
  }
  &.btn-info {
    .btn-state(info);
  }
  &.btn-warning {
    .btn-state(warning);
  }
  &.btn-danger {
    .btn-state(danger);
  }

  &.btn-default .caret {
    border-top-color: @text-color;
  }

  &.btn-large {
    font-weight: bold;
  }
}

.btn-link,
.btn-link:hover,
.btn-link:focus,
.btn-link:active,
.btn-link.active, {
  border: none;
  background: none;
  color: #428bca;
  .box-shadow(~"none");
}

.dropup {
  .btn-default .caret {
    border-bottom-color: @text-color;
  }
}

fieldset[disabled] .btn {
  .btn-disabled();
}

.btn-group-vertical {
  display: inline-block;
  border: 1px solid #a8a8a8;
  border-radius: 5px;
  background-color: #cbcbcb;
  .box-shadow(~"0 3px 2px rgba(0,0,0,.18)");
  .background-image(~"linear-gradient(bottom, #e3e3e3 0%, #fff 99.49%, #fff 100%)");
  & > .btn {
    background: none;
    box-shadow: none;
    border: none;

    &:not(:last-child){
      border-bottom: 1px solid #b6b6b6;
    }

    &:hover {
      background: none;
      box-shadow: none;
      color: #1f8fb9;
      border: none;
      &:not(:last-child){
        border-bottom: 1px solid #b6b6b6;
      }
    }

    &:first-child {
      &.active, &:active {
        border-radius: 3px 3px 0 0;
      }
    }
    &:last-child {
      &.active, &:active {
        border-radius: 0 0 3px 3px;
      }
    }
    &.active, &:active {
      color: @text-color-inverse;
      font-weight: normal;
      background-color: #2d95bb;
      .box-shadow(~"inset 0 2px 7px rgba(0,0,0,.2)");
      .background-image(~"linear-gradient(to bottom, rgba(12,59,85,0.52) 0%,rgba(12,59,85,0.62) 2%,rgba(28,109,152,0.62) 30%,rgba(58,166,219,0.42) 87%,rgba(52,169,228,0.32) 100%)");
    }
  }
}


// Placeholder
@btn-primary-gradient-start: #2a92b9;
@btn-primary-gradient-end: #40aad2;
@btn-primary-border-color: #359fc5;

@btn-success-gradient-start: #4cae2f;
@btn-success-gradient-end: #76bf5a;
@btn-success-border-color: #439021;

@btn-info-gradient-start: #3075c2;
@btn-info-gradient-end: #518fdb;
@btn-info-border-color: #366fc5;

@btn-warning-gradient-start: #b8952a;
@btn-warning-gradient-end: #d1ad40;
@btn-warning-border-color: #c59f36;

@btn-danger-gradient-start: #b7503c;
@btn-danger-gradient-end: #d16354;
@btn-danger-border-color: #b24e3a;

.btn-state(@state: primary) {
  @gradient-start: ~"@{btn-@{state}-gradient-start}";
  @gradient-end: ~"@{btn-@{state}-gradient-end}";
  color: #FFF;
  text-shadow: 0 1px 0 rgba(0, 0, 0, .32);
  border-color: ~"@{btn-@{state}-border-color}";
  .background-image(~"linear-gradient(bottom, @{gradient-start} 0%, @{gradient-end} 100%)");

  &:hover, &:focus, &.hover {
    #btn-state > .hover(@state);
  }

  &:active, &.active {
    .box-shadow(~"inset 0 0 14px rgba(0,0,0,.3)");
    #btn-state > .active(@state);
  }
}

#btn-state {
  // :hover, :focus, .hover
  .hover(@state) when (@state = primary) {
    border: 1px solid #359fc5;
    .background-image(~"linear-gradient(bottom, #2a92b9 25%, #44b5e0 75%)");
  }

  .hover(@state) when (@state = success) {
    border: 1px solid #439021;
    .background-image(~"linear-gradient(bottom, #4cae2f 25%, #7fcb61 75%)");
  }

  .hover(@state) when (@state = info) {
    border: 1px solid #366fc5;
    .background-image(~"linear-gradient(bottom, #3075c2 25%, #5897e6 75%)");
  }

  .hover(@state) when (@state = warning) {
    border: 1px solid #c59f36;
    .background-image(~"linear-gradient(bottom, #b8952a 25%, #ddb745 75%)");
  }

  .hover(@state) when (@state = danger) {
    border: 1px solid #b24e3a;
    .background-image(~"linear-gradient(bottom, #b7503c 25%, #e36d5e 75%)");
  }

  // :active, .active
  .active(@state) when (@state = primary) {
    background-color: #2b93b9;
    .background-image(~"linear-gradient(bottom, rgba(49,183,232,.72) 36.36%, rgba(49,183,232,.72) 36.88%, rgba(61,180,225,.72) 49.35%, rgba(19,127,167,.72) 106.6%, rgba(0,75,103,.72) 121.86%, rgba(0,75,103,.72) 136.36%)");
  }

  .active(@state) when (@state = success) {
    background-color: #4dad2f;
    .background-image(~"linear-gradient(bottom, rgba(133,212,101,.72) 36.36%, rgba(133,212,101,.72) 36.88%, rgba(125,210,94,.72) 49.35%, rgba(64,161,33,.72) 105.87%, rgba(36,128,8,.72) 121.62%, rgba(36,128,8,.72) 136.36%)");
  }

  .active(@state) when (@state = info) {
    background-color: #3377c5;
    .background-image(~"linear-gradient(bottom, rgba(95,162,244,.72) 36.36%, rgba(95,162,244,.72) 36.88%, rgba(87,156,240,.72) 48.86%, rgba(37,109,191,.72) 106.87%, rgba(2,57,120,.72) 121.86%, rgba(2,57,120,.72) 136.36%)");
  }

  .active(@state) when (@state = warning) {
    background-color: #b9952b;
    .background-image(~"linear-gradient(bottom, rgba(231,193,80,.72) 36.36%, rgba(231,193,80,.72) 36.88%, rgba(228,189,68,.72) 49.35%, rgba(173,138,29,.72) 105.87%, rgba(128,96,3,.72) 121.62%, rgba(128,96,3,.72) 136.36%)");
  }

  .active(@state) when (@state = danger) {
    background-color: #b74f3b;
    .background-image(~"linear-gradient(bottom, rgba(223,108,93,.72) 36.36%, rgba(223,108,93,.72) 36.88%, rgba(226,109,93,.72) 49.35%, rgba(173,69,50,.72) 106.6%, rgba(111,25,9,.72) 121.86%, rgba(111,25,9,.72) 136.36%)");
  }
}

.btn-disabled() {
  border: 1px solid #b6b6b6;
  background-color: #fff;
  color: #6a6a6a;
  opacity: .5;
  box-shadow: none;
  text-shadow: none;
}