.form-control {
  border: 1px solid #c3c3c3;
  border-radius: 6px;
  background-color: #fff;
  color: @text-color;
  .box-shadow(~"0 3px 2px rgba(0,0,0,.1)");

}

.input-group {
  border-radius: 6px;
  background-color: #fff;
  .box-shadow(~"0 3px 2px rgba(0,0,0,.1)");

  .input-group-addon {
    background-color: #fff;
    .background-image(~"linear-gradient(bottom, #e3e3e3 0%, #fff 99.49%, #fff 100%)");
  }

  .form-control:not(:focus) {
    .box-shadow(~"none");
  }
}

.input-group-btn {
  & > .btn:not(.btn-link) {
    .box-shadow(~"none");
    &:hover, &:focus, &:active {
      .box-shadow(~"none");
    }
  }
}

.form-search {
  .input-group {
    border-radius: 25px;
  }

  .input-group-search {
    .box-shadow(~"none");
    background: none;
    .form-control {
      border-top-right-radius: 25px;
      border-bottom-right-radius: 25px;
      background-color: #fff;
      .box-shadow(~"0 3px 2px rgba(0,0,0,.1)");
    }

    .input-group-btn {
      margin-left: 5px;
    }
    .btn {
      border-left: 1px solid #b6b6b6;
      .box-shadow(~"0 3px 2px rgba(0,0,0,.1)");
      border-bottom-left-radius: 6px;
      border-top-left-radius: 6px;

      &:hover, &:focus, &:active {
        border-left: 1px solid #b6b6b6;
        .box-shadow(~"0 3px 2px rgba(0,0,0,.1)");
      }
    }
  }
}

.control-group {
  &.disabled {
    input {
      background: url("images/bg-input-disabled.png") repeat;
      background-size: 5% 100%;
    }
  }
}

input {
  &.focused {
    outline: thin;
    border-color: rgba(82, 168, 236, .8);
    .box-shadow(0 0 8px rgba(82, 168, 236, .6));
  }
}

.form-search {
  input {
    display: inline-block;
    padding: 9px;
    border-radius: 25px;
  }
}

.help-inline {
  position: relative;
  display: inline-block;
  padding: 9px 10px 8px 10px;
  border: 1px solid darken(#f4f4f4, 20%);
  border-radius: 4px;
  color: @text-color;
  text-align: left;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.2);
  font-weight: bold;
  .box-shadow(~"0 3px 2px rgba(0,0,0,.18)");
  .background-image(~"linear-gradient(to bottom, #f4f4f4 0%, #dbdbdb 100%)");

  & > span {
    white-space: pre-line;
  }
  .arrow {
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    border: 8px solid transparent;
  }

  &.top {
    margin: 0 0 15px 0;
    .arrow {
      left: 50%;
      margin-left: -11px;
      border-bottom-width: 0;
      border-top-color: darken(#f4f4f4, 10%);
      bottom: -8px;
      &:after {
        content: "";
        position: absolute;
        top: -11px;
        left: -12px;
        border: 12px solid transparent;
        border-top-color: #b3b3b3;
        border-bottom-width: 0;
        z-index: -1;
      }
    }
  }

  &.right {
    margin: 0 0 0 -15px;
    .arrow {
      top: 13px;
      left: -8px;
      border-left-width: 0;
      border-right-color: darken(#f4f4f4, 5%);
      &:after {
        content: "";
        position: absolute;
        top: -12px;
        left: -1px;
        border: 12px solid transparent;
        border-right-color: #b3b3b3;
        border-left-width: 0;
        z-index: -1;
      }
    }
  }

  &.bottom {
    margin: 15px 0 0 0;
    .arrow {
      left: 50%;
      top: -8px;
      margin-left: -11px;
      border-top-width: 0;
      border-bottom-color: #f4f4f4;
      &:after {
        content: "";
        position: absolute;
        top: -1px;
        right: -12px;
        border: 12px solid transparent;
        border-top-width: 0;
        border-bottom-color: #b3b3b3;
        z-index: -1;
      }
    }
  }

  &.left {
    float: right;
    margin: 0 -15px 0 0;
    .arrow {
      top: 13px;
      right: -8px;
      border-right-width: 0;
      border-left-color: darken(#f4f4f4, 5%);
      &:after {
        content: "";
        position: absolute;
        top: -12px;
        right: -1px;
        border: 12px solid transparent;
        border-right-width: 0;
        border-left-color: #b3b3b3;
        z-index: -1;
      }
    }
  }
}

.has-error {
  .input-with-feedback {
    border: 1px solid @state-danger-bg;
    color: @form-danger-color;
    &:focus {
      color: @form-danger-color;
    }
    .placeholder-color(@form-danger-color);
  }

  .help-inline {
    border: 1px solid darken(@state-danger-bg, 10%);
    background: @state-danger-bg;
    color: @text-color-inverse;

    &.top {
      .arrow {
        border-top-color: @state-danger-bg;
      }
    }

    &.right {
      .arrow {
        border-right-color: @state-danger-bg;
      }
    }

    &.bottom {
      .arrow {
        border-bottom-color: @state-danger-bg;
      }
    }

    &.left {
      .arrow {
        border-left-color: @state-danger-bg;
      }
    }
  }
}

.has-success {
  .input-with-feedback {
    border: 1px solid #000000;
    color: @form-success-color;
    &:focus {
      color: @form-success-color;
    }
    .placeholder-color(@form-success-color);
  }

  .help-inline {
    border: 1px solid darken(@state-success-bg, 10%);
    background: @state-success-bg;
    color: @text-color-inverse;

    &.top {
      .arrow {
        border-top-color: @state-success-bg;
      }
    }

    &.right {
      .arrow {
        border-right-color: @state-success-bg;
      }
    }

    &.bottom {
      .arrow {
        border-bottom-color: @state-success-bg;
      }
    }

    &.left {
      .arrow {
        border-left-color: @state-success-bg;
      }
    }
  }
}

.has-warning {
  .input-with-feedback {
    color: @form-warning-color;
    &:focus {
      color: @form-warning-color;
    }
    .placeholder-color(@form-warning-color);
  }
  .help-inline {
    border: 1px solid darken(@state-warning-bg, 10%);
    background: @state-warning-bg;
    color: @text-color-inverse;
    &.top {
      .arrow {
        border-top-color: @state-warning-bg;
      }
    }

    &.right {
      .arrow {
        border-right-color: @state-warning-bg;
      }
    }

    &.bottom {
      .arrow {
        border-bottom-color: @state-warning-bg;
      }
    }

    &.left {
      .arrow {
        border-left-color: @state-warning-bg;
      }
    }
  }
}

.has-info {
  .input-with-feedback {
    color: @form-warning-color;
    &:focus {
      color: @form-warning-color;
    }
    .placeholder-color(@form-warning-color);
  }
  .help-inline {
    border: 1px solid darken(@state-info-bg, 10%);
    background: @state-info-bg;
    color: @text-color-inverse;
    &.top {
      .arrow {
        border-top-color: @state-info-bg;
      }
    }

    &.right {
      .arrow {
        border-right-color: @state-info-bg;
      }
    }

    &.bottom {
      .arrow {
        border-bottom-color: @state-info-bg;
      }
    }

    &.left {
      .arrow {
        border-left-color: @state-info-bg;
      }
    }
  }
}

.flip-area {
  .user-select(none);
  position: relative;
  margin: 0;
  padding: 7px;
  border-radius: 25px;
  .box-shadow(~"0 1px 0 rgba(255,255,255,.65), inset 0 1px 2px rgba(0,0,0,.5)");
  .background-image(~"linear-gradient(top, #9d9d9d, #aaaaaa)");

  .flip-btn {
    position: relative;
    width: 37px;
    height: 37px;
    top: -5px;
    left: -5px;
    margin-bottom: -10px;
    float: left;
    margin-right: 5px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 18px;
    background-color: #c1c1c1;
    .box-shadow(~"0 1px 2px rgba(1,1,1,.25), inset 0 2px 1px rgba(255,255,255,.5)");
    .background-image(~"linear-gradient(bottom, #cec8c5 0%, #efe9e9 100%)");

    &:after {
      width: 25px;
      height: 25px;
      border-radius: 50px;
      border: 0;
      left: 5px;
      top: 5px;
      z-index: 1000;
    }
  }
  &.active > .flip-txt,
  &:not(.fast-button) .flip-check:checked + .flip-txt {
    display: inline-block;
    padding: 0 0 0 15px;
    border-radius: 20px;
    color: #ffffff;
    text-align: right;
    text-shadow: 0 2px 2px rgba(0, 0, 0, 0.7);
    font-weight: bold;
    font-size: 16px;
    line-height: 17px;
    .box-shadow(~"inset 0 1px 4px rgba(0, 0, 0, 0.5)");
    .background-image(~"linear-gradient(bottom, #2a92b9 0%, #40aad2 100%)");
    &:after {
      display: inline-block;
      margin-top: 5px;
      color: #ffffff;
      content: attr(data-on);
    }
    & > span {
      float: right;
      margin-right: 0;
      margin-left: 5px;
    }

    .flip-btn {
      left: auto;
      right: -5px;
    }
  }

  .flip-txt {
    text-align: left;
    padding: 0 15px 0 0;
    color: #b0b0b0;
    font-size: 16px;
    line-height: 17px;
    font-weight: bold;
    display: inline-block;
    text-shadow: 0 2px 2px rgba(0, 0, 0, 0.7);
    min-width: 90px;
    border-radius: 20px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    .box-shadow(~"inset 0 1px 4px rgba(0, 0, 0, 1)");
    .background-image(~"linear-gradient(bottom, #aba7a3 0%, #cdc9c5 100%)");
    &:after {
      display: inline-block;
      content: attr(data-off);
      color: #ffffff;
      margin-top: 5px;
    }
  }

  .flip-check {
    position: absolute;
    left: -10000px;
  }
}

.input-radio, .input-checkbox {
  .user-select(none);

  & > input[type=checkbox],
  & > input[type=radio], {
    display: none;
  }

  & > .control {
    position: relative;
    display: inline-block;
    margin: 0;
    padding: 5px;
    width: 35px;
    height: 35px;
    border: 1px solid rgba(0, 0, 0, .25);
    background-color: #d1d1d1;
    vertical-align: middle;
    .box-shadow(~"0 3px 4px rgba(0,0,0,.19), inset 0 1px 1px rgba(255,255,255,.1)");
    .background-image(~"linear-gradient(bottom, #d3d3d3 0%, #d9d9d9 49%, #dfdfdf 50%, #eaeaea 100%)");
    cursor: pointer;
  }

  input[disabled] + .control, input.disabled + .control {
    background: transparent url(images/icon-disabled.png);
    background-size: 40px 40px;
  }

  & + .form-control {
    height: 50px;
  }
}

.input-checkbox {
  & > .control {
    border-radius: 4px;

    &.placeholder {
      &:before {
        padding: 0;
        width: 20px;
        height: 29px;
        color: #969696;
      }
    }
  }

  & > .control &.placeholder:before,
  &.active > .control:after,
  &:not(.fast-button) input:checked + .control:after {
    position: absolute;
    top: 4px;
    left: 4px;
    display: inline-block;
    content: "\e013";
    font-weight: 400;
    font-style: normal;
    font-size: 24px;
    font-family: 'Glyphicons Halflings', serif;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
  }

  &.active > .control:after,
  &:not(.fast-button) input:checked + .control:after {
    padding-right: 10px;
    color: #247dab;
  }
}

.input-radio {
  & > .control {
    border-radius: 40px;
  }

  &.active > .control:after,
  &:not(.fast-button) input:checked + .control:after {
    position: absolute;
    top: 9px;
    left: 9px;
    width: 15px;
    height: 15px;
    border-radius: 15px;
    background-color: #1f8fb9;
    .box-shadow(~"0 1px 0 #fff, 0 0 2px 0 #fff, inset 0 2px 2px rgba(0,0,0,.21)");
    content: "";
  }
}

select {
  width: 100%;
  height: 40px;
  padding: 9px 5px;
  font-size: 18px;
  line-height: 22px;
  margin: 0;
  border: 1px solid @text-color;
  border-radius: 5px;
  color: @text-color;
  outline: 0;
  display: inline-block;
  .box-shadow(~"inset 0 1px 1px rgba(255,255,255,.27)");
}