//
// Base
// --------------------------------------------------
@body-bg: #f6f6f6;
@code-color: #be5543;
@code-bg: #f6e4e1;
body {
  background-color: @body-bg;
  color: @text-color;
}

ul, ol {
  padding: 0;
}

code {
  padding: 2px 4px;
  background-color: @code-bg;
  color: @code-color;
  white-space: nowrap;
  font-size: 90%;
}

.blind {
  position: absolute;
  visibility: visible;
  overflow: hidden;
  width: 0;
  height: 0;
  text-indent: -3000em;
  font-size: 0;
  line-height: 0;
}

a:focus, button:focus {
  outline: none;
}