
/* impress.js 관련 스타일 */
body {
    min-height: 740px;

    background: rgb(215, 215, 215);
    background: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 500, from(rgb(240, 240, 240)), to(rgb(190, 190, 190)));
    background: -webkit-radial-gradient(rgb(240, 240, 240), rgb(190, 190, 190));
    background:    -moz-radial-gradient(rgb(240, 240, 240), rgb(190, 190, 190));
    background:      -o-radial-gradient(rgb(240, 240, 240), rgb(190, 190, 190));
    background:         radial-gradient(rgb(240, 240, 240), rgb(190, 190, 190));

    -webkit-font-smoothing: antialiased;
}

#impress { pointer-events: auto; margin-top: 25px; }

/* COMMON STEP STYLES */

.step {
    width: 900px;
    padding: 40px;

    -webkit-box-sizing: border-box;
    -moz-box-sizing:    border-box;
    -ms-box-sizing:     border-box;
    -o-box-sizing:      border-box;
    box-sizing:         border-box;

    font-family: 'PT Serif', georgia, serif;

    font-size: 48px;
    line-height: 1.5;
}

.step {
    -webkit-transition: opacity 1s;
    -moz-transition:    opacity 1s;
    -ms-transition:     opacity 1s;
    -o-transition:      opacity 1s;
    transition:         opacity 1s;
}

/* fade out inactive slides */
.step:not(.active) {
    opacity: 0.3;
}

/* STEP SPECIFIC STYLES */

/* hint on the first slide */

.hint {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 100px;
    
    background: rgba(0,0,0,0.5);
    color: #EEE;
    text-align: center;
    
    font-size: 50px;
    padding: 20px;
    
    z-index: 100;
    
    opacity: 0;
    
    -webkit-transform: translateY(400px);
    -moz-transform:    translateY(400px);
    -ms-transform:     translateY(400px);
    -o-transform:      translateY(400px);
    transform:         translateY(400px);

    -webkit-transition: opacity 1s, -webkit-transform 0.5s 1s;
    -moz-transition:    opacity 1s,    -moz-transform 0.5s 1s;
    -ms-transition:     opacity 1s,     -ms-transform 0.5s 1s;
    -o-transition:      opacity 1s,      -o-transform 0.5s 1s;
    transition:         opacity 1s,         transform 0.5s 1s;
}

.impress-on-title .hint {
    opacity: 1;
    
    -webkit-transition: opacity 1s 5s, -webkit-transform 0.5s;
    -moz-transition:    opacity 1s 5s,    -moz-transform 0.5s;
    -ms-transition:     opacity 1s 5s,     -ms-transform 0.5s;
    -o-transition:      opacity 1s 5s,      -o-transform 0.5s;
    transition:         opacity 1s 5s,         transform 0.5s;
    
    -webkit-transform: translateY(0px);
    -moz-transform:    translateY(0px);
    -ms-transform:     translateY(0px);
    -o-transform:      translateY(0px);
    transform:         translateY(0px);
}

/* impress.js title */

#title {
    padding: 0;
}

#title h1 {
    font-family: 'PT Serif', georgia, serif;
    font-size: 90px;
    text-align: center;
    
    -webkit-transform: translateZ(50px);
    -moz-transform:    translateZ(50px);
    -ms-transform:     translateZ(50px);
    -o-transform:      translateZ(50px);
    transform:         translateZ(50px);
}

#title .copyright {
    font-family: 'Open Sans', Arial, sans-serif;
    font-size: 25px;
    text-align: center;
    margin-top: 50px;
}

/* Overview의 경우에는 다른 step을 덮지 않도록 뒤로 이동한다. */
#overview, #slide-overview {
    z-index: -1;
    padding: 0;
}

/* 자신의 내용을 가지고 있지 않고 Overview를 하기 위한 step에서는 모든 내용이 보이게 한다. */
.impress-on-overview .step,
.impress-on-slide-overview .step {
    opacity: 1;
    cursor: pointer;
}

/*
 * SLIDE STEP STYLES
 *
 * inspired by: http://html5slides.googlecode.com/svn/trunk/styles.css
 *
 * ;)
 */

.slide {
    display: block;

    min-width: 900px;
    min-height: 700px;

    padding: 40px 60px;

    border-radius: 10px;

    background-color: white;

    box-shadow: 0 2px 6px rgba(0, 0, 0, .1);
    border: 1px solid rgba(0, 0, 0, .3);

    font-family: 'Open Sans', Arial, sans-serif;

    color: rgb(102, 102, 102);
    text-shadow: 0 2px 2px rgba(0, 0, 0, .1);

    font-size: 20px;
    line-height: 25px;

    letter-spacing: -1px;
}

.slide q {
    display: block;
    font-size: 50px;
    line-height: 72px;

    margin-top: 100px;
}

.slide q strong {
    white-space: nowrap;
}


/* IMPRESS NOT SUPPORTED STYLES */

.fallback-message {
    font-family: sans-serif;
    line-height: 1.3;
    
    display: none;
    width: 780px;
    padding: 10px 10px 0;
    margin: 70px auto 20px auto;

    border-radius: 10px;
    border: 1px solid #E4C652;
    background: #EEDC94;
}

.fallback-message p {
    margin-bottom: 10px;
}

.impress-disabled .step,
.impress-not-supported .step {
    position: relative;
    opacity: 1;
    margin: 20px auto;
}

.impress-not-supported .fallback-message {
    display: block;
}

/* 그 외 스타일 */
p.navbar-text {
	margin-right: 10px !important;
}
