<div class="lists scroller">
	<ul id="blogWidgetList" class="list-group list-group-flush list-group-cornerstone">
	</ul>
</div>
<!--
<div class="lists scroller">
	<ul id="blogWidgetList" class="lists-con"></ul>
</div>
-->