<div class="tab-inner loaded" style="height: 280px; width: 100%; display: block; ">
	<iframe src="http://www.facebook.com/plugins/likebox.php?id=141962659170409&amp;width=100%&amp;connections=24&amp;stream=false&amp;header=true&amp;height=280" scrolling="no" frameborder="0" style="border: none; background: #fff; overflow: hidden; width: 100%; height: 280px;" allowtransparency="true"></iframe>
</div>


<!-- <div class="tab-inner loaded" style="height: 279px; width: 279px; display: block; ">
	<iframe src="http://www.facebook.com/plugins/likebox.php?id=141962659170409&amp;width=260&amp;connections=24&amp;stream=false&amp;header=true&amp;height=279" scrolling="no" frameborder="0" style="border: none; background: #fff; overflow: hidden; width: 279px; height: 279px;" allowtransparency="true"></iframe>
</div> -->