<div class="tab-inner loaded" style="height: 520px; width: 260px; display: block; ">
	<iframe src="http://www.facebook.com/plugins/recommendations.php?site=http://blog.sktworld.co.kr&amp;width=260&amp;height=520&amp;header=true&amp;colorscheme=light&amp;font&amp;border_color" scrolling="no" frameborder="0" style="border: none; background: #fff; overflow: hidden; width: 260px; height: 520px;" allowtransparency="true"></iframe>
</div>