<div class="tab-inner loaded" style="height: 520px; width: 260px; display: block; ">
	<iframe src="http://www.facebook.com/plugins/likebox.php?id=141962659170409&amp;width=260&amp;connections=24&amp;stream=false&amp;header=true&amp;height=520" scrolling="no" frameborder="0" style="border: none; background: #fff; overflow: hidden; width: 260px; height: 520px;" allowtransparency="true"></iframe>
</div>