//
// pagination (multiple pages)
// --------------------------------------------------


.pagination {
	text-align: center;
	.border-radius(3px);
 }
.pagination ul {
  display: inline-block;
  .ie7-inline-block();
  margin: 0 auto;
  .border-radius(3px);
}
.pagination ul li {
  display: inline-block;
	margin-left: -4px;
	padding: 0 4px;
	text-align: center;
	vertical-align: middle;
  }

.pagination ul li:first-child {
	margin-right: 6px;
}

.pagination ul li:last-child {
	margin-left: 2px;
}

.pagination a {
	color: @pagingTxt;
	line-height: @baseLineHeight;
	width: 30px;
	padding: 7px 0 7px 0;
	background-color: @white;
  border: 0;
	vertical-align: middle;
	display:block;
}

.pagination a:hover,
.pagination .active a {
	color: @pagingActive;
	text-decoration:none;
	padding: 7px 0 7px 0;
	border-top: none;
  background-color: @white;
}

.pagination ul li:first-child a, .pagination ul li:last-child a {
	width: auto;
	height: auto;
	padding: 5px 11px;
	background: @pagingArrow;
  border: 1px solid @grayLight;
  .border-radius(4px);
}

.pagination ul li:first-child a span, 
.pagination ul li:last-child a span {
	width: 22px;
	height: 22px;
	padding: 0;
	margin: 0 auto;
	display: block;
	position: relative;
	.border-radius(50px);
  background-color: @pagingNextBtn;
	vertical-align: middle;
  border: none;
}

.pagination ul li:first-child a:hover span, 
.pagination ul li:last-child a:hover span {	
	width: 22px;
	height: 22px;
	padding: 0;
	margin: 0 auto;
	display: block;
	position: relative;
	.border-radius(50px);
	border:none;
	background-color: @black;
	vertical-align:middle;
  box-shadow:none;
}


.pagination ul li:first-child a span:after, 
.pagination ul li:last-child a span:after {
	content:"";
	border-color: transparent @pagingArrow transparent transparent;
  border-style: solid;
  border-width: 7px 9px 7px 9px;
	background: none ! important;
  height: 0px ! important;
  width: 0px ! important;
	.border-radius(0);
	box-shadow: none;
	position: absolute;
	left: -3px;
	top: 4px;
}

.pagination ul li:first-child a:hover span:after, 
.pagination ul li:last-child a:hover span:after {
	content:"";
	border-color: transparent @pagingArrowActive transparent transparent;
  border-style: solid;
  border-width: 7px 9px 7px 9px;
	background: none ! important;
  height: 0px ! important;
  width: 0px ! important;
	.border-radius(0);
	box-shadow: none;
	position: absolute;
	left: -3px;
	top: 4px;
}


.pagination ul li:last-child a span:after {
	border-color: transparent transparent transparent @pagingArrow;
	position: absolute;
	left: 8px;
	top: 4px;
}

.pagination ul li:last-child a:hover span:after {
	border-color: transparent transparent transparent @pagingArrowActive;
	position: absolute;
	left: 8px;
	top: 4px;
}

// Centered
.pagination-centered {
  text-align: center;
}
.pagination-right {
  text-align: right;
}
