//
// Responsive: Large desktop and up
// --------------------------------------------------


@media (min-width: 1200px) {

  // Fixed grid
  #grid > .core(@gridColumnWidth1200, @gridGutterWidth1200);

  // Fluid grid
  #grid > .fluid(@fluidGridColumnWidth1200, @fluidGridGutterWidth1200);

  // Input grid
  #grid > .input(@gridColumnWidth1200, @gridGutterWidth1200);

  // Thumbnails
  .thumbnails {
    margin-left: -@gridGutterWidth1200;
  }
  .thumbnails > li {
    margin-left: @gridGutterWidth1200;
  }
  .row-fluid .thumbnails {
    margin-left: 0;
  }

	.navbar .brand {
		display: none;
	}

	.navbar .btn-navbar{
		display: none;
	}	

	.navbar-fixed-top .navbar-inner {
		border-bottom: 1px solid @grayLight;
	}

	.lists ul li:hover,
	.lists ul li.active {
		background: @listHover;
		color: @gray;
		border-bottom: 1px solid transparents;
		box-shadow: none;
	}

	.lists ul li:hover a,
	.lists ul li.active a {
		color: @black;
		background: none;
	}

	.lists ul li:hover i {
		display: block;
		width: 25px;
		height: 25px;
		float: right;
		background: url('../img/icon_blue03.png') no-repeat left top;
		background-size: 287px;
		background-position: -135px -55px;
	}

	.lists ul li:last-child:hover {
		.border-radius(0 0 6px 6px);
	}

	.lists ul li.sub-group ul li:hover,
	.lists ul li.sub-group ul li.active {
		background: @listHover;
		color: @black;
		border-bottom: 1px solid transparents;
		box-shadow: none;
		.border-radius(0px);
	}

	.lists ul li.sub-group ul li:hover a,
	.lists ul li.sub-group ul li.active a {
		color: @black;
	}

	.lists ul li:last-child.sub-group ul li:last-child:hover,
	.lists ul li.sub-group ul li:last-child.active {
		.border-radius(0 0 6px 6px);
	}

}