<div class="panel panel-primary">
    <div class="panel-heading">3D 바차트</div>
    <div id="wrapper">
        <div class="chart">
            <h2>Population of endangered species from 2012 &ndash; 2016</h2>
            <table id="data-table" border="1" cellpadding="10" cellspacing="0" summary="The effects of the zombie outbreak on the populations of endangered species from 2012 to 2016">
                <caption>Population in thousands</caption>
                <thead>
                <tr>
                    <td>&nbsp;</td>
                    <th scope="col">2012</th>
                    <th scope="col">2013</th>
                    <th scope="col">2014</th>
                    <th scope="col">2015</th>
                    <th scope="col">2016</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <th scope="row">Carbon Tiger</th>
                    <td>4080</td>
                    <td>6080</td>
                    <td>6240</td>
                    <td>3520</td>
                    <td>2240</td>
                </tr>
                <tr>
                    <th scope="row">Blue Monkey</th>
                    <td>5680</td>
                    <td>6880</td>
                    <td>5760</td>
                    <td>5120</td>
                    <td>2640</td>
                </tr>
                <tr>
                    <th scope="row">Tanned Zombie</th>
                    <td>1040</td>
                    <td>1760</td>
                    <td>2880</td>
                    <td>4720</td>
                    <td>7520</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="btn-group">
        <button type="button" class="btn btn-success prev">이전</button>
        <button type="button" class="btn btn-success next">다음</button>
    </div>
</div>

<div class="row">
    <div class="col col-lg-12">
        <div class="panel panel-primary view-chart">

            <div class="panel-heading">3D 바 차트</div>

            <!--<h3 class="title">jQuery Plugin</h3>-->
            <div id="bar3d1" class="widget-chart"></div>
        </div>
    </div>
</div>