body {
	font-family: "MoebiusRegular";
	-webkit-user-select: none;
	-webkit-text-size-adjust: none;
}

.wrap-chart .x {
	font-size: 20px;
}

/* LINE 차트 스타일링 */
.wrap-chart .line path {
	stroke: #CCCCCC;
	stroke-width: 3;
	fill: none;
}

.wrap-chart .line .axis {
	shape-rendering: crispEdges;
}

.wrap-chart .line .x.axis line {

}

.wrap-chart .line .x.axis .minor {

}
.wrap-chart .line .text {
	fill: #FFFFFF;
}
.wrap-chart .line path {
	width: 1000px !important;
}

.wrap-chart .line .x.axis path {
	display: none;
}

.wrap-chart .line .y.axis line, .y.axis path {
	fill: none;
	stroke: #CCC;
}

/* PIE 차트 스타일링 */
.wrap-chart .pie .label{
	fill: #333;
	font-size: 20px;
}

/* 반응형 웹에 대응하는 차트 스타일링 */
.scale {
	-webkit-transform-origin: 0% 0%;
	-moz-transform-origin: 0% 0%;
	-ms-transform-origin: 0% 0%;
	-o-transform-origin: 0% 0%;
	transform-origin: 0% 0%;
	position: relative;
}

.pull-right .scale {
	-webkit-transform-origin: 100% 0%;
}

.span10 .scale {
	-webkit-transform: scale(0.7);
	-moz-transform: scale(0.7);
	-ms-transform: scale(0.7);
	-o-transform: scale(0.7);
}

.span8 .scale {
	-webkit-transform: scale(0.61);
	-moz-transform: scale(0.61);
	-ms-transform: scale(0.61);
	-o-transform: scale(0.61);
}


.span6 .scale {
	-webkit-transform: scale(0.5);
	-moz-transform: scale(0.5);
	-ms-transform: scale(0.5);
	-o-transform: scale(0.5);
}

.span4 .scale {
	-webkit-transform: scale(0.333);
	-moz-transform: scale(0.333);
	-ms-transform: scale(0.333);
	-o-transform: scale(0.333);
}

.span3 .scale {
	-webkit-transform: scale(0.2);
	-moz-transform: scale(0.2);
	-ms-transform: scale(0.2);
	-o-transform: scale(0.2);
}

.span2 .scale {
	-webkit-transform: scale(0.2);
	-moz-transform: scale(0.2);
	-ms-transform: scale(0.2);
	-o-transform: scale(0.2);
}

/* Android Default Browser scale 버그 문제 */
@media (min-width: 1200px) {
	.scale {
		-webkit-transform: scale(1);
	}
}

@media (max-width: 979px) {
	.scale {
		-webkit-transform: scale(0.75);
	}

	.span10 .scale {
		-webkit-transform: scale(0.5);
	}

	.span8 .scale {
		-webkit-transform: scale(0.5);
	}

	.span6 .scale {
		-webkit-transform: scale(0.35);
	}

	.span4 .scale {
		-webkit-transform: scale(0.2);
	}

	.span3 .scale {
		-webkit-transform: scale(0.1);
	}
}

@media (max-width: 767px) {
	.scale {
		-webkit-transform: scale(0.48);
	}

	.span6 .scale {
		-webkit-transform: scale(0.48);
	}

	.span4 .scale {
		-webkit-transform: scale(0.48);
	}

	.span3 .scale, .span2 .scale {
		-webkit-transform: scale(0.48);
	}
}

@media (max-width: 480px) {
	.span10 .scale, .span8 .scale, .span6 .scale, .span4 .scale, .scale,
	.span3 .scale, .scale, .span2 .scale, .scale{
		-webkit-transform: scale(0.35);
	}

	.wrap-chart.pull-right .scale {
		-webkit-transform-origin: 0% 0%;
		-moz-transform-origin: 0% 0%;
		-ms-transform-origin: 0% 0%;
		-o-transform-origin: 0% 0%;
		transform-origin: 0% 0%;
	}
}

@media (max-width: 320px) {
	.span10 .scale, .span8 .scale, .span6 .scale, .span4 .scale, .scale,
	.span3 .scale, .scale, .span2 .scale, .scale{
		-webkit-transform: scale(0.3);
	}
}