<section id="button" title="Button">
    <header class="page-header">
        <h2 class="title">Button</h2>
    </header>

    <div class="row">
        <div class="col col-lg-12">
            <h3 class="title">Single Toggle Button</h3>
            <button id="single-toggle-button" type="button" class="btn btn-primary">Single toggle</button>
        </div>
    </div>
    <div class="row">
        <div class="col col-lg-6 col-12">
            <h3 class="title">Horizontal radio</h3>

            <div id="radio-toggle" class="btn-group" data-toggle="buttons">
                <label class="btn btn-primary">
                    <input type="radio" name="options" id="option1">List 1
                </label>
                <label class="btn btn-primary">
                    <input type="radio" name="options" id="option2">Grid 2
                </label>
                <label class="btn btn-primary">
                    <input type="radio" name="options" id="option3">Gallery 3
                </label>
            </div>
        </div>
        <div class="col col-lg-6 col-12">
            <h3 class="title">Horizontal checkbox</h3>

            <div id="check-toggle-1" class="btn-group" data-toggle="buttons">
                <label class="btn btn-primary">
                    <input type="checkbox">b
                </label>
                <label class="btn btn-primary">
                    <input type="checkbox">
                    <em>i</em>
                </label>
                <label class="btn btn-primary">
                    <input type="checkbox">u
                </label>
            </div>
            <div id="check-toggle-2" class="btn-group" data-toggle="buttons">
                <label class="btn btn-default">
                    <input type="checkbox">b
                </label>
                <label class="btn btn-default">
                    <input type="checkbox">
                    <em>i</em>
                </label>
                <label class="btn btn-default">
                    <input type="checkbox">u
                </label>
            </div>
        </div>
    </div>
</section>