<section id="chart">
    <header class="page-header">
        <h2 class="title">Chart</h2>
    </header>
    <div class="row">
        <div class="col col-lg-6">
            <h3 class="title">수직 바차트</h3>

            <div class="barChart" style="height: 500px"></div>
        </div>
        <div class="col col-lg-6">
            <h3 class="title">수평 바차트</h3>

            <div class="horizontalBarChart" style="height: 500px"></div>
        </div>
    </div>
    <div class="row">
        <div class="col col-lg-12">
            <h3 class="title">라인 + 바차트</h3>

            <div class="linePlusBarChart" style="height: 300px"></div>
        </div>
    </div>
    <div class="row">
        <div class="col col-lg-6">
            <h3 class="title">라인차트</h3>

            <div class="lineChart" style="height: 300px"></div>
        </div>
        <div class="col col-lg-6">
            <h3 class="title">파이차트</h3>

            <div class="pieChart" style="height: 300px"></div>
        </div>
    </div>
    <div class="row">
        <div class="col col-lg-6">
            <h3 class="title">라인차트</h3>

            <div class="bar3dChart widget-chart3d" style="height: 600px"></div>
        </div>
        <div class="col col-lg-6">
            <h3 class="title">파이차트</h3>

            <div class="horizontal3dBarChart widget-chart3d" style="height: 600px"></div>
        </div>
    </div>
    <div class="row">
        <div class="col col-lg-12">
            <h3 class="title" 라인 포커스차트</h3>

            <div class="lineFocusChart widget-chart" style="height: 300px"></div>
        </div>
    </div>
</section>