<section id="date-picker" class="row">
    <header class="page-header">
        <h2 class="title">Date Picker</h2>
    </header>
    <div class="col col-lg-12">
        <div class="col col-lg-6">
            <h3 class="title">DatePicker(입력상자):</h3>

            <div class="input-group input-append date" id="date-picker1">
                <input class="form-control" size="16" type="text" value="2013-10-01 11:00:00" readonly>
                                <span class="input-group-addon add-on">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </span>
            </div>
        </div>
    </div>
</section>