<section id="editor" class="row">
    <header class="page-header">
        <h2 class="title">Editor</h2>
        <span class="label label-warning">Update</span>
        모바일 최적화 필요
    </header>
    <div class="col col-lg-12">
        <div class="widget-editor">
            <div class="btn-toolbar" data-role="editor-toolbar" data-target="#textarea">
                <div class="btn-group">
                    <a class="btn btn-default dropdown-toggle" data-toggle="dropdown" title="Font"><i
                            class="glyphicon glyphicon-font"></i><b class="caret"></b></a>
                    <ul class="dropdown-menu"></ul>
                </div>
                <div class="btn-group">
                    <a class="btn btn-default dropdown-toggle" data-toggle="dropdown" title="Font Size"><i
                            class="glyphicon glyphicon-text-height"></i>&nbsp;<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li>
                            <a data-edit="fontSize 5">
                                <span class="widget-editor-huge">Huge</span>
                            </a>
                        </li>
                        <li>
                            <a data-edit="fontSize 3">
                                <span class="widget-editor-huge">Normal</span>
                            </a>
                        </li>
                        <li>
                            <a data-edit="fontSize 1">
                                <span class="widget-editor-huge">Small</span>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="btn-group">
                    <a class="btn btn-default" data-edit="bold" title="Bold (Ctrl/Cmd+B)"><i
                            class="glyphicon glyphicon-bold"></i></a>
                    <a class="btn btn-default" data-edit="italic" title="Italic (Ctrl/Cmd+I)"><i
                            class="glyphicon glyphicon-italic"></i></a>
                    <a class="btn btn-default" data-edit="underline" title="Underline (Ctrl/Cmd+U)">Underline</a>
                    <a class="btn btn-default" data-edit="strikethrough" title="Strikethrough">Strikethrough</a>
                </div>
                <div class="btn-group">
                    <a class="btn btn-default" data-edit="insertunorderedlist" title="Bullet list"><i
                            class="glyphicon glyphicon-list"></i></a>
                    <a class="btn btn-default" data-edit="outdent" title="Reduce indent (Shift+Tab)"><i
                            class="glyphicon glyphicon-indent-left"></i></a>
                    <a class="btn btn-default" data-edit="indent" title="Indent (Tab)"><i
                            class="glyphicon glyphicon-indent-right"></i></a>
                </div>
                <div class="btn-group">
                    <a class="btn btn-default" data-edit="justifyleft" title="Align Left (Ctrl/Cmd+L)"><i
                            class="glyphicon glyphicon-align-left"></i></a>
                    <a class="btn btn-default" data-edit="justifycenter" title="Center (Ctrl/Cmd+E)"><i
                            class="glyphicon glyphicon-align-center"></i></a>
                    <a class="btn btn-default" data-edit="justifyright" title="Align Right (Ctrl/Cmd+R)"><i
                            class="glyphicon glyphicon-align-right"></i></a>
                    <a class="btn btn-default" data-edit="justifyfull" title="Justify (Ctrl/Cmd+J)"><i
                            class="glyphicon glyphicon-align-justify"></i></a>
                </div>
                <div class="btn-group">
                    <a class="btn btn-default dropdown-toggle" data-toggle="dropdown" title="Hyperlink"><i
                            class="glyphicon glyphicon-link"></i></a>

                    <div class="dropdown-menu input-append">
                        <input class="span2" placeholder="URL" type="text" data-edit="createLink"/>
                        <button class="btn" type="button">Add</button>
                    </div>
                </div>

                <div class="btn-group">
                    <a class="btn btn-default" data-edit="undo" title="Undo (Ctrl/Cmd+Z)">Undo</a>
                    <a class="btn btn-default" data-edit="redo" title="Redo (Ctrl/Cmd+Y)">Redo</a>
                </div>
            </div>

            <div id="textarea" class="widget-editor-textarea" data-featured="editor">
                Go ahead
            </div>
        </div>
    </div>
</section>