<section id="list-view" class="row">
    <header class="page-header">
        <h2 class="title">ListView(수동 테스트)</h2>
    </header>
    <div class="list-view-wrapper">
        <div id="listView" class="list-view">
            <ul class="list-group">
                <li class="list-group-item">
                    Dapibus ac facilisis in
                    <div class="pull-right">
                        <span class="badge">2</span>
                        <span class="glyphicon glyphicon-chevron-right"></span>
                    </div>
                </li>
                <li class="list-group-item">
                    Morbi leo risus
                    <div class="pull-right">
                        <span class="badge">1</span>
                        <span class="glyphicon glyphicon-chevron-right"></span>
                    </div>
                </li>
                <li class="list-group-item">
                    Cras justo odio
                    <div class="pull-right">
                        <span class="badge">14</span>
                        <span class="glyphicon glyphicon-chevron-right"></span>
                    </div>
                </li>
                <li class="list-group-item">
                    Dapibus ac facilisis in
                    <div class="pull-right">
                        <span class="badge">2</span>
                        <span class="glyphicon glyphicon-chevron-right"></span>
                    </div>
                </li>
                <li class="list-group-item">
                    Morbi leo risus
                    <div class="pull-right">
                        <span class="badge">1</span>
                        <span class="glyphicon glyphicon-chevron-right"></span>
                    </div>
                </li>
                <li class="list-group-item">
                    Cras justo odio
                    <div class="pull-right">
                        <span class="badge">14</span>
                        <span class="glyphicon glyphicon-chevron-right"></span>
                    </div>
                </li>
                <li class="list-group-item">
                    Dapibus ac facilisis in
                    <div class="pull-right">
                        <span class="badge">2</span>
                        <span class="glyphicon glyphicon-chevron-right"></span>
                    </div>
                </li>
                <li class="list-group-item">
                    Morbi leo risus
                    <div class="pull-right">
                        <span class="badge">1</span>
                        <span class="glyphicon glyphicon-chevron-right"></span>
                    </div>
                </li>
                <li class="list-group-item">
                    Dapibus ac facilisis in
                    <div class="pull-right">
                        <span class="badge">2</span>
                        <span class="glyphicon glyphicon-chevron-right"></span>
                    </div>
                </li>
                <li class="list-group-item">
                    Morbi leo risus
                    <div class="pull-right">
                        <span class="badge">1</span>
                        <span class="glyphicon glyphicon-chevron-right"></span>
                    </div>
                </li>
                <li class="list-group-item">
                    Cras justo odio
                    <div class="pull-right">
                        <span class="badge">14</span>
                        <span class="glyphicon glyphicon-chevron-right"></span>
                    </div>
                </li>
                <li class="list-group-item">
                    Dapibus ac facilisis in
                    <div class="pull-right">
                        <span class="badge">2</span>
                        <span class="glyphicon glyphicon-chevron-right"></span>
                    </div>
                </li>
                <li class="list-group-item">
                    Morbi leo risus
                    <div class="pull-right">
                        <span class="badge">1</span>
                        <span class="glyphicon glyphicon-chevron-right"></span>
                    </div>
                </li>
                <li class="list-group-item">
                    Cras justo odio
                    <div class="pull-right">
                        <span class="badge">14</span>
                        <span class="glyphicon glyphicon-chevron-right"></span>
                    </div>
                </li>
                <li class="list-group-item">
                    Dapibus ac facilisis in
                    <div class="pull-right">
                        <span class="badge">2</span>
                        <span class="glyphicon glyphicon-chevron-right"></span>
                    </div>
                </li>
                <li class="list-group-item">
                    Morbi leo risus
                    <div class="pull-right">
                        <span class="badge">1</span>
                        <span class="glyphicon glyphicon-chevron-right"></span>
                    </div>
                </li>
                <li class="list-group-item">
                    Dapibus ac facilisis in
                    <div class="pull-right">
                        <span class="badge">2</span>
                        <span class="glyphicon glyphicon-chevron-right"></span>
                    </div>
                </li>
                <li class="list-group-item">
                    Morbi leo risus
                    <div class="pull-right">
                        <span class="badge">1</span>
                        <span class="glyphicon glyphicon-chevron-right"></span>
                    </div>
                </li>
                <li class="list-group-item">
                    Cras justo odio
                    <div class="pull-right">
                        <span class="badge">14</span>
                        <span class="glyphicon glyphicon-chevron-right"></span>
                    </div>
                </li>
                <li class="list-group-item">
                    Dapibus ac facilisis in
                    <div class="pull-right">
                        <span class="badge">2</span>
                        <span class="glyphicon glyphicon-chevron-right"></span>
                    </div>
                </li>
                <li class="list-group-item">
                    Morbi leo risus
                    <div class="pull-right">
                        <span class="badge">1</span>
                        <span class="glyphicon glyphicon-chevron-right"></span>
                    </div>
                </li>
                <li class="list-group-item">
                    Cras justo odio
                    <div class="pull-right">
                        <span class="badge">14</span>
                        <span class="glyphicon glyphicon-chevron-right"></span>
                    </div>
                </li>
                <li class="list-group-item">
                    Dapibus ac facilisis in
                    <div class="pull-right">
                        <span class="badge">2</span>
                        <span class="glyphicon glyphicon-chevron-right"></span>
                    </div>
                </li>
                <li class="list-group-item">
                    Morbi leo risus
                    <div class="pull-right">
                        <span class="badge">1</span>
                        <span class="glyphicon glyphicon-chevron-right"></span>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <p>
        <button id="addItem" class="btn btn-default">더보기</button>
    </p>
</section>