<section id="media">
    <header class="page-header">
        <h2 class="title">Media</h2>
    </header>
    <div class="row">
        <div class="col col-lg-6">
            <div class="panel">
                <div class="panel-heading">MP4</div>
                <video data-option-width="100%" data-option-height="100%">
                    <source type="video/mp4" src="data/sample-media.mp4"/>
                </video>
            </div>
        </div>
        <div class="col col-lg-6">
            <div class="panel">
                <div class="panel-heading">MP3</div>
                <audio data-option-width="100%"
                       src="http://mediaelementjs.com/media/AirReview-Landmarks-02-ChasingCorporate.mp3"></audio>
            </div>
        </div>
    </div>
</section>