<section id="rangeInput" class="row">
    <header class="page-header">
        <h2 class="title">RangeInput</h2>
    </header>
    <div class="col col-lg-4">
        <input id="range1" type="range" value="51" min="1" max="100" step="0.1" class="widget-range"/>
    </div>
    <div class="col col-lg-4">
        <input id="range2" type="range" value="10" min="0" max="100" class="widget-range"
               data-range-options='{"inputShow":false,"progress":true}'/>
    </div>
    <div class="col col-lg-4">
        <input id="range3" type="range" value="30000" min="0" max="99999" step="1000" class="widget-range max-10000"/>
    </div>
</section>