<section id="typeahead" class="row">
    <header class="page-header">
        <h2 class="title">Typeahead</h2>
        <small>
            <span class="label label-warning">Update</span>Bootstrap 3에서 Drop된 상태이지만, 코너스톤에서 이전 버전보다 조금 더 기능이 강화된
            Typeahead 제공
        </small>
    </header>
    <div class="col col-lg-12">
        <div class="example example-countries">
            <h2 class="example-name">Countries</h2>

            <p class="example-description">Prefetches data, stores it in localStorage, and searches it on the client</p>

            <input class="typeahead form-control" type="text" placeholder="countries">
        </div>
    </div>
</section>