<table class="table table-striped table-bordered">
	<tr>
		<th>이름</th>
		<td>{{user.name}}</td>
	</tr>
	<tr>
		<th>이메일</th>
		<td>{{user.email}}</td>
	</tr>
	<tr>
		<th>비밀번호</th>
		<td>{{user.password}}</td>
	</tr>
</table>

<button id="delete-button" class="btn btn-danger">삭제</button>
<a href="#list" class="btn">확인</a>
