.control-group {
  &.disabled {
    input {
      background-image: url("images/bg-input-disabled.png");
      background-size: 5% 100%;
      background-repeat: repeat;
    }
  }
}

legend {
  display: block;
  width: 100%;
  margin-bottom: 22px;
  font-size: 22px;
  line-height: 26px;
  color: #222;
  border: 0;
  border-bottom: 0;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.2);
  margin: 40px 0 10px;
  font-weight: bold;
}

select,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"] {
  height: auto;
  min-height: @input-height-base; // Make inputs at least the height of their button counterpart (base line-height + padding + border)
  padding: @form-padding-base-vertical @form-padding-base-horizontal;
  font-size: @form-font-size;
  line-height: @line-height-base;
  color: @form-text-color;
  vertical-align: middle;
  background-color: @input-bg;
  border: 1px solid @input-border;
  border-radius: @input-border-radius;
  .box-shadow(~"inset 0 1px 2px rgba(0,0,0,.7), 0 1px 1px rgba(255,255,255,.27)");
  .transition(~"border-color ease-in-out .15s, box-shadow ease-in-out .15s");

  &:focus, &.focused {
    color: @form-focus-color;
    border-color: rgba(82, 168, 236, .8);
    outline: 0;
    .box-shadow(~"inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(82,168,236,.6)");
  }

  &.uneditable-input,
  &[disabled],
  &[readonly],
  fieldset[disabled] & {
    cursor: not-allowed;
    background-color: rgba(34, 34, 34, 0.22);
    .box-shadow(~"inset 0 1px 2px rgba(0, 0, 0, .7), 0 1px 1px rgba(255, 255, 255, .27)");
  }
}

select {
  height: @select-height;
  &:focus {
    color: @form-text-color;
    border: 0;
    outline: 0;
  }
}

.input-group {
  .input-group-addon {
    border: 1px solid #000000;
    .box-shadow(~"inset 0 0 1px rgba(255,255,255,.5), inset 0 1px 1px rgba(255,255,255,.5), 0 3px 3px rgba(0,0,0,.5)");
    #gradient > .vertical(#5A5D61, 0%, #3D4146, 100%);
  }
}

.form-search {
  input {
    display: inline-block;
    border-radius: 25px;
    padding: 9px;
  }
}

.help-inline {
  padding: 9px 10px 8px 10px;
  text-align: left;
  font-size: @form-font-size;
  font-weight: bold;
  color: darken(#5c6267, 30%);
  display: inline-block;
  background-color: #5c6267;
  border-radius: 4px;
  border: 1px solid #000000;
  position: relative;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.2);
  #gradient > .vertical(#5c6267, 0%, darken(#5c6267, 10%), 100%);

  & > span {
    white-space: pre-line;
    word-break: break-word;
  }
  .arrow {
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 8px;
  }

  &.top {
    margin: 0 0 15px 0;
    .arrow {
      left: 50%;
      margin-left: -11px;
      border-bottom-width: 0;
      border-top-color: darken(#5c6267, 10%);
      bottom: -8px;
      &:after {
        content: "";
        position: absolute;
        border-width: 12px;
        border-style: solid;
        top: -11px;
        left: -12px;
        border-color: transparent;
        border-bottom-width: 0;
        border-top-color: #000;
        z-index: -1;
      }
    }
  }

  &.right {
    margin: 0 0 0 -15px;
    .arrow {
      top: 13px;
      left: -8px;
      border-left-width: 0;
      border-right-color: darken(#5c6267, 5%);
      &:after {
        content: "";
        position: absolute;
        border-width: 12px;
        border-style: solid;
        top: -12px;
        left: -1px;
        border-color: transparent;
        border-left-width: 0;
        border-right-color: #000;
        z-index: -1;
      }
    }
  }

  &.bottom {
    margin: 15px 0 0 0;
    .arrow {
      left: 50%;
      top: -8px;
      margin-left: -11px;
      border-top-width: 0;
      border-bottom-color: #5c6267;
      &:after {
        content: "";
        position: absolute;
        border-width: 12px;
        border-style: solid;
        top: -1px;
        right: -12px;
        border-color: transparent;
        border-top-width: 0;
        border-bottom-color: #000;
        z-index: -1;
      }
    }
  }

  &.left {
    margin: 0 -15px 0 0;
    float: right;
    .arrow {
      top: 13px;
      right: -8px;
      border-right-width: 0;
      border-left-color: darken(#5c6267, 5%);
      &:after {
        content: "";
        position: absolute;
        border-width: 12px;
        border-style: solid;
        top: -12px;
        right: -1px;
        border-color: transparent;
        border-right-width: 0;
        border-left-color: #000;
        z-index: -1;
      }
    }
  }
}

.has-error {
  .input-with-feedback {
    border: 1px solid #000000;
    color: @form-danger-color;
    &:focus {
      color: @form-danger-color;
    }
    .placeholder-color(@form-danger-color);
  }

  .help-inline {
    .box-shadow(~"0 1px 1px rgba(0, 0, 0, 0.7)");
    #gradient > .vertical(#bf5455, 0%, darken(#bf5455, 10%), 100%);
    color: darken(#bf5455, 20%);

    &.top {
      .arrow {
        border-top-color: darken(#bf5455, 10%);
      }
    }

    &.right {
      .arrow {
        border-right-color: darken(#bf5455, 5%);
      }
    }

    &.bottom {
      .arrow {
        border-bottom-color: #bf5455;
      }
    }

    &.left {
      .arrow {
        border-left-color: darken(#bf5455, 5%);
      }
    }
  }
}

.has-success {
  .input-with-feedback {
    border: 1px solid #000000;
    color: @form-success-color;
    &:focus {
      color: @form-success-color;
    }
    .placeholder-color(@form-success-color);
  }

  .help-inline {
    .box-shadow(~"0 1px 1px rgba(0, 0, 0, 0.7)");
    #gradient > .vertical(#669357, 0%, darken(#669357, 10%), 100%);
    color: darken(#669357, 20%);

    &.top {
      .arrow {
        border-top-color: darken(#669357, 10%);
      }
    }

    &.right {
      .arrow {
        border-right-color: darken(#669357, 5%);
      }
    }

    &.bottom {
      .arrow {
        border-bottom-color: #669357;
      }
    }

    &.left {
      .arrow {
        border-left-color: darken(#669357, 5%);
      }
    }
  }
}

.has-warning {
  .input-with-feedback {
    border: 1px solid #000000;
    color: @form-warning-color;
    &:focus {
      color: @form-warning-color;
    }
    .placeholder-color(@form-warning-color);
  }
  .help-inline {
    .box-shadow(~"0 1px 1px rgba(0, 0, 0, 0.7)");
    #gradient > .vertical(#c09853, 0%, darken(#c09853, 10%), 100%);
    color: darken(#c09853, 20%);
    &.top {
      .arrow {
        border-top-color: darken(#c09853, 10%);
      }
    }

    &.right {
      .arrow {
        border-right-color: darken(#c09853, 5%);
      }
    }

    &.bottom {
      .arrow {
        border-bottom-color: #c09853;
      }
    }

    &.left {
      .arrow {
        border-left-color: darken(#c09853, 5%);
      }
    }
  }
}

.flip-area {
  .user-select();
  position: relative;
  border-radius: 25px;
  padding: 7px;
  margin: 0;
  background-color: rgba(84, 84, 84, 0.14);
  #gradient > .vertical(rgba(0, 0, 0, 0.2), 0%, rgba(255, 255, 255, 0.05), 100%);

  .flip-btn {
    position: relative;
    width: 31px;
    height: 31px;
    border-radius: 50px;
    border: 0;
    background-color: #ececec;
    float: left;
    margin-right: 15px;
    .box-shadow(~"inset 0 -1px 2px rgba(0,0,0,.4), inset 0 1px 2px rgba(255,255,255,1), 0 1px 3px rgba(0,0,0,.27)");

    &:after {
      content: "";
      width: 17px;
      height: 17px;
      border-radius: 50px;
      border: 0;
      position: absolute;
      left: 7px;
      top: 7px;
      z-index: 1000;
      background-color: #d3d3d3;
      .box-shadow(~"inset 0 0 4px rgba(0,0,0,.4), inset 0 3px 4px rgba(255,255,255,.7), inset 0 -6px 4px rgba(0,0,0,.25)");
    }
  }

  &.active > .flip-txt {
    text-align: right;
    padding: 0 0 0 15px;
    color: #ffffff;
    font-size: 16px;
    line-height: 22px;
    font-weight: bold;
    display: inline-block;
    border-radius: 20px;
    text-shadow: 0 2px 2px rgba(0, 0, 0, 0.7);
    background-color: @flip-on-bg;
    border: 2px solid #222222;
    &:after {
      display: inline-block;
      content: attr(data-on);
      color: #ffffff;
      margin-top: 5px;
    }
    & > span {
      float: right;
      margin-left: 15px;
      margin-right: 0;
    }
  }
  &:not(.fast-button) .flip-check:checked ~ .flip-txt {
    text-align: right;
    padding: 0 0 0 15px;
    color: #ffffff;
    font-size: 16px;
    line-height: 22px;
    font-weight: bold;
    display: inline-block;
    border-radius: 20px;
    text-shadow: 0 2px 2px rgba(0, 0, 0, 0.7);
    background-color: @flip-on-bg;
    border: 2px solid #222222;
    &:after {
      display: inline-block;
      content: attr(data-on);
      color: #ffffff;
      margin-top: 5px;
    }
    & > span {
      float: right;
      margin-left: 15px;
      margin-right: 0;
    }
  }

  .flip-txt {
    text-align: left;
    padding: 0 15px 0 0;
    color: #b0b0b0;
    font-size: 16px;
    line-height: 22px;
    font-weight: bold;
    display: inline-block;
    border-radius: 20px;
    text-shadow: 0 2px 2px rgba(0, 0, 0, 0.7);
    background-color: @flip-off-bg;
    border: 2px solid #222222;
    min-width: 100px;
    &:after {
      display: inline-block;
      content: attr(data-off);
      color: #ffffff;
      margin-top: 5px;
    }
  }

  .flip-check {
    position: absolute;
    left: -10000px;
  }
}

.input-checkbox {
  .user-select();
  & > input[type=checkbox] {
    display: none;
  }
  & > .control {
    position: relative;
    display: inline-block;
    border-radius: 4px;
    width: 44px;
    height: 44px;
    padding: 5px;
    margin: 0;
    cursor: pointer;
    background-color: rgba(84, 84, 84, 0.14);
    #gradient > .vertical(rgba(0, 0, 0, 0.2), 0%, rgba(255, 255, 255, 0.05), 100%);
    vertical-align: middle;
    &:before {
      content: "";
      display: inline-block;
      border-radius: 4px;
      width: 34px;
      height: 34px;
      background: #292929;
      background-size: 320px;
      .box-shadow(~"inset 0 1px 2px rgba(0, 0, 0, .7)");
    }
    &.placeholder {
      &:before {
        content: "\e013";
        position: absolute;
        color: #737373;
        width: 20px;
        height: 29px;
        font-family: 'Glyphicons Halflings';
        -webkit-font-smoothing: antialiased;
        font-style: normal;
        font-size: 24px;
        font-weight: 400;
        line-height: 1;
        display: inline-block;
        padding: 4px 10px 1px 4px;
      }
    }
  }

  &.active > .control:after,
  &:not(.fast-button) input:checked ~ .control:after {
    content: "\e013";
    position: absolute;
    top: 9px;
    left: 9px;
    color: #53a3ba;
    font-family: 'Glyphicons Halflings';
    -webkit-font-smoothing: antialiased;
    font-style: normal;
    font-size: 24px;
    font-weight: 400;
    line-height: 1;
    display: inline-block;
    padding-right: 10px;
  }

  input[disabled] ~ .control:before, input.disabled ~ .control:before {
    background-image: url(images/icon-disabled.png);
    background-size: 40px 40px;
  }
}

.input-radio {
  .user-select();
  & > input[type=radio] {
    display: none;
  }
  & > .control {
    display: inline-block;
    position: relative;
    border-radius: 25px;
    width: 44px;
    height: 44px;
    padding: 5px;
    margin: 0;
    cursor: pointer;
    background-color: rgba(84, 84, 84, 0.14);
    #gradient > .vertical(rgba(0, 0, 0, 0.2), 0%, rgba(255, 255, 255, 0.05), 100%);
    vertical-align: middle;
    &:before {
      content: "";
      display: inline-block;
      border-radius: 25px;
      width: 34px;
      height: 34px;
      background: #292929;
      background-size: 320px;
      .box-shadow(~"inset 0 1px 2px rgba(0, 0, 0, .7)");
    }
  }

  &.active > .control:after,
  &:not(.fast-button) input:checked ~ .control:after {
    content: "";
    position: absolute;
    top: 10px;
    left: 10px;
    border-radius: 24px;
    width: 24px;
    height: 24px;
    background: #292929;
    .gradient-vertical-four(#53a3ba, 0%, #2582a1, 39%, #247f9f, 54%, #195366, 100%);
  }

  input[disabled] ~ .control:before, input.disabled ~ .control:before {
    background-image: url(images/icon-disabled.png);
    background-size: 40px 40px;
  }
}
