//
// Base
// --------------------------------------------------
ul, ol {
  padding: 0;
}

// disable highlight
.btn {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.blind {
  visibility: visible;
  width: 0;
  height: 0;
  overflow: hidden;
  font-size: 0;
  line-height: 0;
  text-indent: -3000em;
  position: absolute;
}

body {
  background-color: #3f4245;
  background-image: url(images/noisy-texture-100x100.png);
  color: @text-color;
}

hr {
  margin: 22px 0;
  border: 0;
}
