.table, .table-bordered {
  // Cells
  caption + thead tr:first-child th,
  caption + thead tr:first-child td,
  colgroup + thead tr:first-child th,
  colgroup + thead tr:first-child td,
  thead:first-child tr:first-child th,
  thead:first-child tr:first-child td {
    .box-shadow(none);
  }

  thead > tr > th,
  tbody > tr > th,
  thead > tr > td,
  tbody > tr > td {
    border-top: 1px solid #232223;
    color: #ffffff;
    vertical-align: top;
    text-align: left;
    line-height: 22px;
    .box-shadow(~"inset 0 1px 1px rgba(255,255,255,.1)");
  }
}

.table-bordered {
  border: 1px solid @table-border-color;

  > thead > tr > th,
  > tbody > tr > th,
  > thead > tr > td,
  > tbody > tr > td {
    border: 1px solid @table-border-color;

    &:first-child {
      border-left: none;
    }
  }
}

// ZEBRA-STRIPING
// --------------

// Default zebra-stripe styles (alternating gray and transparent backgrounds)
.table-striped {
  > tbody {
    > tr:nth-child(odd) > td,
    > tr:nth-child(odd) > th {
      background-color: @table-bg-accent;
    }
  }
}

// HOVER EFFECT
// ------------

// Placed here since it has to come after the potential zebra striping
.table-hover {
  > tbody {
    > tr:hover > td,
    > tr:hover > th {
      background-color: @table-bg-hover;
    }
  }
}

// TABLE BACKGROUNDS
// -----------------
// Exact selectors below required to override .table-striped

.table > tbody > tr {
  > td.success,
  > th.success,
  &.success > td {
    border-color: @state-success-border;
    background-color: @state-success-bg;
  }
  > td.danger,
  > th.danger,
  &.danger > td {
    border-color: @state-danger-border;
    background-color: @state-danger-bg;
  }
  > td.warning,
  > th.warning,
  &.warning > td {
    border-color: @state-warning-border;
    background-color: @state-warning-bg;
  }
}

// Hover states for .table-hover
.table-hover > tbody > tr {
  > td.success:hover,
  > th.success:hover,
  &.success:hover > td {
    border-color: darken(@state-success-border, 5%);
    background-color: darken(@state-success-bg, 5%);
  }
  > td.danger:hover,
  > th.danger:hover,
  &.danger:hover > td {
    border-color: darken(@state-danger-border, 5%);
    background-color: darken(@state-danger-bg, 5%);
  }
  > td.warning:hover,
  > th.warning:hover,
  &.warning:hover > td {
    border-color: darken(@state-warning-border, 5%);
    background-color: darken(@state-warning-bg, 5%);
  }
}
