//
// Cornerstone Variables
// --------------------------------------------------
@theme: dark;
@brand-primary: #2094b1;
@brand-primary-darken5: darken(@brand-primary, 5%);
@text-color: #FFF;
@text-color-inverse: #000;
@font-size-base: 16px;

// Typography
// -------------------------
@font-family-sans-serif: "NanumGothic", "Helvetica Neue", Helvetica, Arial, sans-serif;
@font-family-serif: Georgia, "Times New Roman", Times, serif;
@font-family-monospace: Monaco, Menlo, Consolas, "Courier New", monospace;
@font-family-base: @font-family-sans-serif;

// Forms
// -------------------------
@input-bg: rgba(34, 34, 34, 0.64);
@input-bg-disabled: rgba(34, 34, 34, 0.22);

@input-border: transparent;
@input-border-radius: 5px;

@input-color-placeholder: @gray-light;

@input-height-base: (@line-height-computed + (@padding-base-vertical * 2) + 2);
@input-height-large: (ceil(@font-size-large * @line-height-base) + (@padding-large-vertical * 2) + 2);
@input-height-small: (ceil(@font-size-small * @line-height-base) + (@padding-small-vertical * 2) + 2);

@form-padding-base-vertical: 9px;
@form-padding-base-horizontal: 6px;

@select-height: 40px;

@form-font-size: 18px;
@form-text-color: #c0c0c0;
@form-focus-color: #2094b1;

@form-danger-color: #872a2b;
@form-success-color: #3c5d20;
@form-warning-color: #c09853;

@flip-on-bg: #28869e;
@flip-off-bg: #2f2f2f;

@state-warning-text: #c76b16;
@state-warning-bg: #993f08;
@state-warning-border: darken(spin(@state-warning-bg, -10), 3%);

@state-danger-text: #000;
@state-danger-bg: #b91636;
@state-danger-border: darken(spin(@state-danger-bg, -10), 3%);

@state-success-text: #000;
@state-success-bg: #3f842a;
@state-success-border: darken(spin(@state-success-bg, -10), 5%);

@state-info-text: #000;
@state-info-bg: #3a87ad;
@state-info-border: darken(spin(@state-info-bg, -10), 7%);

// Nav
// -------------------------
@nav-text-color: #c0c0c0;

// Forms
// -------------------------
@btn-font-size: 18px;

// Tables
// -------------------------

@table-bg: transparent;
// overall background-color
@table-bg-accent: rgba(51, 51, 51, 0.6);
// for striping
@table-bg-hover: rgba(51, 51, 51, 0.6);
// for hover

@table-border-color: #232223;
// table and cell border

// Buttons
// -------------------------

@btn-default-color: #fff;
@btn-default-bg: #5A5D61;
@btn-default-border: @btn-default-bg;

@btn-primary-color: @btn-default-color;
@btn-primary-bg: #4176a5;
@btn-primary-border: #4176a5;

@btn-success-color: @btn-default-color;
@btn-success-bg: @brand-success;
@btn-success-border: @btn-success-bg;

@btn-warning-color: @btn-default-color;
@btn-warning-bg: @brand-warning;
@btn-warning-border: @btn-warning-bg;

@btn-danger-color: @btn-default-color;
@btn-danger-bg: @brand-danger;
@btn-danger-border: @btn-danger-bg;

@btn-info-color: @btn-default-color;
@btn-info-bg: @brand-info;
@btn-info-border: @btn-info-bg;

// CSS
// -------------------------
// Scaffolding
@body-background: #3f4245 url(images/noisy-texture-100x100.png);
@body-color: @text-color;

@hr-margin: 22px 0;
@hr-border: none;

@code-padding: "";
@code-background-color: "";
@code-color: "";
@code-white-space: "";

// Typography
@title-color: #222;

// Component
// -------------------------
// Dropdown
// Button Groups
// Button Dropdowns
// Input Groups
// Nav
// Navbar
// Breadcrumb
@breadcrumb-margin: 0 0 22px;
@breadcrumb-padding: 1px 15px 1px 25px;
@breadcrumb-border: none;
@breadcrumb-border-radius: "";
@breadcrumb-background-color: rgba(0, 0, 0, 0.3);
@breadcrumb-background-image: ~"linear-gradient(top, rgba(0, 0, 0, .4) 0%, rgba(255, 255, 255, .1) 100%)";
@breadcrumb-box-shadow: ~"inset 0 -10px 10px rgba(0, 0, 0, .2), 0 2px 2px rgba(255, 255, 255, .08)";

@breadcrumb-li-padding: 5px 10px;

@breadcrumb-li-before-margin: 0 10px 0 -10px;
@breadcrumb-li-before-padding: "";
@breadcrumb-li-before-content: "";

@breadcrumb-li-after-position: "";
@breadcrumb-li-after-margin-top: "";
@breadcrumb-li-after-margin-left: "";
@breadcrumb-li-after-padding: "";
@breadcrumb-li-after-width: "";
@breadcrumb-li-after-height: "";
@breadcrumb-li-after-background: "";
@breadcrumb-li-after-color: "";
@breadcrumb-li-after-content: "";

@breadcrumb-li-a-color: #B0B0B0;
@breadcrumb-li-a-text-decoration: none;
@breadcrumb-li-a-text-shadow: 0 1px 1px rgba(0, 0, 0, 0.8);

@breadcrumb-active-color: #FFF;

// Pagination
// Label & Badge
@lb-box-shadow: ~"0 2px 2px rgba(0,0,0,.71)";
@badge-padding-bottom: "";

// Jumbtron
@jumbotron-border: "";
@jumbotron-border-radius: "";
@jumbotron-background-color: "";
@jumbotron-background-image: "";
@jumbotron-color: #000;

// Page header
// Thumbnails
@thumbnail-position: "";
@thumbnail-margin-bottom: 15px;
@thumbnail-padding: 9px 10px;
@thumbnail-border: 3px solid rgba(0, 0, 0, 0);
@thumbnail-border-radius: "";
@thumbnail-background-image: url(images/bg-dot.png);
@thumbnail-background-size: 4px;
@thumbnail-box-shadow: ~"0 0 8px rgba(0, 0, 0, 0.7)";
@thumbnail-z-index: "";

@thumbnail-a-hover-border: 3px solid #EA002C;

@thumbnail-gray-padding: "";
@thumbnail-gray-border: "";
@thumbnail-gray-border-radius: "";
@thumbnail-gray-box-shadow: "";
@thumbnail-gray-background-image: url(images/bg-dot-black.png);
@thumbnail-gray-color: #FFF;
@thumbnail-gray-title-color: #FFF;

// Alert
// Progress bars
// Media Object
// List Group
// Panel
// Wells
// Mobile Navbar
// Cornerstone List
// Vertically Grouped

// Plugin
// -------------------------
// Modal
@modal-color: @text-color-inverse;
@modal-border: "";
@modal-border-radius: "";
@modal-background-image: "";

// Dropdown
@dropdown-margin: 0;
@dropdown-padding: 0;
@dropdown-border: 1px solid #454545;
@dropdown-border-radius: 5px;
@dropdown-bg: #202020;
@dropdown-box-shadow: ~"0 5px 5px rgba(0, 0, 0, 0.5)";

@dropdown-first-border-top: none;
@dropdown-first-border-radius: 5px 5px 0 0;
@dropdown-last-padding: 5px 20px 7px 20px;
@dropdown-last-border-radius: 0 0 5px 5px;
@dropdown-last-box-shadow: none;

@dropdown-item-padding: 5px 20px;
@dropdown-item-border-top: 1px solid rgba(255, 255, 255, 0.07);
@dropdown-item-border-radius: 0;
@dropdown-item-color: #BCBCBC;

@dropdown-item-hover-background-image: ~"linear-gradient(top, #2981BB 0%, #2473A6 100%)";

@dropdown-disabled-color: #777;
@dropdown-divider-bg: #4E4E4E;

// Scrollspy: Component 스타일 상속
// Tab: Component 스타일 상속
// Tooltip: Component 스타일 상속
// Popover
@popover-color: @text-color-inverse;

// Alert
@alert-border: none;
@alert-color: #000;
@alert-box-shadow: "0 1px 1px rgba(0,0,0,.5)";
@alert-warning-bg: #b91636;
@alert-danger-bg: #c76b16;
@alert-success-bg: #3f842a;
@alert-info-bg: #3a87ad;

// Button: Component 스타일 상속
// Collapse
@collapse-background-image: none;

@collapse-heading-padding: 0;
@collapse-heading-border: none;
@collapse-heading-bg: #232425;

@collapse-toggle-display: block;
@collapse-toggle-padding: 15px;
@collapse-toggle-background-image: ~"linear-gradient(top, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0.05) 100%)";
@collapse-toggle-box-shadow: ~"inset 0 -2px 4px rgba(0, 0, 0, .1), inset 0 0 2px rgba(255, 255, 255, .3)";
@collapse-toggle-text-decoration: none;
@collapse-toggle-color: @text-color;

@collapse-heading-body-border: none;
@collapse-heading-body-bg: #232425;

// Carousel
@carousel-control-margin-top: "";
@carousel-control-margin-left: "";
@carousel-control-width: "";
@carousel-control-height: "";
@carousel-control-font-size: "";

@carousel-indicators-margin: "";
@carousel-indicators-width: "";
@carousel-indicators-height: "";
@carousel-indicators-border: "";
@carousel-indicators-border-radius: "";
@carousel-indicators-bg: "";
@carousel-indicators-box-shadow: "";
@carousel-indicators-active-bg: "";

// RangeInput
@slider-margin: 0 0 20px 0;
@slider-padding: 6px 0;
@slider-border-radius: 15px;
@slider-background-image: ~"linear-gradient(top, rgba(0, 0, 0, 0.2) 0%, rgba(255, 255, 255, 0.05) 100%)";

@slider-after-margin: 2px 6px 0 6px;
@slider-after-width: auto;
@slider-after-height: 7px;
@slider-after-border-radius: 20px;
@slider-after-bg: #292929;
@slider-after-box-shadow: "";

@slider-bar-height: 7px;
@slider-bar-margin: 2px 6px;
@slider-bar-border-radius: 20px;
@slider-bar-bg: @brand-primary;
@slider-bar-box-shadow: "";
@slider-bar-background-image: "";

@slide-handle-top: -5px;
@slide-handle-padding: 0;
@slide-handle-margin-right: 15px;
@slide-handle-width: 31px;
@slide-handle-height: 31px;
@slide-handle-border: none;
@slide-handle-border-radius: 50px;
@slide-handle-background-color: @gray-lighter;
@slide-handle-background-image: "";
@slide-handle-box-shadow: ~"inset 0 -1px 2px rgba(0, 0, 0, .4), inset 0 1px 2px rgba(255, 255, 255, 1), 0 1px 3px rgba(0, 0, 0, .27)";

@slide-handle-after-top: 7px;
@slide-handle-after-left: 7px;
@slide-handle-after-width: 17px;
@slide-handle-after-height: 17px;
@slide-handle-after-background-color: @brand-primary;
@slide-handle-after-background-image: "";
@slide-handle-after-box-shadow: ~"inset 0 0 3px rgba(0, 0, 0, .8)";

// Date Picker
@datetimepicker-margin: 0;
@datetimepicker-padding: 0;
@datetimepicker-background-color: #000;

@datetimepicker-li-a-line-height: 15px;
@datetimepicker-li-a-border-radius: "";
@datetimepicker-li-a-background-image: "";
@datetimepicker-li-a-color: #FFF;

@datetimepicker-td-background: transparent;
@datetimepicker-td-span-width: 55px;
@datetimepicker-td-span-hover-background: transparent;

@datetimepicker-thead-th-hover-background: transparent;

// Typeahead
@typeahead-minwidth: 250px;
@typeahead-bg: #FFF;
@typeahead-focus-border: 1px solid #0097cf;
@typeahead-dropdown-bg: #000;