body {
  margin-top: 56px;
  background: #e3e3e3;
}
#page {
  min-height: 640px;
}
#page > header > .navbar {
  background: #FFF;
}
#page > footer {
  margin-bottom: 42px;
}
.navbar,
.col {
  padding: 0 0 0 5px;
}
.navbar,
.col.item {
  padding: 0;
}
.navbar {
  text-align: center;
}
.navbar .navbar-brand {
  float: none;
  display: inline-block;
}
.navbar .back {
  padding: 5px;
  margin-top: 6px;
  display: none;
  width: 50px;
}
.navbar .back.enabled {
  display: block;
}
.navbar .back > .glyphicon {
  line-height: 2px;
}
.item {
  margin-bottom: 10px;
}
.itemWrapper {
  margin: 0 5px 0 0;
  background: #FFF;
  position: relative;
}
.itemWrapper:before {
  bottom: 3px;
  content: '';
  left: 3px;
  position: absolute;
  right: 3px;
  top: 3px;
  z-index: -1;
}
.itemWrapper .domain {
  white-space: pre-line;
  word-wrap: break-word;
  display: none;
}
.itemWrapper .imageWrapper {
  display: block;
}
.itemWrapper .imageWrapper img {
  width: 100%;
  height: 100%;
}
.itemWrapper .meta {
  padding: 10px;
}
@media (max-width: 320px) {
  #page {
    min-height: 480px;
  }
}
.preloader {
  background: url(../img/preloader.gif) center center no-repeat #ffffff;
}
