.ellipsis {
  width: 100%;
  text-overflow: ellipsis;
  display: inline-block;
  overflow: hidden;
}
.show-grid .col {
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #EEE;
  border: 1px solid #DDD;
}
.btn > .glyphicon {
  font-size: 21px;
  display: inline-block;
  padding: 2px 1px 3px 1px;
  line-height: 0;
}
.pagination.pagination-circle > li > a,
.pagination.pagination-circle > li > span {
  padding: 6px 10.21897810218978px;
}
.pagination-large.pagination-circle > li > a,
.pagination-large.pagination-circle > li > span {
  padding: 14px 13.559322033898306px;
}
.pagination-small.pagination-circle > li > a,
.pagination-small.pagination-circle > li > span {
  padding: 6.9230769230769225px 8.75px;
}
.nav-tabs-bottom {
  border-top: 1px solid #ddd;
  border-bottom: none;
}
.nav-tabs-bottom > li {
  margin-top: -1px;
}
.nav-tabs-bottom > li > a {
  margin-right: 2px;
  line-height: 1.428571429;
  border: 1px solid transparent;
  border-radius: 0 0 4px 4px;
}
.nav-tabs-bottom > li > a:hover {
  border-color: #eeeeee #eeeeee #dddddd;
}
.nav-tabs-bottom > li.active > a,
.nav-tabs-bottom > li.active > a:hover,
.nav-tabs-bottom > li.active > a:focus {
  color: #555555;
  background-color: #ffffff;
  border: 1px solid #ddd;
  border-top-color: transparent;
  cursor: default;
}
.navbar-nav > li > a > .glyphicon {
  font-size: 16.8px;
  display: inline-block;
  margin: 0 5px 0 0;
  line-height: 5px;
}
.navbar-icon li > a {
  font-size: 0;
}
.navbar-icon li > a > .glyphicon {
  line-height: 0;
}
.navbar-icon .dropdown-menu li > a {
  font-size: 14px;
}
.navbar-mobile {
  overflow: hidden;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flexbox;
}
.navbar-mobile .navbar-mobile-list-style {
  text-align: center;
  padding: 0 0 5px 0;
  border: 1px solid #dddddd;
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  box-flex: 1;
}
.navbar-mobile > .active {
  background-color: #d5d5d5;
  color: #555555;
}
.navbar-mobile > li {
  list-style-type: none;
  text-align: center;
  padding: 0 0 5px 0;
  border: 1px solid #dddddd;
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  box-flex: 1;
}
.navbar-mobile > a {
  display: block;
  text-align: center;
  padding: 0 0 5px 0;
  border: 1px solid #dddddd;
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  box-flex: 1;
}
.navbar-mobile a {
  text-decoration: none;
  color: #777777;
}
.navbar-mobile a > .glyphicon {
  font-size: 21px;
  display: block;
  padding: 10px 0 0 0;
  margin-bottom: -5px;
}
.navbar-mobile a:hover:not(.active),
.navbar-mobile a:focus:not(.active) {
  color: #333333;
  background-color: transparent;
}
.tab-content {
  position: relative;
  padding: 20px 0;
  overflow: auto;
}
.list-group-cornerstone {
  margin: -15px;
}
.panel-group > .panel {
  border-radius: 0;
  margin-bottom: 0;
}
.panel-group > .panel:first-child {
  border-radius: 4px 4px 0 0;
}
.panel-group > .panel:last-child {
  border-radius: 0 0 4px 4px;
  margin-bottom: 20px;
}
.panel-group .panel-sub-heading {
  font-size: 15.400000000000002px;
}
.list-group-item .glyphicon.pull-right {
  margin-right: -15px;
}
@font-face {
  font-family: 'NanumGothic';
  src: url('../fonts/NanumGothic-Regular.eot');
  src: local('NanumGothic'), url('../fonts/NanumGothic-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/NanumGothic-Regular.woff2') format('woff2'), url('../fonts/NanumGothic-Regular.woff') format('woff'), url('../fonts/NanumGothic-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'NanumGothic';
  src: url('../fonts/NanumGothic-Bold.eot');
  src: local('NanumGothic'), url('../fonts/NanumGothic-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/NanumGothic-Bold.woff2') format('woff2'), url('../fonts/NanumGothic-Bold.woff') format('woff'), url('../fonts/NanumGothic-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}
body {
  font-family: NanumGothic, Dotum, sans-serif;
}
