.dataTables_length label {
  float: left;
  text-align: left;
  margin: 0;
  line-height: 56px;
}

.dataTables_length select {
}

.dataTables_filter label {
  float: right;
  margin: 0;
  line-height: 56px;
}

.dataTables_info {
  padding-top: 8px;
}

.dataTables_paginate {
  margin: 0 auto;
}

table {
  margin: .5em 0 1em 0;
  clear: both;
}

.dataTables_paginate.pagination2 a {
  font-size: 0;
}

@media(min-width: 768px) {
  .dataTables_length label {
  }
}