//
// pagination2 (multiple pages)
// --------------------------------------------------


.pagination2 {
	background-color: @pagingBackground;
	.border-radius(3px);
	padding: 3px 0 5px 3px;
	text-align: center;
	.box-shadow(~"inset 0 1px 2px rgba(0,0,0,.5)");
 }
.pagination2 ul {
  display: inline-block;
  .ie7-inline-block();
  margin: 0 auto;
  .border-radius(3px);
  .box-shadow(0 1px 2px rgba(0,0,0,.05));
}
.pagination2 li {
  display: inline-block;
	margin-left: -4px;
	padding: 0 4px;
	text-align: center;
	vertical-align: middle;
  }

.pagination2 li:first-child {
	margin-right: 9px;
}

.pagination2 li:last-child {
	margin-left: 3px;
}

.pagination2 a {
	color: @pagingTxt;
	width: 33px;
	padding: 7px 0 7px 0;
	background: @pagingArrow;
  border: 1px solid rgba(255,255,255,0.05);
	border-top: 1px solid rgba(255,255,255,0.2);
	border-bottom: 0;
  .border-radius(4px);
	vertical-align: middle;
	display:block;
  .box-shadow(~"inset 0 0 2px rgba(255,255,255,.1), 0 5px 5px rgba(0,0,0,.4)");
}
.pagination2 a:hover,
.pagination2 .active a {
	color: @pagingActive;
	font-weight: bold;
	text-decoration:none;
	border-top: none;
	border-bottom: 1px solid rgba(255,255,255,.15);
  background-color: @pagingNumBg;
	.box-shadow(~"inset 0 2px 3px rgba(0,0,0,.5), 0 0 1px rgba(255,255,255,.15)");
}

.pagination2 li:first-child a, .pagination2 li:last-child a {
	padding: 4px;
}

.pagination2 ul li:first-child a span, 
.pagination2 ul li:last-child a span {
	width: 22px;
	height: 22px;
	padding: 0;
	margin: 0 auto;
	display: block;
	position: relative;
	.border-radius(50px);
  background-color: @pagingNextBtn;
	vertical-align: middle;
  border: none;
  .box-shadow(~"inset 0 1px 1px rgba(0,0,0,1), 0 1px 1px rgba(255,255,255,0.4)");
}

.pagination2 ul li:first-child a:hover span, 
.pagination2 ul li:last-child a:hover span {	
	width: 22px;
	height: 22px;
	padding: 0;
	margin: 0 auto;
	display: block;
	position: relative;
	.border-radius(50px);
	border:none;
	vertical-align:middle;
  box-shadow:none;
	background-color: @white;
}


.pagination2 li:first-child a span .arrow, 
.pagination2 li:last-child a span .arrow {
	border-color: transparent @pagingArrow transparent transparent;
  border-style: solid;
  border-width: 7px 9px 7px 9px;
	background: none;
  height: 0px;
  width: 0px;
	.border-radius(0);
	box-shadow: none;
	position: absolute;
	left: -4px;
	top: 4px;
}

.pagination2 li:first-child a span:after, 
.pagination2 li:last-child a span:after {
	content:"";
	border-color: transparent @pagingArrow transparent transparent;
  border-style: solid;
  border-width: 7px 9px 7px 9px;
	background: none ! important;
  height: 0px ! important;
  width: 0px ! important;
	.border-radius(0);
	box-shadow: none;
	position: absolute;
	left: -3px;
	top: 4px;
}

.pagination2 li:first-child a:hover span:after, 
.pagination2 li:last-child a:hover span:after {
	content:"";
	border-color: transparent @pagingArrowActive transparent transparent;
  border-style: solid;
  border-width: 7px 9px 7px 9px;
	background: none ! important;
  height: 0px ! important;
  width: 0px ! important;
	.border-radius(0);
	box-shadow: none;
	position: absolute;
	left: -3px;
	top: 4px;
}


.pagination2 li:last-child a span:after {
	border-color: transparent transparent transparent @pagingArrow;
	position: absolute;
	left: 8px;
	top: 4px;
}

.pagination2 li:last-child a:hover span:after {
	border-color: transparent transparent transparent @pagingArrowActive;
	position: absolute;
	left: 8px;
	top: 4px;
}


// Centered
.pagination2-centered {
  text-align: center;
}
.pagination2-right {
  text-align: right;
}
