@import "../css/fonts/stylesheet.css";
@import "../../libs/bootstrap/less/variables.less"; // Modify this for custom colors, font-sizes, etc
@import "../../libs/bootstrap/less/mixins.less";
@import "plugin-mixins.less";

// COMMON
body {
    font-family: "MoebiusRegular", sans-serif, dotum !important;
    font-size: 12px;
    padding: 0;
    margin: 0;
    background: url('../img/linen_bg_tile.jpg') repeat center top;
/* background-color: #333; */
}

input, button, select, textarea {
    font-family: "MoebiusRegular", sans-serif, dotum;
}

h4 {
    line-height: 36px;
}

// Layout
.content {
    min-height: 300px;
    background: rgb(255, 255, 255); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(237, 237, 237, 1) 81%, rgba(243, 243, 243, 1) 91%, rgba(255, 255, 255, 1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255, 255, 255, 1)), color-stop(81%, rgba(237, 237, 237, 1)), color-stop(91%, rgba(243, 243, 243, 1)), color-stop(100%, rgba(255, 255, 255, 1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(237, 237, 237, 1) 81%, rgba(243, 243, 243, 1) 91%, rgba(255, 255, 255, 1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(237, 237, 237, 1) 81%, rgba(243, 243, 243, 1) 91%, rgba(255, 255, 255, 1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(237, 237, 237, 1) 81%, rgba(243, 243, 243, 1) 91%, rgba(255, 255, 255, 1) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(255, 255, 255, 1) 0%, rgba(237, 237, 237, 1) 81%, rgba(243, 243, 243, 1) 91%, rgba(255, 255, 255, 1) 100%); /* W3C */

    .border-radius(5px);
    .box-shadow(1px 1px 2px 3px #333333);

    padding: 0 10px;
    margin-bottom: 20px;
}

.content .span4 {
    margin-bottom: 20px;
}

footer {
    color: #CCC;
}

footer > div {
    width: 250px;
    height: 250px;
    margin: 0 auto;
    .box-shadow(1px 1px 2px 3px #333333);
    border: 30px solid @white;
}

nav {
    position: fixed;
    right: 5px;
    bottom: 5px;
}

.no-padding {
    padding: 0;
}

.auto-height {
    height: auto
}

.dash-row {
    padding: 0 20px;
}

.dash-head {
    margin: 20px 0 0;
    padding: 3px 25px;
    background: #CCC;
    border: 1px solid #979797;
    border-top: 1px solid #BBB;
    text-shadow: 0 1px 0px #EEE;
    font-size: 18px;
    .border-radius(5px 5px 0 0);
    .box-shadow(inset 0 -1px 0 1px #BBB);
}

.dash-widget {
    background: #DDD;
    border: 1px solid #AAA;
    border-top: none;
    padding: 25px;
    margin: 0px 0 20px;
    .box-shadow(inset 0px 0px 0px 1px #EFEFEF);
    .border-radius(0 0 5px 5px);
    .transition(all 0.3s linear);
    overflow: auto;
}

.width-full {
    width: 100%;
}

.page-header {
    border-bottom: 3px solid #CCC;
}

.accordion-heading, .accordion-inner {
    background-color: @white;
}

#collapse {
    .collapse { // 하드웨어 가속
    }
}

#dropdown {
    .dash-widget {
        min-height: 200px;
    }
}

.scrollspy-example {
    height: 200px;
    overflow: auto;
    position: relative;
}

#tab {
    #myTab {
        margin: 0;
        li {
            a {
                background-color: @white;
            }
            a:hover {
                background-color: @grayLighter;
            }
        }
        li.open {
            a.dropdown-toggle {
                background-color: @gray;
            }
        }
    }
    #myTabContent {
        background-color: @white;
        margin: 0 0 0 1px;
        padding: 10px;
    }
}

#tooltip {
    li {
        display: inline;
        padding: 0 10px;
    }
}

#loadingCircle {
    #spinner {
        background: rgba(3, 3, 3, 0.6);
        width: 220px;
        height: 220px;
        margin: 0 auto;
        .border-radius(10px);
        overflow: hidden;
    }
}

body {
    .no-touch-highlight();
}
input {
    width: attr(data-width px);
}
input[type=range]:first-child::-webkit-slider-thumb{
    -webkit-appearance: none !important;
    width: 50px;
    height: 50px;
    background-color: #FFF;
}

