.unselectable() {
    -webkit-user-select: none; /* Safari, Chrome */
    -khtml-user-select: none; /* Konqueror */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE */
    user-select: none; /* CSS3 */
}

.border-radius(@radius) {
    -webkit-border-radius: @radius;
    -moz-border-radius: @radius;
    border-radius: @radius;
}

// Drop shadows
.box-shadow(@shadow) {
    -webkit-box-shadow: @shadow;
    -moz-box-shadow: @shadow;
    box-shadow: @shadow;
}

// Transitions
.transition(@transition) {
    -webkit-transition: @transition;
    -moz-transition: @transition;
    -o-transition: @transition;
    transition: @transition;
}


.fixed-center(@width, @height){
    position: fixed;
    top: 50%;
    left: 50%;
    margin-left: -(@width / 2);
    margin-top: -(@height / 2);
}

.fixed-all-width(){
    position: fixed;
    top: 0;
    left: 0;
    margin-left: 0;
    margin-top: 0;
}

.no-touch-highlight(){
    margin: 0;
    overflow-x: visible;
    -webkit-text-size-adjust: none;
    -ms-text-size-adjust: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}